<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	
		
		<th:block layout:fragment="content-header">
          <div class="content-header">
              <div>
              	<h2 class="content-title card-title">챌린지 개인 점수</h2>
              </div>             
          </div>                              
		</th:block>
		
		<th:block layout:fragment="content-body">
			<div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-6 col-6 col-md-3">
                                <select class="form-select" id="searchType" onchange="updateSearchSuggestions()">
                                <option value="cgName">챌린지 이름</option>                                
                              </select>
                            </div>
                            <!-- 검색어 입력 -->
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input list="searchSuggestions" type="text" placeholder="검색어를 입력하세요" class="form-control" id="searchKeyword" autocomplete=off />
                                <datalist id="searchSuggestions"></datalist>
                            </div>

                            <!-- 날짜 선택 -->
                            <div class="col-lg-6 col-6 col-md-3">
                                <div class="date-container">
                                    <p>날짜</p>
                                    <input type="date" class="date" id="startDate" /> ~
                                    <input type="date" class="date" id="endDate" />
                                </div>
                            </div>
                            <input class="searchBtn" type="button" value="검색" onclick="filterData()" />
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">월별 순위 번호</th>
                                        <th scope="col">년</th>
                                        <th scope="col">월</th>                                                                              
                                        <th scope="col">챌린지이름</th>
                                        <th scope="col">멤버 이름</th>
                                        <th scope="col">누적달성률(%)</th>
                                        <th scope="col">누적참여율(%)</th>
                                        <th scope="col">달성률점수</th>
                                        <th scope="col">참여율점수</th>
                                        <th scope="col">좋아요점수</th>
                                        <th scope="col">댓글수점수</th>
                                        <th scope="col">총합점수</th>
                                        <th scope="col">순위</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                	<th:block th:if="${personalScorelist != null}">
                                		<tr th:each="l : ${personalScorelist}" class="text-center">
                                			<td th:text="${l.cpslNum}"></td>
                                			<td th:text="${l.cpslYear}"></td>
                                			<td th:text="${l.cpslMonthly}"></td>
                                			<td th:text="${l.challengeInfo.cgName}"></td>
                                			<td th:text="${l.memberInfo.mbrName}"></td>
                                			<td th:text="${l.cpslCumulativePerformanceRate}"></td>
                                			<td th:text="${l.cpslCumulativeParticipationRate}"></td>
                                			<td th:text="${l.cpslCumulativePerformanceScore}"></td>
                                			<td th:text="${l.cpslCumulativeParticipationScore}"></td>
                                			<td th:text="${l.cpslLikeScore}"></td>
                                			<td th:text="${l.cpslCommentsCount}"></td>
                                			<td th:text="${l.cpslTotalScore}"></td>
                                			<td th:text="${l.cpslRank}"></td>
                                		</tr>                                  	                     
                                	</th:block>                      
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
		</th:block> 

		<!--/* 사용자 추가 js file */-->
        <th:block layout:fragment="customJsResource">
        	<!-- <script th:src="@{/manage/assets/js/admin/admin-challenge-personal-score-list.js}"></script> -->
        </th:block>
         
        <!--/* 사용자 추가 js script */-->
        <th:block layout:fragment="customJs">
        	<script>
        	
        	</script>
        </th:block> 
</html>