<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	
		
		<th:block layout:fragment="content-header">
          <div class="content-header">
              <div>
              	<h2 class="content-title card-title">보상 지급 기록</h2>
              </div>             
          </div>                                   
		</th:block>
		
		<th:block layout:fragment="content-body">
			<div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-6 col-6 col-md-3">
                                <select class="form-select" id="searchType" onchange="updateSearchSuggestions()">
                                    <option value="cgName">챌린지 이름</option>
                                    <option value="mbrId">보상수령멤버</option>
                                    <option value="rhNum">보상 내역</option>
                                </select>
                            </div>
                            <!-- 검색어 입력 -->
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input list="searchSuggestions" type="text" placeholder="검색어를 입력하세요" class="form-control" id="searchKeyword" autocomplete=off />
                                <datalist id="searchSuggestions"></datalist>
                            </div>

                            <!-- 날짜 선택 -->
                            <div class="col-lg-6 col-6 col-md-3">
                                <div class="date-container">
                                    <p>날짜</p>
                                    <input type="date" class="date" id="startDate" /> ~
                                    <input type="date" class="date" id="endDate" />
                                </div>
                            </div>
                            <input class="searchBtn" type="button" value="검색" onclick="filterData()" />
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>                                                                                                                     
                                        <th scope="col">보상 지급 번호</th>                              
                                        <th scope="col">챌린지 이름</th>                              
                                        <th scope="col">보상 수령 멤버</th>
                                        <th scope="col">보상 내역</th>
                                        <th scope="col">보상 선정일</th>
                                        <th scope="col">보상 선정 관리자</th>
                                        <th scope="col">보상 지급일</th>                                       
                                    </tr>
                                </thead>
                                <tbody id="resultTable">
                                    

                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
		</th:block> 

		<!--/* 사용자 추가 js file */-->
        <th:block layout:fragment="customJsResource">
        	<script th:src="@{/manage/assets/js/admin/admin-reward-payment-history.js}"></script>
        </th:block>
         
        <!--/* 사용자 추가 js script */-->
        <th:block layout:fragment="customJs">
        	<script>
        	
        	</script>
        </th:block> 
</html>