<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	
		
		<th:block layout:fragment="content-header">
          <div class="content-header">
              <div>
              	<h2 class="content-title card-title">챌린지 점수</h2>
              </div>             
          </div>                              
		</th:block>
		
		<th:block layout:fragment="content-body">
			<div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-6 col-6 col-md-3">
                                <select class="form-select" id="searchType" onchange="updateSearchSuggestions()">
                                <option value="cgName">챌린지 이름</option>                               
                              </select>
                            </div>
                             <!-- 검색어 입력 -->
                            <div class="col-lg-4 col-md-6 me-auto searchInput">
                                <input list="searchSuggestions" type="text" placeholder="검색어를 입력하세요" class="form-control" id="searchKeyword" autocomplete=off />
                                <datalist id="searchSuggestions"></datalist>                               
                                
                                <p class="searchLeft align-content">날짜</p>
                                <input type="date" class="date date-container searchLeft" id="startDate" />
                                <p class="searchLeft">~</p> 
                                <input type="date" class="date date-container searchLeft" id="endDate" />
                                
                                <input id="searchBtn" class="searchBtn" type="button" value="검색" />
                            </div>
                        </div>
                    </header>

                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">월별 순위 번호</th>
                                        <th scope="col">년</th>
                                        <th scope="col">월</th>                                                                              
                                        <th scope="col">챌린지이름</th>                              
                                        <th scope="col">누적달성률(%)</th>
                                        <th scope="col">누적참여율(%)</th>
                                        <th scope="col">난이도점수</th>
                                        <th scope="col">달성률점수</th>
                                        <th scope="col">참여율점수</th>
                                        <th scope="col">좋아요점수</th>                                        
                                        <th scope="col">총합점수</th>
                                        <th scope="col">순위</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                <th:block th:if="${scoreList != null}">
                                	<tr th:each="l : ${scoreList}"  class="text-center">
                                		<td th:text="${l.mcslNum}"></td>
                                		<td th:text="${l.mcslYear}"></td>
                                		<td th:text="${l.mcslMonthly}"></td>
                                		<td th:text="${l.challengeInfo.cgName}"></td>
                                		<td th:text="${l.mcslCumulativePerformanceRate}"></td>
                                		<td th:text="${l.mcslCumulativeParticipationRate}"></td>
                                		<td th:text="${l.mcslLevelScore}"></td>
                                		<td th:text="${l.mcslCumulativePerformanceScore}"></td>
                                		<td th:text="${l.mcslCumulativeParticipationScore}"></td>
                                		<td th:text="${l.mcslLikeScore}"></td>
                                		<td th:text="${l.mcslTotalScore}"></td>
                                		<td th:text="${l.mcslRank}"></td>                                	
                                	</tr>                               
                                </th:block>
                                                                                     
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                
                <!-- 페이징 -->
               <div class="pagination-area mt-15 mb-50">
              		<nav>
                   <ul class="pagination justify-content-center">
                   	<li class="page-item" th:classappend="${currentPage < 2} ? 'disabled'">
                   		<a class="page-link" th:href="@{/admin/challenge/scorelist}">
                   			<i class="material-icons md-first_page"></i>
                   		</a>
                   	</li>
                   	<li class="page-item" th:classappend="${currentPage < 2} ? 'disabled'">
                   		<a class="page-link" th:href="@{/admin/challenge/scorelist(currentPage=${currentPage - 1})}">
                   			<i class="material-icons md-chevron_left"></i>
                   		</a>
                   	</li>
                   		<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
					        <li class="page-item" th:classappend="${num == currentPage} ? 'active'">
					            <a class="page-link" th:href="@{/admin/challenge/scorelist(currentPage=${num})}" th:text="${num}"></a>
					        </li>
					    </th:block>     
                    <li class="page-item" th:classappend="${currentPage eq lastPage} ? 'disabled'">
                        <a class="page-link" th:href="@{/admin/challenge/scorelist(currentPage=${currentPage +1})}"><i class="material-icons md-chevron_right"></i></a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage eq lastPage} ? 'disabled'">
                        <a class="page-link" th:href="@{/admin/challenge/scorelist(currentPage=${lastPage})}"><i class="material-icons md-last_page"></i></a>
                    </li>
                   </ul>
               </nav>
           </div>
		</th:block> 

		<!--/* 사용자 추가 js file */-->
        <th:block layout:fragment="customJsResource">
        	<script th:src="@{/manage/assets/js/admin/admin-challenge-score-list.js}"></script>
        </th:block>
         
        <!--/* 사용자 추가 js script */-->
        <th:block layout:fragment="customJs">
        	<script>
	        	
        	</script>
        </th:block> 
</html>