<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/challenge/user-challenge-list.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/challenge/user-challenge-view.css}" rel="stylesheet" type="text/css" />
</head>
	<th:block layout:fragment="content-body" class="main-container">
		<!-- challenge-list-view modal -->
		<div th:replace="~{user/challenge/challenge-list-view :: challenge-list-view}"></div>
		
		<!-- container -->
	    <div class="view-container">
		    <!-- 챌린지 생성 모달 -->
            <div id="create-challenge-modal" class="modal-overlay" th:replace="~{user/challenge/create-challenge :: create-challenge}"></div>
			
		    <!-- 챌린지 상세 정보 모달 -->
            <div th:replace="~{user/challenge/challenge-list-view :: challenge-list-view}"></div>
	        
	        <section class="tag">
	            <div class="tag-buttons">
	                <button type="button">#다이어트</button>
	                <button type="button">#클린푸드</button>
	                <button type="button">#고단백질</button>
	                <button type="button">#비건</button>
	                <button type="button">#채식</button>
	                <button type="button">#건강식단</button>
	                <button type="button">#저탄고지</button>
	            </div>
	            <div class="create-button">
	                <button type="button" id="create-challenge-open-btn">생성</button>
	            </div>
	        </section>
	        <!-- 카드 목록 -->
	        <section class="card-grid" th:if="${challengeList}">
	            <!-- 카드 1 -->
	            <div class="card" th:each="cl, iterStat : ${challengeList}" th:id="'card-' + ${iterStat.index}">
	                <img th:src="${cl.challengePicture}" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <a href="#" class="tag-a"><h3 th:text="|# ${cl.challengeTopicName}|" class="challenge-tag"></h3></a>
	                        <a href="#"><h3 th:text="${cl.challengeName}" class="challenge-name back-ground"></h3></a>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p th:text="${cl.challengeTopicLevel}"></p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p th:text="${#dates.format(cl.challengeStartDate, 'yyyy/MM/dd')}"></p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p th:text="|${cl.challengeCurrentMember}/${cl.challengeMaxMember}|"></p>
	                        </div>
	                    </div>
	                    <p th:text="${cl.challengeContent}" class="challenge-text"></p>
	                </div>
	            </div>
	        </section>
	        <p th:if="${challengeList == null || challengeList.isEmpty()}">챌린지가 없습니다.</p>
	    </div>
	</th:block> 
	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
	    <!-- 반드시 jquery 기능이 있는 라이브러리 파일을 연결해야 함 -->
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	    <script th:src="@{/assets/js/layout.js}"></script>
	    <script th:src="@{/assets/js/challenge/user-challenge-list.js}"></script>
    </th:block> 
</html>