<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/challenge-feed-default}">
<head>
	<link th:href="@{/assets/css/challenge/user-challenge-list.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/challenge/user-challenge-view.css}" rel="stylesheet" type="text/css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
</body>
	<!-- main container -->
    <th:block layout:fragment="content-body">
    	<div class="challenge-main-container">
    		<!-- aside start -->
	        <div class="sidebar-container">
	        	<div class="sidebar">
				    <ul id="cl-create">
				        <li><img src="https://velog.velcdn.com/images/mekite/post/f10ed4e5-90f3-4720-8acd-604bc37438bb/image.png" alt="검색 아이콘"></li>
				        <li id="createChallengeOpenButton"><a href="#">챌린지 생성</a></li>
				    </ul>
				    <ul id="cf-create">
				        <li><img src="https://velog.velcdn.com/images/mekite/post/8e8cac00-6315-421c-bfb1-70675937147c/image.png" alt="검색 아이콘"></li>
				        <li id="createChallengeFeed"><a href="#">챌린지 피드 만들기</a></li>
				    </ul>
				    <ul id="cf_mbr_search-panel">
				        <li><img src="https://velog.velcdn.com/images/mekite/post/b5bc9a31-0da4-4e17-825d-0e2a15d7d554/image.png" alt="검색 아이콘"></li>
				        <li class="open-memberlist-modal" id="challengeMemberList" th:data-challenge-code="${challengeCode}">
					        <a href="#">챌린지 멤버 조회</a>
					    </li>
				    </ul>
				</div>
	        </div>
	        <!-- aside end -->
	        
	        <!-- challenge member modal 챌린지 참여 멤버 모달 -->
	        <div class="cf-mbr-modal-overlay" id="cf-mbr-modal-overlay">
		        <div class="modal-container" id="cf-mbr-modal">
		            <div class="cf-modal-header" id="search-modal-header">
		                <h2>챌린지 참여 멤버</h2>
		                <img id="cf-mbr-modal-close" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
		            </div>
		            <hr>
		            <div class="cf-mbr-modal-body">
		                <div class="challenge-mbr-list">
		                	<section th:if="${memberList != null and !memberList.isEmpty()}">
		                		<div >
		                			<label for="challengeName">챌린지이름</label>
		                			<label for="challengeName" th:text="${memberList.challengeName}"></label>
		                			<input type="hidden" name="challengeCode" th:value="${challengeCode}" />
		                		</div>
		                		<div >
		                			<label for="">참여자</label>
		                			<select name="" id="">
		                				<option value="">참여자를 선택해주세요</option>
		                				<option th:if="${memberList}" 
		                						th:each="cml : ${memberList}" 
		                						th:value="${cml.memberId}" 
		                						th:text="${cml.memberId}">
		                				</option>
		                			</select>
		                		</div>
		                		<div >
		                			<label for="">신고유형</label>
		                			<select name="" id="">
		                				<option value="">신고유형을 선택해주세요</option>
		                				<option value="cmwc_001">참여율 저조</option>
		                				<option value="cmwc_002">친목(파벌 형성)</option>
		                				<option value="cmwc_003">비매너</option>
		                				<option value="cmwc_004">멤버간 분쟁</option>
		                				<option value="cmwc_005">정치/종교적 발언</option>
		                				<option value="cmwc_006">개인 멤버 접근 시도</option>
		                				<option value="cmwc_007">타 챌린지 언급 금지</option>
		                			</select>
		                		</div>
		                		<div >
		                			<label for="">발생위치</label>
		                			<select name="" id="">
		                				<option value="">피드/댓글 선택해주세요</option>
		                				<option value="olc_005">챌린지내 피드</option>
		                				<option value="olc_006">챌린지내 댓글</option>
		                			</select>
		                		</div>
		                		<div >
		                			<label for="">신고글</label>
		                			<select name="" id="">
		                				<!--/* 참여자 선택시 change 이벤트에 따라 댓글과 피드 목록 렌더링(ajax) */-->
		                				<!--/* 예시: [피드]  */-->
		                				<!--/* 예시: [댓글]  */-->
		                				<!--/* 
		                					width 값에 따라 ... 말줄임
		                					<div class="txt_line">통영의 신흥보물 강구안의 동쪽벼랑인 동피랑의 벽화마을을 다녀왔다</div>
		                					.txt_line {
											      width:70px;
											      padding:0 5px;
											      overflow:hidden;
											      text-overflow:ellipsis;
											      white-space:nowrap;
											  }
		                				 */-->
		                				<option value="">참여자의 피드/댓글 선택해주세요</option>
		                				<option value="olc_005">챌린지내 피드</option>
		                				<option value="olc_006">챌린지내 댓글</option>
		                			</select>
		                		</div>
						        
						    </section>
			                <!-- <img src="https://velog.velcdn.com/images/mekite/post/21a70790-1027-41c2-a741-d0cf3859686e/image.png" alt="구분" id="section-bar"> -->
				            <div th:if="${memberList == null or memberList.isEmpty()}">
							    <p>참여중인 멤버가 없습니다.</p>
							</div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- challenge member modal end -->
	        
	        <!-- warning modal 경고 모달 -->
	        <div class="popup-wrap" id="cf-warning-modal-overlay" style="display: none;">
		       <div class="popup" id="cf-warning-modal">
		           <div class="popup-body" id="memberWarnigButton">
		               <ul id="warning-category-list">
		                   <!-- <li class="pop">참여율 저조</li>
		                   <li class="pop">친목(파벌 형성)</li>
		                   <li class="pop">비매너</li>
		                   <li class="pop">멤버간 분쟁</li>
		                   <li class="pop">정치/종교적 발언</li>
		                   <li class="pop">개인 멤버 접근 시도</li>
		                   <li class="pop close" id="cf-warning-modal-overlay">취소</li> -->
		               </ul>
		           </div>
		       </div>
		   </div>
		   <!-- warning modal end -->
	        
	        <!-- main content -->
	        <main class="main">
		        <!-- main content container -->
	            <div class="container">
	                <!-- option modal start -->
	                <div class="popup-wrap feed-option-modal-wrap" style="display: none;">
	                    <div class="popup">
	                        <div class="popup-body" id="feedOptionButton">
	                            <div class="body-content">
	                                <div class="body-titlebox">
	                                    <ul th:if="${challengeFeedList != null and !challengeFeedList.isEmpty()}">
	                                        <li class="pop" id="cl-modify-modal" data-challenge-feed-code="">챌린지 피드 수정</li>
	                                        <li class="pop" id="cl-delete-modal" data-challenge-feed-code="">챌린지 피드 삭제</li>
	                                        <!-- <li class="pop" id="cl-link-copy">챌린지 피드 링크 복사</li> -->
	                                        <!-- 위 내용 그냥 복붙하면 자동으로 증가 -->
	                                        <li class="pop close" id="optionCencleButton">취소</li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- option modal end -->
	                
	                <!-- create challenge modal 챌린지 생성 모달 -->
	                <div class="modal-overlay" id="createChallengeModalOverlay">
				        <div class="modal-container" id="createChallengeModal">
				            <div class="modal-header">
				                <img src="https://velog.velcdn.com/images/mekite/post/cce77b75-c834-4f16-858d-1548946f09f5/image.png" alt="옵션">
				                <h2>챌린지 생성</h2>
				                <img id="modal-close" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
				            </div>
				            <hr id="header-section">
				           	<form id="addChallenge" th:action="@{/challenge/list/createchallengerequest}" method="post" enctype="multipart/form-data">
					            <div class="modal-body">
					                <!-- 이미지 업로드 영역 -->
					                <div class="upload-section">
					                    <div class="upload-box">
					                        <img id="cl-create-preview-image" src="https://velog.velcdn.com/images/mekite/post/da056d49-1aaa-4f12-9913-b1ddd137e7d5/image.png" alt="사진입력">
					                        <p>사진을 끌어서 이곳에 넣어주세요</p>
					                        <button type="button" class="upload-btn" id="createChallengeUploadButton">파일 불러오기</button>
					                        <!-- 파일 input 태그 -->
					                        <input type="file" id="files" name="files" class="form-control" style="display: none;">
					                        <!-- accept="image/*" -->
					                    </div>
					                    <div class="preview-box" id="createChallengePreviewContainer" style="display: none;">
					                        <img src="" name="challengePicture" alt="업로드된 이미지 미리보기" id="createChallengePreviewImage">
					                    </div>
					                </div>
					    
					                <!-- 정보 입력 영역 -->
					                <div class="feed-info">
					                    <div class="challenge-create-info">
					                        <div class="input-block">
					                            <span>챌린지 이름</span>
					                            <input type="text" class="form-control"
					                            id="challengeName" name="challengeName" placeholder="이름을 입력해주세요">
					                            <img src="https://velog.velcdn.com/images/mekite/post/aaacbe1c-9430-46e6-8842-28fc8ae6417d/image.png" alt="입력 박스">
					                        </div>
					                        <!-- 에러 메시지 영역 -->
					                        <div id="challengeNameError" style="display: none; color: red; font-size: 14px;"></div>
					                        <div class="select-level-block input-block">
					                            <span>난이도</span>
					                            <select id="selectLevel" class="form-control" name="challengeTopicLevelCode" required>
					                                <option value="">난이도 선택</option>
					                                <th:block th:if="${levelList}" th:each="level : ${levelList}">
					                                	<option th:value="${level.challengeLevelCode}" th:text="${level.challengeLevelContent}"></option>
					                                </th:block>
					                            </select>
					                            <img src="https://velog.velcdn.com/images/mekite/post/aaacbe1c-9430-46e6-8842-28fc8ae6417d/image.png" alt="입력 박스">
					                        </div>
				                            <small id="challengeLevelError" style="color: red; display: none;">난이도를 선택해주세요</small>
					                        <div class="challenge-start-date-block input-block">
					                            <span>시작일</span>
					                            <input type="text">
					                            <input type="date" class="date" id="challengeStartDate" name="challengeStartDate">
					                            <img src="https://velog.velcdn.com/images/mekite/post/aaacbe1c-9430-46e6-8842-28fc8ae6417d/image.png" alt="입력 박스">
					                        </div>
					                        <small id="challengeStrartDateError" style="color: red; display: none;">시작일을 선택해주세요</small>
					                        <div class="participation-member-block input-block">
					                            <span>참여인원</span>
					                            <select id="participationMember" class="form-control" name="challengeMaxMember">
					                                <option value="5" th:selected="${challengeMaxMember == '5'}">5인(최소인원)</option>
					                                <option value="6" th:selected="${challengeMaxMember == '6'}">6인</option>
					                                <option value="7" th:selected="${challengeMaxMember == '7'}">7인</option>
					                                <option value="8" th:selected="${challengeMaxMember == '8'}">8인</option>
					                                <option value="9" th:selected="${challengeMaxMember == '9'}">9인</option>
					                                <option value="10" th:selected="${challengeMaxMember == '10'}">10인</option>
					                                <option value="11" th:selected="${challengeMaxMember == '11'}">11인</option>
					                                <option value="12" th:selected="${challengeMaxMember == '12'}">12인</option>
					                                <option value="13" th:selected="${challengeMaxMember == '13'}">13인</option>
					                                <option value="14" th:selected="${challengeMaxMember == '14'}">14인</option>
					                                <option value="15" th:selected="${challengeMaxMember == '15'}">15인</option>
					                                <option value="16" th:selected="${challengeMaxMember == '16'}">16인</option>
					                                <option value="17" th:selected="${challengeMaxMember == '17'}">17인</option>
					                                <option value="18" th:selected="${challengeMaxMember == '18'}">18인</option>
					                                <option value="19" th:selected="${challengeMaxMember == '19'}">19인</option>
					                                <option value="20" th:selected="${challengeMaxMember == '20'}">20인</option>
					                            </select>
					                            <img src="https://velog.velcdn.com/images/mekite/post/aaacbe1c-9430-46e6-8842-28fc8ae6417d/image.png" alt="입력 박스">
					                        </div>
					                    </div>
					                    <div id="ChallengeInfoInputUnder">
						                    <textarea name="challengeContent" placeholder="챌린지를 설명할 내용을 입력해주세요" maxlength="500" id="content"></textarea>
						                    <div class="text-box-under">
						                        <button type="button" id="emojiButton">
						                            <img src="https://velog.velcdn.com/images/mekite/post/a503da4f-4678-459d-a80f-2f630a15d3bb/image.png" alt="이모지">
						                        </button>
						                        <!-- 이모지 드롭다운 -->
						                        <div class="emoji-dropdown" style="display: none; position: absolute; background: white; border: 1px solid #ccc; padding: 5px;"></div>
						                        <div class="text-counter">
						                            <span id="text-count">0</span>
						                            <span>/500</span>
						                        </div>
						                    </div>
						                    <button type="submit" class="submit-btn" id="createChallengeSubmitButton"><p>생성</p></button>
					                    </div>
					                </div>
					            </div>
				           	</form>
				        </div>
				    </div>
				    <!-- create challenge modal end -->
	
	                <!-- create challenge feed modal 챌린지 피드 생성 모달 -->
	                <div class="cf-modal-overlay" id="cf-modal-overlay">
				        <div class="cf-modal-container">
				            <div class="cf-modal-header">
				                <img src="https://velog.velcdn.com/images/mekite/post/cce77b75-c834-4f16-858d-1548946f09f5/image.png" alt="옵션">
				                <h2>새 피드 만들기</h2>
				                <img id="cf-modal-closeBtn" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
				            </div>
				            <hr>
			            	<form id="AddChallengeFeed" th:action="@{/challenge/feed/createchallengefeedrequest}" method="post" enctype="multipart/form-data">
				            	<div class="cf-modal-body">
				            		<input type="hidden" name="challengeCode" th:value="${challengeCode}" />
					                <!-- 이미지 업로드 영역 -->
					                <div class="cf-image-upload">
					                    <div class="cf-upload-box">
					                        <img id="plate" src="https://velog.velcdn.com/images/mekite/post/a7d15153-7ad6-4c26-b1c0-20c711e47f07/image.png" alt="빈 접시">
					                        <p>사진을 이곳에 넣어</p>
					                        <p>빈 그릇을 채워주세요!</p>
					                    	<button type="button" id="cf-upload-btn" class="cf-upload-btn">파일 불러오기</button>
					                    	<input type="file" id="feedFiles" name="files" accept="image/*" style="display: none;">
					                    </div>
					                    <div class="cf-preview-box" id="createChallengeFeedPreviewContainer" style="display: none;">
					                        <img src="" id="createChallengeFeedPreviewImage" name="challengeFeedPicture" alt="업로드된 이미지 미리보기">
					                    </div>
					                </div>
					    
					                <!-- 정보 입력 영역 -->
					                <div class="cf-feed-info">
					                    <div class="cf-user-block" th:if="${challengeFeedList != null and !challengeFeedList.isEmpty()}">
										    <img th:src="@{|${challengeFeedList[0].memberProfileImage}|}" alt="프로필" onerror="this.src='/images/default-profile.png'">
										    <a href="#" class="user-link"><p th:text="${challengeFeedList[0].challengeMemberId}"></p></a>
										</div>
					                    <textarea id="cf-content" name="challengeFeedContent" placeholder="내용을 입력해주세요" maxlength="2000"></textarea>
					                    <div class="cf-text-box-under">
					                        <button type="button" id="emoji-btn">
					                            <img src="https://velog.velcdn.com/images/mekite/post/a503da4f-4678-459d-a80f-2f630a15d3bb/image.png" alt="이모지">
					                        </button>
					                        <div class="cf-text-counter">
					                            <span id="cf-text-count">0</span>
					                            <span>/2000</span>
					                        </div>
					                    </div>
					    
					                    <div class="input-group">
					                        <label for="serving">섭취 인분</label>
					                        <select id="serving" name="challengeFeedFoodIntake">
					                            <option value="1">1</option>
					                            <option value="2">2</option>
					                            <option value="3">3</option>
					                            <option value="4">4</option>
					                            <option value="5">5</option>
					                        </select>
					                    </div>
					    
					                    <div class="input-group">
					                        <label for="meal-type">식사 분류</label>
					                        <select id="meal-type" name="challengeMealCategory">
					                            <option value="mc001">아침</option>
					                            <option value="mc002">점심</option>
					                            <option value="mc003">저녁</option>
					                            <option value="mc004">간식</option>
					                        </select>
					                        <button type="submit" class="cf-submit-btn">생성</button>
					                    </div>
					                </div>
					            </div>
			            	</form>
				        </div>
				    </div>
				    <!-- create challenge feed modal end -->
	
	                <!-- challenge feed modify modal 챌린지 피드 수정 모달 -->
	                <div class="modal-overlay" id="cf-modify-modal-overlay" style="display: none;">
	                   <form id="ModifyChallengeFeedForm" th:action="@{/challenge/feed/modifychallengefeedrequest}"
	                   		 method="post" enctype="multipart/form-data">
	                   	   <input type="hidden" name="challengeFeedCode" id="challengeFeedCode"/>
    					   <input type="hidden" name="challengeCode" id="challengeCode" />
						   <input type="hidden" name="challengeFeedFileIdx" id="challengeFeedFileIdx" />
					       <div class="cf-modify-modal-container" id="challengeModifyFeedContainer">
					           <div class="cf-modify-modal-header cf-modify-header-display">
					               <img src="https://velog.velcdn.com/images/mekite/post/cce77b75-c834-4f16-858d-1548946f09f5/image.png" alt="옵션">
					               <h2>피드 수정</h2>
					               <img id="cf-modify-modal-closeBtn" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
					           </div>
					           <hr>
					           <div class="cf-modify-modal-body">
					               <!-- 이미지 업로드 영역 -->
					               <div class="cf-modify-image-upload">
					                   <div class="cf-modify-preview-box" id="cf-modify-preview-container">
					                      
					                       <!-- 업로드된 이미지가 표시될 컨테이너 -->
					                       <img src="https://velog.velcdn.com/images/mekite/post/a7d15153-7ad6-4c26-b1c0-20c711e47f07/image.png" alt="업로드된 이미지 미리보기" id="image-preview">
					                   </div>
					                   <div class="cf-modify-upload-box">
					                       <img id="challengeModifyFeedPreviewImage" src=""
									             alt="피드 이미지">
									       <button type="button" id="cf-modify-upload-btn">
									       	  <img id="modifyFeedImage" src="https://velog.velcdn.com/images/mekite/post/75193fd9-682c-40ce-a215-911b778e3d70/image.png" alt="이미지 변경" />
									       </button>
									       <input type="file" id="feedModifyFiles" name="modifyFiles" accept="image/*" style="display: none;">
					                   </div>
					               </div>
					   
					               <!-- 정보 입력 영역 -->
					               <div class="cf-modify-feed-info">
					                   <div class="cf-modify-user-block">
					                       <img src="" id="modifyChallengeFeedMemberProfile" alt="프로필">
					                       <a href="#" class="cf-modify-user-link"><p id="modifyChallengeFeedMemberId"></p></a>
					                   </div>
					                   <textarea id="cf-modify-content" name="challengeFeedContent" placeholder="내용을 입력해주세요" maxlength="2000"></textarea>
					                   <div class="cf-modify-text-box-under">
					                       <button type="button" id="emoji-btn">
					                           <img src="https://velog.velcdn.com/images/mekite/post/a503da4f-4678-459d-a80f-2f630a15d3bb/image.png" alt="이모지">
					                       </button>
					                       <div class="cf-modify-text-counter">
					                           <span id="cf-modify-text-count">0</span>
					                           <span>/2000</span>
					                       </div>
					                   </div>
					   
					                   <div class="input-group">
					                       <label for="serving">섭취 인분</label>
					                       <select id="serving" name="challengeFeedFoodIntake">
					                           <option value="1" >1</option>
										       <option value="2" >2</option>
										       <option value="3" >3</option>
										       <option value="4" >4</option>
										       <option value="5" >5</option>
					                       </select>
					                   </div>
					   
					                   <div class="input-group">
					                       <label for="meal-type">식사 분류</label>
					                       <select id="meal-type" name="challengeMealCategory">
										       <option value="mc001" >아침</option>
										       <option value="mc002" >점심</option>
										       <option value="mc003" >저녁</option>
										       <option value="mc004">간식</option>
										   </select>
					                       <button type="submit" class="cf-modify-submit-btn">수정</button>
					                   </div>
					               </div>
					           </div>
					       </div>
	                   </form>
				   </div>
	                
	                <!-- challenge feed comment modal 챌린지 피드 댓글 모달 -->
					<div class="cf-comment-modal-overlay" id="feedCommentModalOverlay" style="display: none;">
				       <div class="cf-comment-modal-container">
				           <div class="cf-comment-modal-header">
				               <img src="https://velog.velcdn.com/images/mekite/post/cce77b75-c834-4f16-858d-1548946f09f5/image.png" alt="옵션">
				               <h2>피드 댓글</h2>
				               <img class="feedCommentModalCloseBtn" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
				           </div>
				           <hr>
				           <div class="cf-comment-modal-body">
				               <div class="cf-comment-modal-image-upload">
					               <img th:src="@{|${challengeFeedList[0].pictureFileImage}|}" alt="피드 이미지" id="image-preview">
					           </div>
				               <div class="cf-comment-feed-info">
				                   <div class="cf-user-comment-container overflow-auto">
				                   		<!-- 댓글 내용 -->
				                   </div>
				                   <div class="cf-comment-feed-info-under">
				                       <img src="https://velog.velcdn.com/images/mekite/post/21a70790-1027-41c2-a741-d0cf3859686e/image.png" alt="댓글구분" class="comment-section-under">
				                       <div class="cf-comment-under-input">
				                           <button type="button" class="emoji-btn">
				                               <img class="emoji-btn-img" src="https://velog.velcdn.com/images/mekite/post/a503da4f-4678-459d-a80f-2f630a15d3bb/image.png" alt="이모지">
				                           </button>
				                           <input type="text" placeholder="댓글 달기...">
				                           <button type="button" id="feedCommentModalButton" class="cf-comment-comment-btn">게시</button>
				                       </div>
				                   </div>
				               </div>
				           </div>
				       </div>
				   </div>
				   <!-- challenge feed comment modal end -->
	            </div>
	            <!-- main content container -->

	            <!-- feed start -->
	            <div th:if="${challengeFeedList == null || challengeFeedList.isEmpty()}">
				    <p>피드가 없습니다.</p>
				</div>
	            <section th:if="${challengeFeedList != null and !challengeFeedList.isEmpty()}">
	            	<input type="hidden" id="challengeCode" name="challengeCode" th:value="${challengeCode != null ? challengeCode : ''}" />
	            	<div class="feed-container">
		            	<div class="container" id="feedContainer">
		            		<div class="feed" id="feed" th:each="cf : ${challengeFeedList}">
				            	
							    <div class="feed-header">
							        <a href="#">
							            <img th:src="@{|${cf.memberProfileImage}|}" alt="작성자 프로필">
							        </a>
							        <div class="user-name">
							            <a href="#"><p th:text="${cf.challengeMemberId}"></p></a>
							        </div>
							        <div class="feed-option" >
							            <button class="option-button" th:data-challenge-feed-code="${cf.challengeFeedCode}">
							                <img src="https://velog.velcdn.com/images/mekite/post/e1e30329-6765-425a-ad54-42e8df8a27aa/image.png" alt="옵션">
							            </button>
							        </div>
							    </div>
							    <div class="feed-main-img">                    
							        <img th:src="@{|${cf.pictureFileImage}|}" class="feed-upload-img" alt="게시글 이미지">
							    </div>
							    							    
							    <div class="feed-action">
							        <div class="action-icons">
							            <button type="button" class="action-btn likeBtn" th:data-liked="${cf.hasLiked}" th:data-feed-code="${cf.challengeFeedCode}">
							                <img class="likeImg" src="https://velog.velcdn.com/images/mekite/post/5d41002f-857b-4c4e-9d7c-80fe9fb35e59/image.png" alt="좋아요">
							            </button>
							            <button type="button" class="action-btn commentBtn" id="feedCommentBtn" 
							       			    th:data-challenge-code="${cf.challengeFeedCode}" 
       											th:data-picture-file-image="@{|${cf.pictureFileImage}|}">
							                <img src="https://velog.velcdn.com/images/mekite/post/3ca79f86-baf3-4d32-9f07-008c4ff960d2/image.png" alt="댓글">
							            </button>
							        </div>
							        <p class="feed-upload-date" th:text="${cf.challengeFeedDate != null ? #dates.format(cf.challengeFeedDate, 'yy/MM/dd') : '날짜 없음'}"></p>
							    </div>
							    <div class="feed-description">
							        <p id="feed-likes" th:text="|좋아요 ${cf.challengeFeedLike}개|"></p>
							        <p th:text="${cf.challengeFeedContent}"></p>
							        <p class="comments-link" th:text="${cf.challengeFeedCommentContent}"></p>
							    </div>
							    <hr>
							    
								    <input type="hidden" name="challengeFeedCode" th:value="${cf.challengeFeedCode}" />
								    <div class="add-comment">
								        <img src="https://velog.velcdn.com/images/mekite/post/87802bec-0c39-4cf8-aa23-80ae579a0b37/image.png" alt="댓글 아이콘">
								        <input id="addChallengeFeedCommentContent" name="challengeFeedCommentContent" type="text" placeholder="댓글 달기..." required>
								        <button type="button" class="comment-submit comment-btn" th:data-challenge-code="${cf.challengeFeedCode}">게시</button>
								    </div>
							    
							</div>
		            	</div>
	            	</div>
	            </section>
	            <!-- feed end -->
	            
				<!-- feed more view button -->	            
	            <button class="btn btn-outline-success load-more-btn" id="loadMore" data-current-page="1">더보기 ▾</button>
	        </main>
	        
	        <!-- challenge progress(right aside) -->
	        <div class="progress-container" th:if="${challengeTotalProgressInfo != null}">
	            <div class="challenge">
	            	<div id="challengeNameProgress">
	                    <h3 th:text="${challengeTotalProgressInfo.challengeName}"></h3>
	            	</div>
                    <h5 th:text="${challengeTotalProgressInfo.challengeStatusCode}"></h5>
                    <img src="https://velog.velcdn.com/images/mekite/post/dabb0bea-be57-4f91-93ff-265cf61836f0/image.png" alt="챌린지명/진행도">
	            </div>
	            <div class="challenge-info">
	                <div class="talk">
	                    <p>이제 시작이야</p>
	                    <img src="https://velog.velcdn.com/images/mekite/post/d2fb0bd3-82eb-4b73-843a-5f2a7a28f8da/image.png" alt="말풍선">
	                </div>
	                <div class="progress-chart">
	                    <svg class="progress-circle" width="80" height="80">
	                        <circle cx="40" cy="40" r="35" class="background-circle"></circle>
	                        <circle cx="40" cy="40" r="35" class="foreground-circle"></circle>
	                    </svg>
	                    <div class="progress-text">
	                        <span id="progress-percent-txt"
	                        	  th:text="${challengeTotalProgressInfo.monthlyCumulativePerformanceRate + '%'}"
	                        	  th:data-progress="${challengeTotalProgressInfo.monthlyCumulativePerformanceRate ?: 0}"></span>
	                    </div>
	                </div>
	                <div class="img-progress-container">
	                    <div class="progress-background">
	                        <img src="https://velog.velcdn.com/images/mekite/post/fd80f53c-75c3-4c01-b18f-e18962603130/image.png" id="background-img" alt="배경 그래프">
                            <img src="https://velog.velcdn.com/images/mekite/post/bb8be481-75fa-400d-9c60-18a53829fee5/image.png"
                            	 th:data-progress="${challengeTotalProgressInfo.monthlyCumulativePerformanceRate ?: 0}"
                            	 id="green-img" alt="초록 그래프">
	                       <!--  <div class="front-progress-bar" style="width: 100%; /* 임시로 100%로 설정 */">
	                        </div> -->
	                    </div>
	                    <img src="https://velog.velcdn.com/images/mekite/post/75389a0f-6009-44ab-b2c0-74bc95a9c658/image.png" id="flag" alt="깃발">
	                    <img src="https://velog.velcdn.com/images/mekite/post/20788b98-49ca-4994-a3e2-d5d1c292b6af/image.png" id="hiker" alt="챌린지 아이콘">
	                    <span id="progress-percent-txt" th:text="${challengeTotalProgressInfo.monthlyCumulativePerformanceRate}"></span>
	                </div>
	                <div class="participants">
	                    <div class="participants-box">
	                        <a href="#">
	                            <h3>달성률</h3>
	                            <img src="https://velog.velcdn.com/images/mekite/post/651e5110-48f2-4d5a-a740-7439393c2877/image.png" alt="달성률 더보기">
	                        </a>
	                    </div>
	                    <div class="participants-list">
	                        <ul>
							    <li th:each="member : ${topParticipants}">
							        <img th:src="${member.challengeMemberProfilePath}" alt="멤버 프로필" />
        							<p th:text="${member.memberId}"></p>
							        <div class="progress-bar">
							            <div class="progress-fill" th:style="'width: ' + ${member.personalCumulativePerformanceRate} + '%'"></div>
							        </div>
							        <span th:text="${member.personalCumulativePerformanceRate + '%'}"></span>
							    </li>
							</ul>
	                    </div>
	                </div>
	                <div class="info-box" >
	                    <div class="info-item">
	                        <img src="https://velog.velcdn.com/images/mekite/post/9fc6ee2f-f3f5-4938-9ece-c4bad184eb3f/image.png" alt="캘린더 아이콘">
	                        <p class="info-text">투데이</p>
	                        <p th:text="${dPlus}"></p>
	                    </div>
	                    <div class="separator"></div>
	                    <div class="info-item">
	                        <img src="https://velog.velcdn.com/images/mekite/post/dea50ae1-2c1a-4822-9ed3-4ae8554a54f4/image.png" alt="사용자 아이콘">
	                        <p class="info-text">멤버수</p>
	                        <p th:text="${challengeTotalProgressInfo.challengeCurrentMember} + '/' + ${challengeTotalProgressInfo.challengeMaxMember}"></p>
	                    </div>
	                    <div class="separator"></div>
	                    <div class="info-item">
	                        <img src="https://velog.velcdn.com/images/mekite/post/e9899d52-8346-4717-99bb-31731ef2e55c/image.png" alt="타이머 아이콘">
	                        <p class="info-text">남은기간</p>
	                        <p th:text="${dMinus}"></p>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- challenge progress(right aside) end -->
    	</div>
    </th:block>

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<!-- 반드시 jquery 기능이 있는 라이브러리 파일을 연결해야 함 -->
		<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	    <!-- 반드시 jquery 기능이 있는 라이브러리 파일을 연결해야 함 -->
	    <script th:src="@{/assets/js/layout.js}"></script>
	    <script th:src="@{/assets/js/challenge/user-challenge-view.js}"></script>
    </th:block> 
</html>