<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/challenge/user-challenge-list.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/challenge/user-challenge-view.css}" rel="stylesheet" type="text/css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body style="font-family: 'Pretendard-Light';">
	
	<th:block layout:fragment="content-body" class="main-container">
		<!-- challenge-list-view modal -->
		<div>
			<div id="card-modal-overlay" class="overlay">
				<div id="card-modal" class="popup-container">
				    <div class="popup-header">
				        <img src="https://velog.velcdn.com/images/mekite/post/cce77b75-c834-4f16-858d-1548946f09f5/image.png" alt="옵션">
				        <h2 id="challenge-name"></h2>
				        <img id="card-modal-close" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
				    </div>
				    <hr>
				    <div id="card-body" class="popup-body">
				        <div class="image-upload">
				            <img id="image-preview" src="" alt="업로드된 이미지 미리보기">
				        </div>
				        <div class="feed-info">
				            <div class="user-block">
				                <span id="challenge-leader">챌린지 리더</span>
				                <img src="https://velog.velcdn.com/images/mekite/post/8e79bd6b-a5e7-4d06-abac-9a273fbe98df/image.png" alt="왕관" id="leader-icon">
				                <img id="profile" src="" alt="프로필">
				                <a href="#" id="leader-link" class="user-link"></a>
				            </div>
				            <img src="https://velog.velcdn.com/images/mekite/post/21a70790-1027-41c2-a741-d0cf3859686e/image.png" alt="댓글구분" id="info-section">
				            <div id="info-content-detail" class="challenge-info-content">
				                <!-- 동적 데이터 삽입 -->
				            </div>
				            <p id="error-message" style="display: none;">챌린지 정보를 불러올 수 없습니다.</p>
				            <button type="submit" class="submit-btn" id="participationChallenge">참여하기</button>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
		<!-- container -->
	    <div class="view-container">
		    <!-- 챌린지 생성 모달 -->
            <div class="modal-overlay" id="createChallengeModalOverlay">
		        <div class="modal-container" id="createChallengeModal">
		            <div class="modal-header">
		                <img src="https://velog.velcdn.com/images/mekite/post/cce77b75-c834-4f16-858d-1548946f09f5/image.png" alt="옵션">
		                <h2>챌린지 생성</h2>
		                <img id="modal-close" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
		            </div>
		            <hr id="header-section">
		           	<form id="addChallenge" th:action="@{/challenge/list/createchallengerequest}" method="post" enctype="multipart/form-data">
			            <div class="modal-body">
			                <!-- 이미지 업로드 영역 -->
			                <div class="upload-section">
			                    <div class="upload-box">
			                        <img id="cl-create-preview-image" src="https://velog.velcdn.com/images/mekite/post/da056d49-1aaa-4f12-9913-b1ddd137e7d5/image.png" alt="사진입력">
			                        <p>사진을 끌어서 이곳에 넣어주세요</p>
			                        <button type="button" class="upload-btn" id="createChallengeUploadButton">파일 불러오기</button>
			                        <!-- 파일 input 태그 -->
			                        <input type="file" id="files" name="files" class="form-control" style="display: none;">
			                        <!-- accept="image/*" -->
			                    </div>
			                    <div class="preview-box" id="createChallengePreviewContainer" style="display: none;">
			                        <img src="" name="challengePicture" alt="업로드된 이미지 미리보기" id="createChallengePreviewImage">
			                    </div>
			                </div>
			    
			                <!-- 정보 입력 영역 -->
			                <div class="feed-info">
			                    <div class="challenge-create-info">
			                        <div class="input-block">
			                            <span>챌린지 이름</span>
			                            <input type="text" class="form-control"
			                            id="challengeName" name="challengeName" placeholder="이름을 입력해주세요">
			                            <img src="https://velog.velcdn.com/images/mekite/post/aaacbe1c-9430-46e6-8842-28fc8ae6417d/image.png" alt="입력 박스">
			                        </div>
			                        <!-- 에러 메시지 영역 -->
			                        <div id="challengeNameError" style="display: none; color: red; font-size: 14px;"></div>
			                        <div class="select-level-block input-block">
			                            <span>난이도</span>
			                            <select id="selectLevel" class="form-control" name="challengeTopicLevelCode" required>
			                                <option value="">난이도 선택</option>
			                                <th:block th:if="${levelList}" th:each="level : ${levelList}">
			                                	<option th:value="${level.challengeLevelCode}" th:text="${level.challengeLevelContent}"></option>
			                                </th:block>
			                            </select>
			                            <img src="https://velog.velcdn.com/images/mekite/post/aaacbe1c-9430-46e6-8842-28fc8ae6417d/image.png" alt="입력 박스">
			                        </div>
		                            <small id="challengeLevelError" style="color: red; display: none;">난이도를 선택해주세요</small>
			                        <div class="challenge-start-date-block input-block">
			                            <span>시작일</span>
			                            <input type="text">
			                            <input type="date" class="date" id="challengeStartDate" name="challengeStartDate">
			                            <img src="https://velog.velcdn.com/images/mekite/post/aaacbe1c-9430-46e6-8842-28fc8ae6417d/image.png" alt="입력 박스">
			                        </div>
			                        <small id="challengeStrartDateError" style="color: red; display: none;">시작일을 선택해주세요</small>
			                        <div class="participation-member-block input-block">
			                            <span>참여인원</span>
			                            <select id="participationMember" class="form-control" name="challengeMaxMember">
			                                <option value="5" th:selected="${challengeMaxMember == '5'}">5인(최소인원)</option>
			                                <option value="6" th:selected="${challengeMaxMember == '6'}">6인</option>
			                                <option value="7" th:selected="${challengeMaxMember == '7'}">7인</option>
			                                <option value="8" th:selected="${challengeMaxMember == '8'}">8인</option>
			                                <option value="9" th:selected="${challengeMaxMember == '9'}">9인</option>
			                                <option value="10" th:selected="${challengeMaxMember == '10'}">10인</option>
			                                <option value="11" th:selected="${challengeMaxMember == '11'}">11인</option>
			                                <option value="12" th:selected="${challengeMaxMember == '12'}">12인</option>
			                                <option value="13" th:selected="${challengeMaxMember == '13'}">13인</option>
			                                <option value="14" th:selected="${challengeMaxMember == '14'}">14인</option>
			                                <option value="15" th:selected="${challengeMaxMember == '15'}">15인</option>
			                                <option value="16" th:selected="${challengeMaxMember == '16'}">16인</option>
			                                <option value="17" th:selected="${challengeMaxMember == '17'}">17인</option>
			                                <option value="18" th:selected="${challengeMaxMember == '18'}">18인</option>
			                                <option value="19" th:selected="${challengeMaxMember == '19'}">19인</option>
			                                <option value="20" th:selected="${challengeMaxMember == '20'}">20인</option>
			                            </select>
			                            <img src="https://velog.velcdn.com/images/mekite/post/aaacbe1c-9430-46e6-8842-28fc8ae6417d/image.png" alt="입력 박스">
			                        </div>
			                    </div>
			                    <div id="ChallengeInfoInputUnder">
				                    <textarea name="challengeContent" placeholder="챌린지를 설명할 내용을 입력해주세요" maxlength="500" id="content"></textarea>
				                    <div class="text-box-under">
				                        <button type="button" id="emojiButton">
				                            <img src="https://velog.velcdn.com/images/mekite/post/a503da4f-4678-459d-a80f-2f630a15d3bb/image.png" alt="이모지">
				                        </button>
				                        <!-- 이모지 드롭다운 -->
				                        <div class="emoji-dropdown" style="display: none; position: absolute; background: white; border: 1px solid #ccc; padding: 5px;"></div>
				                        <div class="text-counter">
				                            <span id="text-count">0</span>
				                            <span>/500</span>
				                        </div>
				                    </div>
				                    <button type="submit" class="submit-btn" id="createChallengeSubmitButton"><p>생성</p></button>
			                    </div>
			                </div>
			            </div>
		           	</form>
		        </div>
		    </div>
	        
	        <section class="tag">
	            <div class="tag-buttons">
	                <button type="button">#다이어트</button>
	                <button type="button">#클린푸드</button>
	                <button type="button">#고단백질</button>
	                <button type="button">#비건</button>
	                <button type="button">#채식</button>
	                <button type="button">#건강식단</button>
	                <button type="button">#저탄고지</button>
	            </div>
	            <div class="create-button">
	                <button type="button" id="createChallengeOpenButton">생성</button>
	            </div>
	        </section>
	        <!-- 카드 목록 -->
	        <section class="card-grid" th:if="${challengeList != null and !challengeList.isEmpty()}">
	            <div class="card" th:each="cl : ${challengeList}" th:data-code="${cl.challengeCode}" style="border: none;">
	                <img th:src="@{|${cl.challengePicture}|}" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <a href="#" class="tag-a"><h3 th:text="|# ${cl.challengeTopicName}|" class="challenge-tag"></h3></a>
	                        <h3 th:text="${cl.challengeName}" class="challenge-name back-ground"></h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p th:text="${cl.challengeTopicLevel}" style="margin-bottom: 0px;"></p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p th:text="${#dates.format(cl.challengeStartDate, 'yy/MM/dd')}"  style="margin-bottom: 0px;"></p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p th:text="|${cl.challengeCurrentMember}/${cl.challengeMaxMember}|"  style="margin-bottom: 0px;"></p>
	                        </div>
	                    </div>
	                    <p th:text="${cl.challengeContent}" class="challenge-text"  style="margin-bottom: 0px;"></p>
	                </div>
	            </div>
	        </section>
	        <p th:if="${challengeList == null || challengeList.isEmpty()}">챌린지가 없습니다.</p>
	    </div>
	    <div class="pagination-area mt-15 mb-50">
		    <nav aria-label="Page navigation example">
		        <ul class="pagination pagination-sm justify-content-center text-muted" style="color: #515151;">
		            <!-- 처음으로 -->
		            <li class="page-item" th:classappend="${currentPage eq startPage} ? 'disabled'">
		                <a class="page-link text-muted" th:href="@{/challenge/list}">
		                	<!-- <i class="material-icons md-first_page"></i> -->
		                	<<
		                </a>
		            </li>
		            <!-- 이전 -->
		            <li class="page-item" th:classappend="${currentPage < 2} ? 'disabled'">
		                <a class="page-link text-muted" th:href="@{/challenge/list(currentPage=${currentPage - 1})}">
		                	<!-- <i class="material-icons md-chevron_left"></i> -->
		                	<
		                </a>
		            </li>
		            <!-- 동적 페이지 번호 -->
		            <th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
		                <li class="page-item" th:classappend="${num == currentPage} ? 'active'">
		                    <a class="page-link text-muted" th:href="@{/challenge/list(currentPage=${num})}" th:text="${num}"></a>
		                </li>
		            </th:block>
		            <!-- 다음 -->
		            <li class="page-item" th:classappend="${currentPage eq lastPage} ? 'disabled'">
		                <a class="page-link text-muted" th:href="@{/challenge/list(currentPage=${currentPage + 1})}">
		                	<!-- <i class="material-icons md-chevron_right"></i> -->
		                	>
		                </a>
		            </li>
		            <!-- 마지막으로 -->
		            <li class="page-item" th:classappend="${currentPage eq lastPage} ? 'disabled'">
		                <a class="page-link text-muted" th:href="@{/challenge/list(currentPage=${lastPage})}">
		                	<!-- <i class="material-icons md-last_page"></i> -->
		                	>>
		                </a>
		            </li>
		        </ul>
		    </nav>
		</div>
	</th:block> 
</body>
	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
	    <!-- 반드시 jquery 기능이 있는 라이브러리 파일을 연결해야 함 -->
		<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	    <script th:src="@{/assets/js/layout.js}"></script>
	    <script th:src="@{/assets/js/challenge/user-challenge-list.js}"></script>
	    
	    <script>
		    
	    </script>
    </th:block> 
</html>