<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/challenge/user-challenge-list.css}" rel="stylesheet" type="text/css" />
</head>
	<th:block layout:fragment="content-body" class="main-container">
		<!-- challenge-list-view modal -->
		<div th:replace="~{user/challenge/challenge-list-view :: challenge-list-view}"></div>
		
		<!-- container -->
	    <div class="view-container">
	        <section class="tag">
	            <div class="tag-buttons">
	                <button>#다이어트</button>
	                <button>#클린푸드</button>
	                <button>#고단백질</button>
	                <button>#비건</button>
	                <button>#채식</button>
	                <button>#건강식단</button>
	                <button>#저탄고지</button>
	            </div>
	            <div class="create-button">
	                <button>생성</button>
	            </div>
	        </section>
	        <!-- 카드 목록 -->
	        <section class="card-grid">
	            <!-- 카드 1 -->
	            <div class="card" id="card-1">
	                <img src="https://velog.velcdn.com/images/mekite/post/1e0caa09-c47c-417b-b8ed-c9f5f0a97d25/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <!-- todo : 태그랑 챌린지 링크 -->
	                    <div class="tag-container">
	                        <a href="#"><h3 class="challenge-tag">#다이어트</h3></a>
	                        <a href="#"><h3 class="challenge-name">가보자고</h3></a>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>쉬움</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/19(일)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>5/15</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <a href="#"><h3 class="challenge-tag">#클린푸드</h3></a>
	                        <a href="#"><h3 class="challenge-name">간식먹자</h3></a>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 3 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/675375e9-9ba9-413a-859d-2ca5ccaf3273/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <a href="#"><h3 class="challenge-tag">#추천</h3></a>
	                        <a href="#"><h3 class="challenge-name">야채먹자</h3></a>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>어려움</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/20(화)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>3/15</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 4 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/2a2b9df3-4f45-4cbe-876c-0fff0f8f713a/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <a href="#"><h3 class="challenge-tag">#채식</h3></a>
	                        <a href="#"><h3 class="challenge-name">풀먹기 대작전</h3></a>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>쉬움</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/20(화)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>5/15</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <h3 class="challenge-tag">#클린푸드</h3>
	                        <h3 class="challenge-name">간식먹자</h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <h3 class="challenge-tag">#클린푸드</h3>
	                        <h3 class="challenge-name">간식먹자</h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <h3 class="challenge-tag">#클린푸드</h3>
	                        <h3 class="challenge-name">간식먹자</h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <h3 class="challenge-tag">#클린푸드</h3>
	                        <h3 class="challenge-name">간식먹자</h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <h3 class="challenge-tag">#클린푸드</h3>
	                        <h3 class="challenge-name">간식먹자</h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <h3 class="challenge-tag">#클린푸드</h3>
	                        <h3 class="challenge-name">간식먹자</h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <h3 class="challenge-tag">#클린푸드</h3>
	                        <h3 class="challenge-name">간식먹자</h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 카드 2 -->
	            <div class="card">
	                <img src="https://velog.velcdn.com/images/mekite/post/405597d0-9617-448c-b0a8-f396ee40e1a9/image.jpg" alt="카드 이미지">
	                <div class="card-content">
	                    <div class="tag-container">
	                        <h3 class="challenge-tag">#클린푸드</h3>
	                        <h3 class="challenge-name">간식먹자</h3>
	                    </div>
	                    <div class="card-info">
	                        <div class="challenge-level">
	                            <img src="https://velog.velcdn.com/images/mekite/post/4c3632f1-a9ae-4227-a422-3a963d878ee9/image.png" alt="level">
	                            <p>보통</p>
	                        </div>
	                        <div class="challenge-start-date">
	                            <img src="https://velog.velcdn.com/images/mekite/post/d851fb08-8cfe-42f0-9337-8e7cfc36799e/image.png" alt="start-date">
	                            <p>11/18(토)</p>
	                        </div>
	                        <div class="challenge-people">
	                            <img src="https://velog.velcdn.com/images/mekite/post/e5a5b298-fcfd-41a6-860e-da51fb10e9bc/image.png" alt="people">
	                            <p>11/20</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	    </div>
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    <script th:src="@{/assets/js/challenge/user-challenge-list.js}"></script>
    </th:block> 
</html>