<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="popup-wrap" id="cf-warning-modal-overlay" style="display: none;" th:fragment="member-warning">
       <div class="popup" id="cf-warning-modal">
           <div class="popup-body">
               <ul>
                   <li class="pop">참여율 저조</li>
                   <li class="pop">친목(파벌 형성)</li>
                   <li class="pop">비매너</li>
                   <li class="pop">멤버간 분쟁</li>
                   <li class="pop">정치/종교적 발언</li>
                   <li class="pop">개인 멤버 접근 시도</li>
                   <li class="pop close" id="cf-warning-modal-overlay">취소</li>
               </ul>
           </div>
       </div>
   </div>
</html>