<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="modal-overlay cf-mbr-modal-overlay" id="cf-mbr-modal-overlay" th:fragment="member-list">
        <div class="modal-container" id="cf-mbr-modal">
            <div class="cf-modal-header" id="search-modal-header">
                <h2>챌린지 참여 멤버</h2>
                <img id="cf-mbr-modal-close" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
            </div>
            <hr>
            <div class="cf-mbr-modal-body">
                <div class="challenge-mbr-list">
                    <div class="mbr-id">
                        <img src="https://lh3.googleusercontent.com/proxy/BfMdyVCh0BuwN0LDpBOBcuk58n5zVCRB5QUX3vSyTItz-iTm7j1_QgcletDMa_Qg83le6fuU4D9tX9Vjawozx0bAxWF42Vi78ZXbfM0UalY" alt="프로필">
                        <p class="user-icon">아이디1</p>
                        <span class="mbr-warning">경고</span>
                        <button>강퇴</button>
                    </div>
                    <img src="https://velog.velcdn.com/images/mekite/post/21a70790-1027-41c2-a741-d0cf3859686e/image.png" alt="구분" id="section-bar">
                    <div class="mbr-id">
                        <img src="https://cdn.wonjutoday.co.kr/news/photo/201702/96092_49076_2932.jpg" alt="프로필">
                        <p class="user-icon">아이디2</p>
                        <span class="mbr-warning">경고</span>
                        <button>강퇴</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>