<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/challenge-feed-default}">
	
		
	<th:block layout:fragment="content-header">
         <div class="content-header">
             <!-- <div>
             	<h2 class="content-title card-title">챌린지내 개인 기록</h2>
             </div>  -->            
         </div>               	
	</th:block>
	
	<th:block layout:fragment="content-body">
		<div class="row">
			<div class="col">
				<!-- first feed -->
            <div class="feed">
                <div class="feed-header">
                    <a href="#">
                        <img src="https://velog.velcdn.com/images/mekite/post/75c1dd08-757f-4da0-814d-b19a7a01293b/image.jpg" alt="작성자 프로필">
                    </a>
                    <div class="user-name">
                        <a href="#">아이디</a>
                    </div>
                    <div class="feed-option">
                        <button class="option-button">
                            <img src="https://velog.velcdn.com/images/mekite/post/e1e30329-6765-425a-ad54-42e8df8a27aa/image.png" alt="옵션">
                        </button>
                    </div>
                </div>
                <div class="feed-main-img">                    
                    <img src="https://images.unsplash.com/photo-1500964757637-c85e8a162699?fm=jpg&q=60&w=3000" alt="게시글 이미지">
                </div>
                <div class="feed-action">
                    <div class="action-icons">
                        <button class="action-btn likeBtn">
                            <img class="likeImg" src="https://velog.velcdn.com/images/mekite/post/5d41002f-857b-4c4e-9d7c-80fe9fb35e59/image.png" alt="좋아요">
                        </button>
                        <button class="action-btn commentBtn">
                            <img src="https://velog.velcdn.com/images/mekite/post/3ca79f86-baf3-4d32-9f07-008c4ff960d2/image.png" alt="댓글">
                        </button>
                        <!-- 여기서부터 챌린지 피드 댓글 모달 -->
                        <div class="cf-comment-modal-overlay" id="cf-comment-modalOverlay" style="display: none;">
                            <div class="cf-comment-modal-container">
                                <div class="cf-comment-modal-header">
                                    <img src="https://velog.velcdn.com/images/mekite/post/cce77b75-c834-4f16-858d-1548946f09f5/image.png" alt="옵션">
                                    <h2>피드 댓글</h2>
                                    <img class="cf-comment-modalCloseBtn" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
                                </div>
                                <hr>
                                <div class="cf-comment-modal-body">
                                    <!-- 이미지 업로드 영역 -->
                                    <div class="cf-comment-modal-image-upload">
                                        <img src="https://velog.velcdn.com/images/mekite/post/3fb90300-352c-4764-bd26-8aed93be3a9a/image.png" alt="업로드된 이미지 미리보기" id="image-preview">
                                    </div>
                        
                                    <!-- 정보 입력 영역 -->
                                    <div class="cf-comment-feed-info">
                                        <div class="cf-user-comment-container">
                                            <div class="cf-comment-user-block">
                                                <img class="comment-profile" src="https://buly.kr/EdsBkqu" alt="프로필">
                                                <a href="#" class="cf-comment-user-link">아이디</a>
                                                <span class="comment-day-count"></span>
                                                <div class="cf-comment-feed-comment">
                                                    <span>맛있겠네요</span>
                                                </div>
                                            </div>
                                            <img src="https://velog.velcdn.com/images/mekite/post/21a70790-1027-41c2-a741-d0cf3859686e/image.png" alt="댓글구분" class="comment-section">
                                            <div class="cf-comment-user-block">
                                                <img class="comment-profile" src="https://img.daily.co.kr/@files/www.daily.co.kr/content/food/2020/20200730/f1f553b68a93b5b3262518e9424690db.jpg" alt="프로필">
                                                <a href="#" class="cf-comment-user-link">아이디</a>
                                                <span class="comment-day-count"></span>
                                                <div class="cf-comment-feed-comment">
                                                    <span>시럽은 시럽... 푸킼</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cf-comment-feed-info-under">
                                            <div class="action-icons">
                                                <button class="action-btn likeBtn">
                                                    <img class="likeImg" src="https://velog.velcdn.com/images/mekite/post/5d41002f-857b-4c4e-9d7c-80fe9fb35e59/image.png" alt="좋아요">
                                                </button>
                                                <button class="action-btn">
                                                    <img src="https://velog.velcdn.com/images/mekite/post/3ca79f86-baf3-4d32-9f07-008c4ff960d2/image.png" alt="댓글">
                                                </button>
                                                <span>좋아요 3</span>
                                            </div>
                                            <img src="https://velog.velcdn.com/images/mekite/post/21a70790-1027-41c2-a741-d0cf3859686e/image.png" alt="댓글구분" class="comment-section-under">
                                            <div class="cf-comment-under-input">
                                                <button type="button" class="emoji-btn">
                                                    <img class="emoji-btn-img" src="https://velog.velcdn.com/images/mekite/post/a503da4f-4678-459d-a80f-2f630a15d3bb/image.png" alt="이모지">
                                                </button>
                                                <input type="text" placeholder="댓글 달기...">
                                                <button type="button" class="cf-comment-comment-btn">게시</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 여기까지 챌린지 피드 댓글 모달 -->
                        <!-- <button class="action-btn">
                            <img src="https://velog.velcdn.com/images/mekite/post/24a2715e-32ac-4feb-b515-14f53dfaf197/image.png" alt="북마크">
                        </button> -->
                    </div>
                    <p class="feed-time">2일 전</p>
                </div>
                <div class="feed-description">
                    <p id="feed-likes">좋아요 100개</p>
                    <p>내용</p>
                    <p class="comments-link">댓글</p>
                </div>
                <hr>
                <div class="add-comment">
                    <img src="https://velog.velcdn.com/images/mekite/post/87802bec-0c39-4cf8-aa23-80ae579a0b37/image.png" alt="댓글 아이콘">
                    <input type="text" placeholder="댓글 달기...">
                    <button class="comment-submit">게시</button>
                </div>
            </div>
            <!-- second feed -->
            <div class="feed">
                <div class="feed-header">
                    <a href="#">
                        <img src="https://velog.velcdn.com/images/mekite/post/75c1dd08-757f-4da0-814d-b19a7a01293b/image.jpg" alt="작성자 프로필">
                    </a>
                    <div class="user-name">
                        <a href="#">아이디</a>
                    </div>
                    <div class="feed-option">
                        <button class="option-button">
                            <img src="https://velog.velcdn.com/images/mekite/post/e1e30329-6765-425a-ad54-42e8df8a27aa/image.png" alt="옵션">
                        </button>
                    </div>
                </div>
                <div class="feed-main-img">                    
                    <img src="https://images.unsplash.com/photo-1500964757637-c85e8a162699?fm=jpg&q=60&w=3000" alt="게시글 이미지">
                </div>
                <div class="feed-action">
                    <div class="action-icons">
                        <button class="action-btn likeBtn">
                            <img class="likeImg" src="https://velog.velcdn.com/images/mekite/post/5d41002f-857b-4c4e-9d7c-80fe9fb35e59/image.png" alt="좋아요">
                        </button>
                        <button class="action-btn commentBtn">
                            <img src="https://velog.velcdn.com/images/mekite/post/3ca79f86-baf3-4d32-9f07-008c4ff960d2/image.png" alt="댓글">
                        </button>
                        <!-- <button class="action-btn">
                            <img src="https://velog.velcdn.com/images/mekite/post/24a2715e-32ac-4feb-b515-14f53dfaf197/image.png" alt="북마크">
                        </button> -->
                    </div>
                    <p class="feed-time">2일 전</p>
                </div>
                <div class="feed-description">
                    <p id="feed-likes">좋아요 100개</p>
                    <p>내용</p>
                    <p class="comments-link">댓글</p>
                </div>
                <hr>
                <div class="add-comment">
                    <img src="https://velog.velcdn.com/images/mekite/post/87802bec-0c39-4cf8-aa23-80ae579a0b37/image.png" alt="댓글 아이콘">
                    <input type="text" placeholder="댓글 달기...">
                    <button class="comment-submit">게시</button>
                </div>
            </div>
			</div>
		</div>
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    <script th:src="@{/assets/js/user-challenge-list.js}"></script>
    </th:block> 
</html>