<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/mypage/info.css}" rel="stylesheet" type="text/css" />
</head>		
	<th:block layout:fragment="content-body" th:object="${memberInfo}">
		
        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <ul>
                <li>
                    <a th:href="@{/mypage/modify(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-user-gear"></i>
                        <div>my 정보 수정</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/tickethistory(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-ticket"></i>
                        <div>티켓 조회</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/pointhistory(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-brands fa-bitcoin"></i>
                        <div>포인트 조회</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/medicinearlam(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-capsules"></i>
                        <div>영양제 알림 체크</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/feedlist(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-regular fa-file-lines"></i>
                        <div>my 게시물</div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 메인 콘텐츠 -->
        <main id="main-content">
            <div class="main-container-title">
                    <div id="main-container-title__eng">Account</div>
                    <div id="main-container-title__kor">계정센터</div>
            </div>
		
            	<!-- multipart/form-data : 모든 문자를 인코딩하지 않음 (원본 데이터가 유지되어 이미지, 파일 등을 서버로 전송할 수 있음) -->
            <form class="account-form" id="modifyMemberForm" th:action="@{/mypage/member/info}" method="post"  enctype="multipart/form-data">
	            <div id="main-user-info">
            	<!-- <form th:action="@{/mypage/member/info}" method="POST" id="myPageFrm"> -->
	                <div id = "profile-image">
	                		<!-- 이미지경로 src ="${contextPath(<-수정)}<c:out value='${loginUser.profileURL(<-수정)}' default='/resources/static/assets/imgs/E0rJhxqVUAEFkbG.jpg' />"  -->
	                        <img th:src="*{memberImage}" 
	                         id="memberImage" name="memberImage" alt="프로필 이미지" class="profile-image">
	                </div>    
	                <div id="profile-info">
	                    <div id="profile-edit">
	                        <input type="file" name="file" id="btnChangeUplode" style="display:none"  accept="image/*">
	                        <!-- accept="image/*" -->
	                        <button type="button" id="btnChangeProfile" >프로필 변경</button>
	                    </div>
	                    <div id="profile-userId" th:text="*{memberId}"></div>
	                </div>
            	
            	</div>

            	<input type="hidden" id="memberId" name="memberId" th:value="*{memberId}">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input class="width-fit" type="text" id="name" th:value="*{memberName}" name="memberName" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="birth-date">생년월일</label>
                    <input type="text" id="birth-date" th:value="*{memberBirth}" name="memberBirth" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="new-password">새 비밀번호</label>
                    <div class="input-wrapper">
                   		<input class="width-fit" type="password" id="memberPw" name="memberPw" autocomplete="new-password" 
                   			   oninput="this.value=this.value.replace(/[^a-zA-Z0-9~!@#$%^&*()_+|<>?:{}]/g,'');" >
                   		<div></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password">새 비밀번호 확인</label>
                    <div class="input-wrapper">
                   		 <input class="width-fit" type="password" id="memberPwChk" autocomplete="new-password"
                   		        oninput="this.value=this.value.replace(/[^a-zA-Z0-9~!@#$%^&*()_+|<>?:{}]/g,'');">
                   		 <div></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone-number">핸드폰 번호</label>
                    <div class="phone-group">
	                    <div class="phone-input">
	                        <input type="text" id="phone-number1" th:value="${#strings.substring(memberInfo.memberPhoneNum,0,3)}" name="memberPhoneNum" maxlength="3" 
	                        	   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> -
	                        <input type="text" id="phone-number2" th:value="${#strings.substring(memberInfo.memberPhoneNum,4,8)}" name="memberPhoneNum" maxlength="4" 
	                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> -
	                        <input type="text" id="phone-number3" th:value="${#strings.substring(memberInfo.memberPhoneNum,9,13)}" name="memberPhoneNum" maxlength="4" 
	                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
	                    </div>     
	                    <div class= "phone-error"></div>
                    </div>
                </div>
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <div class="email-input">
                          <div class="email-gr">
                            <input type="text" name="memberEmail" id="memberEmail" th:value="${#strings.arraySplit(memberInfo.memberEmail,'@')[0]}" maxlength="20">
                            <input type="text" name="memberEmail" value="@" readonly="readonly" style="border:none; width: 35px; ">
                            <select name="memberEmail"> 
                                <option value="gmail.com" th:selected="${#strings.arraySplit(memberInfo.memberEmail,'@')[1]} eq 'gmail.com'">gmail.com</option>
                                <option value="naver.com" th:selected="${#strings.arraySplit(memberInfo.memberEmail,'@')[1]} eq 'naver.com'">naver.com</option>
                                <option value="daum.net"  th:selected="${#strings.arraySplit(memberInfo.memberEmail,'@')[1]} eq 'daum.net'">daum.net</option>
                            </select>
                          </div>
                         <div class= "email-error"></div>     
                        </div>
                    </div>
                    <button type="submit" id="modifyMemberBtn" class="btn-submit">수정</button>
                </form>
                <form action="/mypage/delete" method="post" id="deleteMemberForm">
                <input type="hidden" name="memberId" th:value="*{memberId}">
                    <div id="withdrawa">
          	          <button type="submit" id="removeBtn">회원탈퇴</button>
                    </div>
                </form>
		
       </main>

	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource">
	    <script th:src="@{/assets/js/layout.js}"></script>
	    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    </th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script type="text/javascript">
    	
		//유효성 검사 함수 : 빈값여부체크
		const emptyFn = (element) => { 
			const value = element.value.trim();
			let msg = '';
			let isEmpty = false; 
			
			if(!value){ 
				msg = '필수 입력항목입니다.';
				isEmpty = true;
			}
			element.nextElementSibling.textContent = msg;
			return isEmpty;
		}	
		const emptyPhoneFn = (element) => { 
			const value = element.value.trim();
			let msg = '';
			let isEmpty = false; 
			
			if(!value){ 
				msg = '필수 입력항목입니다.';
				isEmpty = true;
			}
			element.parentNode.nextElementSibling.textContent = msg;
			return isEmpty;
		}	
		const emptyEmailFn = (element) => { 
			const value = element.value.trim();
			let msg = '';
			let isEmpty = false; 
			
			if(!value){ 
				msg = '필수 입력항목입니다.';
				isEmpty = true;
			}
			element.parentNode.nextElementSibling.textContent = msg;
			return isEmpty;
		}	
		
		//유효성 검사 함수 : 8~16자 여부확인  
		const isPassword = (element) => {
			const memberPw = element.value.trim(); 
			let msg = '';
			let isDuplicate = false;
			var regExp =  /^(?=.*\d)[0-9a-zA-Z]{8,16}$/;
				if(memberPw && !regExp.test(memberPw)){
					msg = '8 ~ 16자 조합';
					isDuplicate = true;
				}
			element.nextElementSibling.textContent = msg;
	        return isDuplicate;
		 }
		
		//유효성 검사 함수 : 비밀번호일치 여부 확인 
		 const checkPwFn = (element) => {
			 const memberPw = document.querySelector('#memberPw').value.trim();
			 const checkPw = element.value;
			 let msg = '';
			 let isEqual = false;
		        if(memberPw && memberPw !=checkPw) { 
		        	msg = '비밀번호가 일치하지 않습니다.';
		        	isEqual = true;
		        }			 
		        element.nextElementSibling.textContent = msg;
		        return isEqual;		 
		 }

		    //입력값
		    const $memberPw = document.getElementById('memberPw')
		    const $checkPw = document.getElementById('memberPwChk')
		    const $email = document.getElementById('memberEmail')
		    const $phone1 = document.getElementById('phone-number1')
		    const $phone2 = document.getElementById('phone-number2')
		    const $phone3 = document.getElementById('phone-number3')
		 
		   	$memberPw.addEventListener('input', e => {
		   		const memberPw = e.target.value.trim();
		   		if(memberPw === '') {
		   			$checkPw.value = '';
		   			$checkPw.nextElementSibling.textContent = '';
		   		}
		   	});
		    
		    //값이비어있으면 유효성검사 함수종료 값있으면 유효성검사
		    $memberPw.addEventListener('blur', e => {
		    	if(e.target.value.trim() === '') return;
		    	isPassword(e.target);
		    });
		    
		    $checkPw.addEventListener('blur', e => {
		    	checkPwFn(e.target); return;
		    });
		    
		    $email.addEventListener('blur', e => {
		    	if(!emptyEmailFn(e.target)) return;
		    });
		    
		    $phone1.addEventListener('blur', e => {
		    	if(!emptyPhoneFn(e.target)) return;
		    });
		    
		    $phone2.addEventListener('blur', e => {
		    	if(!emptyPhoneFn(e.target)) return;
		    });
		    
		    $phone3.addEventListener('blur', e => {
		    	if(!emptyPhoneFn(e.target)) return;
		    });

		        
		 // 수정버튼 클릭시 유효성검사 후 폼 제출   
		   document.getElementById('modifyMemberForm').addEventListener('submit', function(e) {
			   e.preventDefault();

		        if($memberPw.value.trim() !== '' && isPassword($memberPw)){ 
		        	$memberPw.focus();
		        	return;
		        }
		        
		        if ($memberPw.value.trim() !== '' && checkPwFn($checkPw)) {
		            $checkPw.focus();
		            return; 
		        }
		        
		        if($checkPw.value.trim() !== '' && checkPwFn($checkPw)){                                       
		            $checkPw.focus();
		            return;
		        }
		        
		        if(emptyEmailFn($email)){
		        	$email.focus();
		        	return;
		        }
		        
		        if (emptyPhoneFn($phone1)) {
		        	$phone1.focus();
		            return; 
		        }
		        if (emptyPhoneFn($phone2)) {
		        	$phone2.focus();
		            return; 
		        }
		        if (emptyPhoneFn($phone3)) {
		        	$phone3.focus();
		            return; 
		        }
		        
		        this.submit();
		        alert('수정되었습니다.')
		   });
 
		   document.getElementById('deleteMemberForm').addEventListener('submit', function(e) {
		        this.submit();
		        alert('탈퇴가 완료되었습니다.')
		   });
		   
		 
		   $(document).ready(function() {
				$('#btnChangeProfile').click(function(){
					$('#btnChangeUplode').click();
				});	
				
				$('#memberImage').click(function(){
					$('#btnChangeUplode').click();
				});
				
				const btnChangeProfile = $('#btnChangeProfile'); //  button 
				const btnChangeUplode = $('#btnChangeUplode');   //  input 
				const memberImage = $('#memberImage');           // scr 
				
				btnChangeUplode.on('change', function(e){
					memberImage.empty();
					const file = e.target.files[0];
					if(file) {
						const reader = new FileReader();
						reader.onload = function(e) {
							memberImage.attr('src', e.target.result).show();
						}
						reader.readAsDataURL(file);
					}
				});
		   });
		   
	</script>
    </th:block> 
</html>