<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/mypage/medicine-arlam.css}" rel="stylesheet" type="text/css" />
</head>			
	
	
	<th:block layout:fragment="content-body" th:object="${memberInfo}">
	    <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <ul>
                <li>
                    <a th:href="@{/mypage/member/info(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-user-gear"></i>
                        <div>my 정보 수정</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/tickethistory(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-ticket"></i>
                        <div>티켓 조회</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/pointhistory(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-brands fa-bitcoin"></i>
                        <div>포인트 조회</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/medicinearlam(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-capsules"></i>
                        <div>영양제 알림 체크</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/feedlist(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-regular fa-file-lines"></i>
                        <div>my 게시물</div>
                    </a>
                </li>
            </ul>
        </div>

    <!-- 241224 영양제알림체크 기능사용 x  -->
    <!-- 메인 콘텐츠 -->
    <main id="main-content">
        <div class="main-container-title">
            <div id="main-container-title__eng">Medcine check</div>
            <div id="main-container-title__kor">영양제 체크</div>
        </div>

        <div id="main-content-medicine-manage">
            <div id="user-medicine-manage">
                <div id="medicine-manage-top">
                    <div class="medicine-manage-title">
                        오늘의 영양제
                    </div>
                    <div id="today-medcine-info">
                        <div class="today-medcine-item">
                            <span class="medcine-item-title">오늘의 복용량</span>
                            <span>2개의 영양제를 복용했습니다</span>
                        </div>
                        <div class="today-medcine-item">
                            <span class="medcine-item-title">다음 복용</span>
                            <span>비타민 C - 오후 1시</span>
                        </div>
                    </div>
                </div>
                
                <div id="medicine-manage-bottom">
                    <div class="medicine-manage-title">
                        <span>나의 영양제 관리</span>
                        <div>
                            <button id="addMedicineButton">+ 영양제 등록</button>
                            <button id="delMedicineButton">편집</button>
                        </div>
                    </div>
                    <div id="user-medcine-list">
                        <div class="user-medcine-item">
                            <input type="checkbox" class="medcine-check">
                            <span class="medcine-info">비타민C  - 1알 복용</span>
                        </div>
                        <div class="user-medcine-item">
                            <input type="checkbox" class="medcine-check">
                            <span class="medcine-info">비타민C  - 1알 복용</span>
                        </div>
                        <div class="user-medcine-item">
                            <input type="checkbox" class="medcine-check">
                            <span class="medcine-info">비타민C  - 1알 복용</span>
                        </div>
                        <div class="user-medcine-item">
                            <input type="checkbox" class="medcine-check">
                            <span class="medcine-info">비타민C  - 1알 복용</span>
                        </div>
                        <div class="user-medcine-item">
                            <input type="checkbox" class="medcine-check">
                            <span class="medcine-info">비타민C  - 1알 복용</span>
                        </div>
                        <div class="user-medcine-item">
                            <input type="checkbox" class="medcine-check">
                            <span class="medcine-info">비타민C  - 1알 복용</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    </th:block> 
</html>