<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/mypage/ticket-history.css}" rel="stylesheet" type="text/css" />
</head>			
		
	
	<th:block layout:fragment="content-body" th:object="${memberInfo}">
        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <ul>
                <li>
                    <a th:href="@{/mypage/modify(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-user-gear"></i>
                        <div>my 정보 수정</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/tickethistory(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-ticket"></i>
                        <div>티켓 조회</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/pointhistory(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-brands fa-bitcoin"></i>
                        <div>포인트 조회</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/medicinearlam(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-solid fa-capsules"></i>
                        <div>영양제 알림 체크</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/feedlist(memberId=*{memberId})}" class="menu-item">
                        <i class="fa-regular fa-file-lines"></i>
                        <div>my 게시물</div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 메인 콘텐츠 -->
        <main id="main-content">
            <div class="main-container-title">
                    <div id="main-container-title__eng">Payment</div>
                    <div id="main-container-title__kor">티켓조회</div>
            </div>
            <div id="main-user-info">
                <div id = "profile-image">
                    <a href="#">
                        <img th:src="*{memberImage}" alt="프로필 이미지" class="profile-image">
                    </a>
                </div>
                <div id="profile-userId" th:text="*{memberId}"></div>
               <th:block th:if="${ticketList != null}">
	                <div id="remaining-point">이용한 티켓: <a th:text="${ticketUsedCnt}"></a> 남은 티켓: <a th:text="${ticketNotUsedCnt}"></a></div>
               </th:block>    
            </div>
            
                <form class="search-form" th:action="@{/mypage/tickethistory}">
                    <label for="start-date">조회기간 설정:</label>
                    <input type="date" id="start-date" value="2024-01-01" name="startDate">
                    ~
                    <input type="date" id="end-date" value="2024-12-31" name="endDate">
                    <button type="submit" class="btn-search" id="btn-search">검색</button>
                </form>
                <div class="ticket-table-container">
                    <table class="ticket-table">
                        <thead>
                            <tr>
                                <th>구매 날짜</th>
                                <th>티켓 이름</th>
                                <th>결제 수단</th>
                                <th>사용 현황</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${not #lists.isEmpty(ticketList)}">
                        		<tr th:each="l : ${ticketList}"> 
                        			<td th:text="${l.ticketBuyDate}"></td>
                        			<td th:text="${l.ticketName}"></td>
                        			<td th:text="${l.ticketPaymentMethod}"></td>
                        			<td th:text="${l.ticketUseChk eq null} ? '사용 안함' : '사용'"></td>
                        		</tr>
                            </th:block>
                            <th:block th:unless="${not #lists.isEmpty(ticketList)}">
								<tr>
									<td colspan="4">구매한 티켓 이력이 없습니다.</td>
								</tr>
                            
                            <!-- 추가 행 -->
                        </tbody>
                    </table>
                    <div class="pagination">
						<ul class="pagination">
	                    	<li><a th:href="@{/mypage/tickethistory}">&lt;&lt;</a></li>
	                    	<li th:classappend="${currentPage < 2} ? 'disabled'">
	                        	<a th:href="@{/mypage/tickethistory(currentPage=${currentPage - 1})}" >&lt;</a>
	                    	</li>
	                    	<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
			                    <li th:classappend="${num == currentPage} ? 'active'">
			                    	<a th:href="@{/mypage/tickethistory(currentPage=${num})}" th:text="${num}"></a>
			                    </li>
	                  		</th:block>
	                  		<li th:classappend="${currentPage eq lastPage} ? 'disabled'">
	                    	    <a th:href="@{/mypage/tickethistory(currentPage=${currentPage + 1})}">&gt;</a>
	                  		</li>
						    <li><a th:href="@{/mypage/tickethistory(currentPage=${lastPage})}">&gt;&gt;</a></li>                    
						</ul>                    
                    </div>
                 </div>
        </main>
	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    <script type="text/javascript">
    
     
     </script>
    
    </th:block> 
    
</html>