<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/ticket/purchase-list.css}" rel="stylesheet" type="text/css" />
	<script src="https://kit.fontawesome.com/cc1c733a97.js" crossorigin="anonymous"></script>
</head>			
		
	<th:block layout:fragment="content-body">

        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <ul>
                <li>
                    <a th:href="@{/ticket/itemlist}" class="menu-item">
                        <i class="fa-solid fa-ticket"></i>
                        <div>티켓 결제</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/ticket/purchaselist}" class="menu-item">
                        <i class="fa-regular fa-rectangle-list"></i>
                        <div>티켓 상세내역 조회</div>
                    </a>
                </li>
            </ul>
        </div>
   

        <!-- 메인 콘텐츠 -->
            <main id="main-content">
                <div class="main-container-title">
                        <div id="main-container-title__eng">Payment</div>
                        <div id="main-container-title__kor">티켓 상세내역 조회</div>
                </div>

                <div class = "table-info">
                    <!-- 조회기간 -->
                    <div>조회기간</div>
                    <div class = "line"></div>
                    <div class = "smile">
                        <div class = "filter-section month">
						    <form th:action="@{/ticket/purchaselist/search}" method="get">
						        <input type="hidden" value="7" name="dayFilter">
						        <button type="submit">일주일</button>
						    </form>
						    <form th:action="@{/ticket/purchaselist/search}" method="get">
						        <input type="hidden" value="30" name="dayFilter">
						        <button type="submit">1개월</button>
						    </form>
						    <form th:action="@{/ticket/purchaselist/search}" method="get">
						        <input type="hidden" value="90" name="dayFilter">
						        <button type="submit">3개월</button>
						    </form>
						    <form th:action="@{/ticket/purchaselist/search}" method="get">
						        <input type="hidden" value="180" name="dayFilter">
						        <button type="submit">6개월</button>
						    </form>
						    <form th:action="@{/ticket/purchaselist/search}" method="get">
						        <input type="hidden" value="1" name="dayFilter">
						        <button type="submit">전체</button>
						    </form>
                        </div>    
<!--                         <div class="filtet-section date">
                            <div class="datebox">
                                <input type="date" value="2024-10-01">
                                ~
                                <input type="date" value="2024-12-31">
                            </div>
                        </div> -->
                    </div>
                    <!-- 결제 내역 테이블 -->
                    <div id="ticket-list">티켓 구매 내역</div>
                    <div class = "line"></div>
                    <table class="payment-table">
                        <thead>
                            <tr>
                                <th>구매일</th>
                                <th>티켓 이름</th>
                                <th>결제 금액</th>
                                <th>결제 상태</th>
                                <th>결제 수단</th>
                                <th>상세보기</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<th:block th:if="${not #lists.isEmpty(ticketPurchase)}">
	                           <tr th:each="l:${ticketPurchase}">
	                               <td th:text="${l.ticketPurchaseDate}"></td>
	                               <td th:text="${l.ticketCategory}"></td>
	                               <td th:text="${l.paymentAmount}"></td>
	                               <td th:text="${l.paymentReturnStatus == '' ? l.paymentStatus : l.paymentReturnStatus}"></td>
	                               <td th:text="${l.paymentMethod}"></td>
	                               <td><a th:href="@{/ticket/purchasedetail/view(paymentNum=${l.paymentNum})}">결제 상세</a></td>
	                           </tr>
	                         </th:block>
                            <th:block th:unless="${not #lists.isEmpty(ticketPurchase)}">
							<tr>
								<td colspan="6">구매한 티켓 이력이 없습니다.</td>
							</tr>
                        </tbody>
                    </table>
                    <!-- 페이징 -->
  					  <th:block th:with="test=${queryParam + '&'}">
	                    <div id="pagination" class="pagination" th:if="${not #lists.isEmpty(ticketPurchase)}" >
		                   <ul class="pagination" >
		                   	<li th:classappend="${currentPage eq 1} ? 'disabled'">
		                   		<a class="page-link" th:href="@{/ticket/purchaselist}">
		                   			<i class="fa-solid fa-angles-left"></i>
		                   		</a>
		                   	</li>
		                   	<li th:classappend="${currentPage eq 1} ? 'disabled'">
		                   		<a class="page-link" th:href="@{/ticket/purchaselist(currentPage=${currentPage - 1})}">
		                   			<i class="fa-solid fa-angle-left"></i>
		                   		</a>
		                   	</li>
		                   	<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
		                        <li th:classappend="${num == currentPage} ? 'active'">
		                          <a class="page-link" 
		                        	th:attr="href=${test == null} ? |?currentPage=${num}| : |?${test}currentPage=${num}|"
		                        	 th:text="${num}"></a>
		                        </li>
		                   	</th:block>                           
		                    <li th:classappend="${currentPage eq lastPage} ? 'disabled'">
		                        <a class="page-link" th:href="@{/ticket/purchaselist(currentPage=${currentPage +1})}">
		                        	<i class="fa-solid fa-angle-right"></i>
	                        	</a>
		                    </li>
		                    <li th:classappend="${currentPage eq lastPage} ? 'disabled'">
		                        <a class="page-link" th:href="@{/ticket/purchaselist(currentPage=${lastPage})}">
		                        	<i class="fa-solid fa-angles-right"></i>
	                        	</a>
		                    </li>
		                   </ul>
	                   	</div>
                   	</th:block>	
                 </div>
            </main>      
	
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    </th:block> 
</html>