<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/ticket/purchase-list.css}" rel="stylesheet" type="text/css" />
</head>			
		
	<th:block layout:fragment="content-body">

        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <ul>
                <li>
                    <a th:href="@{/ticket/itemlist}" class="menu-item">
                        <i class="fa-solid fa-ticket"></i>
                        <div>티켓결제</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/ticket/purchaselist}" class="menu-item">
                        <i class="fa-regular fa-rectangle-list"></i>
                        <div>티켓 상세내역 조회</div>
                    </a>
                </li>
            </ul>
        </div>
   

        <!-- 메인 콘텐츠 -->
            <main id="main-content">
                <div class="main-container-title">
                        <div id="main-container-title__eng">Payment</div>
                        <div id="main-container-title__kor">티켓 상세내역 조회</div>
                </div>

                <div class = "table-info">
                    <!-- 조회기간 -->
                    <div>조회기간</div>
                    <div class = "line"></div>
                    <div class = "smile">
                        <div class = "filter-section month">
                            <button>당일</button>
                            <button>1개월</button>
                            <button>3개월</button>
                            <button class="active">6개월</button>
                            <button>전체</button>
                        </div>    
                        <div class="filtet-section date">
                            <div class="datebox">
                                <input type="date" value="2024-10-01">
                                ~
                                <input type="date" value="2024-12-31">
                            </div>
                        </div>
                    </div>
                    <!-- 결제 내역 테이블 -->
                    <div id="ticket-list">티켓 구매 내역</div>
                    <div class = "line"></div>
                    <table class="payment-table">
                        <thead>
                            <tr>
                                <th>구매일</th>
                                <th>티켓 이름</th>
                                <th>결제 금액</th>
                                <th>결제 상태</th>
                                <th>결제 수단</th>
                                <th>상세보기</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2024-12-02</td>
                                <td>참여 티켓</td>
                                <td>4,180 원</td>
                                <td>결제대기</td>
                                <td>신용카드</td>
                                <td><a href="#">결제 상세</a></td>
                            </tr>
                            <tr>
                                <td>2024-11-29</td>
                                <td>챌린지 티켓</td>
                                <td>10,780 원</td>
                                <td class="status-failed">결제실패</td>
                                <td>카카오페이</td>
                                <td><a th:href="@{/ticket/purchasedetail}">결제 상세</a></td>
                            </tr>
                            <!-- 추가 행 -->
                        </tbody>
                    </table>
                    <!-- 페이징 -->
                    <div class="pagination">
                        <a href="#">&lt;</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">&gt;</a>
                    </div>


                </div>
            </main>      
	
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    </th:block> 
</html>