<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.user.challenge.feed.mapper.ChallengeFeedMapper">
  	<!-- 특정 챌린지 피드 조회 -->
  	<resultMap type="ChallengeFeed" id="ChallengeFeedResultMap">
	    <id 	column="cmf_num"		   property="challengeFeedCode" />
	    <id 	column="cg_num" 		   property="challengeCode" />
	    <result column="mbr_id" 		   property="challengeMemberId" />
	    <result column="cmf_content"	   property="challengeFeedContent" />
	    <result column="cmf_picture"	   property="challengeFeedPicture" />
	    <result column="cmf_date"	   	   property="challengeFeedDate" />
	    <result column="cmf_like"		   property="challengeFeedLike" />
	    <result column="cmf_warning_check" property="challengeFeedWarningCheck" />
	    <result column="mbr_image"		   property="memberProfileImage" />
	    <result column="cfc_num"		   property="challengeFeedCommentCode" javaType="string"/>
	    <result column="cfc_content"	   property="challengeFeedCommentContent" />
	</resultMap>
	
	<!-- 챌린지 멤버 리스트 조회 -->
	<resultMap type="ChallengeMemberList" id="ChallengeMemberListMap">
		<id 	column="cgm_num"	 property="challengeMemberCode" />
		<id 	column="cg_num" 	 property="challengeCode" />
		<result column="mbr_id"		 property="memberId" />
		<result column="cs_num" 	 property="challengeStatus" />
		<result column="cgm_date"	 property="challengeMemberInOutDate" />
		<result column="mbr_image"   property="memberProfileImage" />
		<result column="cmss_today_participation_rate"  property="todayParticipationRate" javaType="double" />
	    <result column="cmss_today_achievement_rate" 	property="todayAchievementRate" javaType="double" />
	    <result column="score" 							property="score" javaType="double" />
	</resultMap>
	
	<!-- 챌린지 댓글 리스트 조회 -->
	<resultMap type="ChallengeFeedComment"  id="ChallengeFeedCommentMap">
		<id 	column="cgm_num" 			property="challengeFeedCommentCode" />
		<id 	column="cmf_num"			property="challengeFeedCode" />
		<result column="mbr_id" 			property="challengeFeedCommentAuthor" />
		<result column="cfc_content" 		property="challengeFeedCommentContent"/>
		<result column="cfc_date" 			property="challengeFeedCommentDate"/>
		<result column="cfc_like" 			property="challengeFeedCommentLike"/>
		<result column="cfc_caution_check"  property="challengeFeedCommentCaution"/>
		<result column="cmf_picture" 		property="challengeFeedImage"/>
		<result column="mbr_image" 			property="challengeCommentAuthorImage"/>
	</resultMap>
	
	<!-- 챌린지 진행 상태 조회 -->
	<resultMap type="ChallengeProgress" id="ChallengeProcessMap">
		<id 	column="cg_num" 						property="challengeCode"/>
		<result column="cg_name" 						property="challengeName"/>
		<result column="cs_num"							property="challengeStatusCode"/>
		<result column="mbr_id" 						property="challengeMemberId"/>
		<result column="mbr_image" 						property="memberProfileImage"/>
		<result column="cg_creation_date" 				property="challengeCreationDate"/>
		<result column="cg_start_date" 					property="challengeStartDate"/>
		<result column="cg_end_date" 					property="challengeEndDate"/>
		<result column="cg_current_mbr_count"			property="challengeCurrentMember"/>
		<result column="cg_max_mbr_count"			    property="challengeMaxMember"/>
		<result column="cmss_today_participation_rate"  property="challengeTodayParticipationRate"/>
		<result column="cmss_today_achievement_rate" 	property="challengeTodayAchievementRate"/>
		<result column="cmss_date" 						property="challengeTodayUploadDate"/>
	</resultMap>
	
	<!-- 로그인된 챌린지 멤버 아이디 -->
	<select id="getChallengeCodeByMemberId" parameterType="string" resultType="string">
	    SELECT
	    	cg_num
        FROM
        	challenge_member_feed
        WHERE
        	mbr_id = #{memberId}
        LIMIT 1
	</select>
	
	<!-- 특정 챌린지 피드 조회 -->
	<select id="getChallengeFeed" parameterType="map" resultMap="ChallengeFeedResultMap">
		SELECT
			cmf.cmf_num,
			cmf.cg_num,
			cmf.mbr_id,
			cmf.cmf_content,
			cmf.cmf_picture,
			cmf.cmf_date,
			cmf.cmf_like,
			cmf.cmf_warning_check,
			m.mbr_image,
			cfc.cfc_num,
			cfc.cfc_content
		FROM
			challenge_member_feed cmf
			INNER JOIN `member` m USING(mbr_id)
			LEFT JOIN challenge_feed_comments cfc USING(cmf_num)
		WHERE
			cmf.cg_num = #{challengeCode}
			AND cg_num IS NOT NULL
		ORDER BY cmf_date DESC
		LIMIT #{pageable.offset}, #{pageable.rowPerPage}
	</select>
	
	<!-- 챌린지 피드 행 갯수 조회 -->
	<select id="getChallengeFeedCount" resultType="int" parameterType="string">
		SELECT
			COUNT(*)
		FROM
			challenge_member_feed cmf
		WHERE
			cmf.cg_num = #{challengeCode}
			AND cg_num IS NOT NULL
		ORDER BY cmf_date DESC
	</select>
	
	<!-- 총 업로드 데이터 합계((총 참여율+총달성률)/2/14(기간)/멤버수/100) -->
  	<select id="getTodayProgressSum" resultType="int" parameterType="string">
  		SELECT
		   ROUND(SUM(cmss_today_participation_rate + cmss_today_achievement_rate)/2/14/COUNT(DISTINCT mbr_id)/100, 1) AS result
		FROM
			challenge_member_score_stats cmss
		WHERE
		   cg_num = #{challengeCode}
  	</select>
  	
  	<!-- 참여 멤버 점수 -->
  	<select id="getTopParticipants" parameterType="string" resultType="ChallengeMemberList">
  		SELECT 
	        m.mbr_id 							AS memberId,
	        m.mbr_image 						AS memberProfileImage,
	        cmss.cmss_today_participation_rate  AS todayParticipationRate,
	        cmss.cmss_today_achievement_rate 	AS todayAchievementRate,
	        ROUND((cmss_today_participation_rate + cmss_today_achievement_rate)/2/14, 1) AS score
	    FROM 
	        challenge_member_score_stats cmss
	    	INNER JOIN member m USING (mbr_id)
	    WHERE 
	        cmss.cg_num = #{challengeCode}
	    ORDER BY score DESC
	    LIMIT 3
  	</select>
	
	<!-- 챌린지 멤버 리스트 조회 -->
  	<select id="getMemberList" resultMap="ChallengeMemberListMap">		
		SELECT
			MAX(cgm.cgm_num),
			MAX(cgm.cg_num),
			cgm.mbr_id,
			MAX(cgm.cs_num),
			MAX(cgm.cgm_date),
			m.mbr_image
		FROM
			challenge_group_member cgm
			LEFT JOIN `member` m USING(mbr_id)
		WHERE
			cg_num = #{challengeCode}
		GROUP BY
			cgm.mbr_id, m.mbr_image
  	</select>
  	
  	<!-- 챌린지 댓글 리스트 조회 -->
  	<select id="getFeedCommentList" resultMap="ChallengeFeedCommentMap">
  		SELECT
			cfc.cfc_num,
			cfc.cmf_num,
			cfc.mbr_id,
			cfc.cfc_content,
			cfc.cfc_date,
			cfc.cfc_like,
			cfc.cfc_caution_check,
			cmf.cmf_picture,
			m.mbr_image
		FROM
			challenge_feed_comments cfc
			LEFT JOIN `member` m USING(mbr_id)
			INNER JOIN challenge_member_feed cmf USING(cmf_num)
		WHERE
			cfc.cmf_num = #{challengeFeedCode}
  	</select>
  	
  	<!-- 챌린지 진행 상태 조회 -->
  	<select id="getChallengeProgress" resultMap="ChallengeProcessMap">
  		SELECT DISTINCT
			cg.cg_num,
			cg.cg_name,
			cg.cs_num,
			cg.mbr_id,
			m.mbr_image,
			cg.cg_creation_date,
			cg.cg_start_date,
			cg.cg_end_date,
			cg.cg_current_mbr_count,
			cg.cg_max_mbr_count,
			cmss.cmss_today_participation_rate,
			cmss.cmss_today_achievement_rate,
			cmss.cmss_date
		FROM
			challenge_group cg
			INNER JOIN `member` m USING(mbr_id)
			INNER JOIN challenge_member_score_stats cmss USING(cg_num)
		WHERE
			cg_num = #{challengeCode}
  	</select>
  	
  	<select id="getChallengeProgressByCode" parameterType="string" resultType="ChallengeProgress">
	    SELECT 
	        cg.cg_num AS challengeCode,
	        cg.cg_start_date AS challengeStartDate,
	        cg.cg_end_date AS challengeEndDate
	    FROM challenge_group cg
	    WHERE cg_num = #{challengeCode}
	</select>
  </mapper>
  