<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.user.challenge.feed.mapper.ChallengeFeedMapper">
  	<!-- 특정 챌린지 피드 조회 -->
  	<resultMap type="ChallengeFeed" id="ChallengeFeedResultMap">
	    <id 	column="cmf_num"		   property="challengeFeedCode" />
	    <result column="cg_num" 		   property="challengeCode" />
	    <result column="mbr_id" 		   property="challengeFeedAuthor" />
	    <result column="cmf_content"	   property="challengeFeedContent" />
	    <result column="cmf_picture"	   property="challengeFeedPicture" />
	    <result column="cmf_date"	   	   property="challengeFeedDate" />
	    <result column="cmf_like"		   property="challengeFeedLike" />
	    <result column="cmf_warning_check" property="challengeFeedWarningCheck" />
	    <result column="mbr_image"		   property="memberProfileImage" />
	    <result column="cfc_num"		   property="challengeFeedCommentCode" />
	    <result column="cfc_content"	   property="challengeFeedCommentContent" />
	</resultMap>
	
	<!-- 챌린지 멤버 리스트 조회 -->
	<resultMap type="ChallengeMemberList" id="ChallengeMemberListMap">
		<id 	column="cgm_num"	 property="challengeMemberCode" />
		<id 	column="cg_num" 	 property="challengeCode" />
		<result column="mbr_id"		 property="memberId" />
		<result column="cs_num" 	 property="memberProfileImage" />
		<result column="cgm_date"	 property="challengeStatus" />
		<result column="mbr_image"   property="challengeMemberInOutDate" />
	</resultMap>
	
	<!-- 챌린지 댓글 리스트 조회 -->
	<resultMap type="ChallengeFeedComment" id="ChallengeFeedCommentMap">
		<id 	column="cgm_num" property="challengeFeedCommentCode" />
		<id 	column="cmf_num" property="challengeFeedCode" />
		<result column="mbr_id" property="challengeFeedCommentAuthor" />
		<result column="cfc_content" property="challengeFeedCommentContent"/>
		<result column="cfc_date" property="challengeFeedCommentDate"/>
		<result column="cfc_like" 		property="challengeFeedCommentLike"/>
		<result column="cfc_caution_check" property="challengeFeedCommentCaution"/>
		<result column="mbr_image" property="challengeFeedImage"/>
	</resultMap>
	
	<!-- 특정 챌린지 피드 조회 -->
	<select id="getChallengeFeedList" resultMap="ChallengeFeedResultMap">
		SELECT
			cmf.cmf_num,
			cmf.cg_num,
			cmf.mbr_id,
			cmf.cmf_content,
			cmf.cmf_picture,
			cmf.cmf_date,
			cmf.cmf_like,
			cmf.cmf_warning_check,
			m.mbr_image,
			fc.fc_num,
			fc.fc_content
		FROM
			challenge_member_feed cmf
			INNER JOIN `member` m USING(mbr_id)
			LEFT JOIN challenge_feed_comments cfc USING(cmf_num)
		LIMIT #{offset}, #{pageSize}
	</select>
	
	<!-- 챌린지 멤버 리스트 조회 -->
  	<select id="getMemberList" resultMap="ChallengeMemberListMap">
  		SELECT
			cgm.cgm_num,
			cgm.cg_num,
			cgm.mbr_id,
			cgm.cs_num,
			cgm.cgm_date,
			m.mbr_image
		FROM
			challenge_group_member cgm
			LEFT JOIN `member` m USING(mbr_id)
		WHERE
			cg_num = #{challengeCode};
  	</select>
  	
  	<!-- 챌린지 댓글 리스트 조회 -->
  	<select id="getFeedComment" resultMap="ChallengeFeedCommentMap">
  		SELECT
			cfc.cfc_num,
			cfc.cmf_num,
			cfc.mbr_id,
			cfc.cfc_content,
			cfc.cfc_date,
			cfc.cfc_like,
			cfc.cfc_caution_check,
			m.mbr_image
		FROM
			challenge_feed_comments cfc
			LEFT JOIN `member` m USING(mbr_id)
		WHERE
			cfc.cmf_num = #{challengeFeedCode};
  	</select>
  </mapper>
  