<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>doself</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="doSelf" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Template CSS -->
    <link th:href="@{/assets/css/layout.css}" rel="stylesheet" type="text/css" />
    
</head>
<body>
	<!-- main-header start -->
    <!--/* th:replace="~{"상대경로" :: 조각의 이름}" */-->
    <header th:replace="~{user/fragments/header :: headerFragment}"></header>
    <!-- main-header end -->
    
    
    <!-- main-body start -->
	<section class="content-main">            
    	<!--/* content-header */-->
    	<th:block layout:fragment="content-header"></th:block>

    	<!--/* content-body */-->                         
        <th:block layout:fragment="content-body"></th:block>               
    </section>
    <!-- main-body end -->
    
    <!-- main-footer start -->
    <footer th:replace="~{user/fragments/footer :: footerFragment}"></footer>
    <!-- main-footer end -->
    
    <!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource">
   	 	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
     	<script src="https://kit.fontawesome.com/cc1c733a97.js" crossorigin="anonymous"></script> 
    	<!-- 검색기능 -->
   	 	<script th:src="@{/assets/js/layout.js}"></script> 
    </th:block>
   		
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs"></th:block> 
</body>
</html>