<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	
		
		<th:block layout:fragment="content-header">
          <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">회원 정보 수정</h2>                        
                    </div>
                </div>
            </div>    
		</th:block>
		
		<th:block layout:fragment="content-body">			
			<form action="#" method="post">
			<div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">1. 회원등급</label>
                                        <select name="scCode" id="scCode" class="form-select">
                                        	<option value="mg_001">관리자</option>
                                        	<option value="mg_002">회원</option>
                                        	<option value="mg_003">부정회원</option>
                                        </select>
                                    </div>                
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->

                            <hr class="mb-4 mt-0">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">2. 이메일</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->                            
                            
                            <hr class="mb-4 mt-0">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">3. 생년월일</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// --> 
                                                       
                            <hr class="mb-4 mt-0">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">4. 연락처</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->                                                         
                            
                            <div class="row">                                
                                <div class="col-md-9 addBtn">
                                    <a class="btn btn-light rounded font-sm mr-5 text-body hover-up" th:href="@{#}">수정하기</a>
                            		<a class="btn btn-md rounded font-sm hover-up" th:href="@{/admin/member/list}">취소</a>
                                </div> <!-- col.// -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>             
			</form>		
		</th:block> 

		<!--/* 사용자 추가 js file */-->
        <th:block layout:fragment="customJsResource">        	
        </th:block>
         
        <!--/* 사용자 추가 js script */-->
        <th:block layout:fragment="customJs">
        	<script>
        	
        	</script>
        </th:block> 
</html>