<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.user.market.mapper.MarketMapper">
  
  	<resultMap type="MarketItem" id="marketItemResultMap">
  		<id 	column="pepl_num" 			property="pointItemKeyNum"/>
  		<result column="pepl_name" 			property="pointItemName"/>
  		<result column="pepl_price"			property="pointItemPrice"/>
  		<result column="pepl_img" 			property="pointItemImg"/>
  		<result column="pepl_expl" 			property="pointExplanation"/>
  	</resultMap>
  	
  	<resultMap type="PurchaseItem" id="purchaseItemResultMap">
  		<id 	column="mbr_id" 			property="memberId"/>
  		<result column="pepl_name" 			property="itemName"/>
  		<result column="pumh_code"			property="itemCode"/>
 		<result column="pepl_price" 		property="itemPrice"/>
  		<result column="pumh_date" 			property="itemPurchaseDate"/>
  	</resultMap>
  	
  	<!-- 마켓 아이템 리스트 조회 -->
  	<select id="getMarketItemList" resultMap="marketItemResultMap" >
		SELECT *
		FROM point_exchange_product_list
		WHERE pepl_is_deleted = 'active';
  	</select>
  	
  	<!-- 회원 포인트 조회 -->
  	<select id="getMemberPointById" parameterType="String" resultType="int">
  		SELECT mbr_point
		FROM member
		WHERE mbr_id = #{meberId};
  	</select>
  	
  	<!-- 마켓 아이템 상세 조회 -->
	<select id="getItemDetail" resultMap="marketItemResultMap" resultType="MarketItem">
		SELECT *
		FROM point_exchange_product_list
		WHERE pepl_num = #{pointItemKeyNum};
  	</select>
  	
  	<!-- 포인트 구매내역 행 총 갯수 조회 -->
  	<select id="getCntOfPurchaseListById" parameterType="String" resultType="int">
  		SELECT COUNT(*)
		FROM point_use_management_history pumh INNER JOIN point_exchange_product_list pepl
		USING(pepl_num)
		WHERE mbr_id = #{memberId}
  	</select>
  	
  	<!-- 포인트 구매내역 조회 -->
  	<select id="getPurchaseListById" resultMap="purchaseItemResultMap" parameterType="Map">
  		SELECT 
  			pumh.mbr_id, 
  			pepl.pepl_name, 
  			pumh.pumh_code, 
  			pepl.pepl_price, 
  			pumh.pumh_date
		FROM 
			point_use_management_history pumh 
			INNER JOIN point_exchange_product_list pepl
		USING(pepl_num)
		WHERE mbr_id = #{memberId}
  		LIMIT #{pageable.rowPerPage} OFFSET #{pageable.offset};
  	</select>
  	
  	<insert id="createPurchaseItem" parameterType="PurchaseItemInfo">
  		INSERT INTO point_use_management_history
		(pumh_num, pepl_num, mbr_id, pumh_code, pumh_date)
		VALUES (#{requestTableLastPkNum}, #{pointItemKeyNum}, #{memberId}, #{purchaseItemCode}, NOW())
  	</insert>
  	
  	<update id="modifyMemberPoint" parameterType="Map">
  		UPDATE member
		SET
			mbr_point = ${calculatedPoint}
		WHERE mbr_id = #{memberId}
  	</update>
  	
</mapper>