<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside class="navbar-aside" id="offcanvas_aside"  th:fragment="asideFragment">
            <div class="aside-top">
                <a href="#" class="brand-wrap">
                    <img src="https://velog.velcdn.com/images/mekite/post/3958812c-a50f-426c-a9ca-363b12b9bd4a/image.PNG" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="../../star_travel_bootstrap/star-3-1/Static HTML/mainpage.html">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">doSelf</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu" th:classappend="${currentURI == '/admin' or currentURI == '/admin/member/list' or currentURI == '/admin/member/loglist' ? 'active' : ''}">
                        <a class="menu-link" th:href="@{/admin}">
                            <i class="fa-solid fa-user-gear"></i>
                            <span class="text">회원관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/member/list}" th:classappend="${currentURI == '/admin' or currentURI == '/admin/member/list' ? 'active' : ''}">회원 관리</a>
                            <a th:href="@{/admin/member/loglist}" th:classappend="${currentURI == '/admin/member/loglist' ? 'active' : ''}">로그 관리</a>                               
                        </div>
                    </li>
                    <li class="menu-item has-submenu" th:classappend="${currentURI == '/admin/challenge/list' or currentURI == '/admin/challenge/personalstatlist' or currentURI == '/admin/challenge/statlist' or currentURI == '/admin/challenge/personalscorelist' or currentURI == '/admin/challenge/scorelist' or currentURI == '/admin/challenge/warninglist' or currentURI == '/admin/challenge/rewardlist' ? 'active' : ''}" >
                        <a class="menu-link" th:href="@{/admin/challenge/list}">
                            <i class="fa-solid fa-users-gear"></i>
                            <span class="text">챌린지 관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/challenge/list}" th:classappend="${currentURI == '/admin/challenge/list' ? 'active' : ''}">챌린지 관리</a>
                            <a th:href="@{/admin/challenge/personalstatlist}" th:classappend="${currentURI == '/admin/challenge/personalstatlist' ? 'active' : ''}">챌린지내 개인</a>
                            <a th:href="@{/admin/challenge/statlist}" th:classappend="${currentURI == '/admin/challenge/statlist' ? 'active' : ''}">챌린지 별 기록</a>
                            <a th:href="@{/admin/challenge/personalscorelist}" th:classappend="${currentURI == '/admin/challenge/personalscorelist' ? 'active' : ''}">챌린지 개인 점수</a>
                            <a th:href="@{/admin/challenge/scorelist}" th:classappend="${currentURI == '/admin/challenge/scorelist' ? 'active' : ''}">챌린지 점수</a>
                            <a th:href="@{/admin/challenge/warninglist}" th:classappend="${currentURI == '/admin/challenge/warninglist' ? 'active' : ''}">경고내역</a>
                            <a th:href="@{/admin/challenge/rewardlist}" th:classappend="${currentURI == '/admin/challenge/rewardlist' ? 'active' : ''}">보상 지급 기록</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu" th:classappend="${currentURI == '/admin/nutrition/list' ? 'active' : ''}">
                        <a class="menu-link" th:href="@{/admin/nutrition/list}">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            <span class="text">등록 요청 관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/nutrition/list}" th:classappend="${currentURI == '/admin/nutrition/list' ? 'active' : ''}">등록 요청 관리</a>                        
                        </div>
                    </li>
                    <li class="menu-item has-submenu" th:classappend="${currentURI == '/admin/payment/list' or currentURI == '/admin/payment/refund/list' ? 'active' : ''}">
                        <a class="menu-link" th:href="@{/admin/payment/list}">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                            <span class="text">결제 관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/payment/list}" th:classappend="${currentURI == '/admin/payment/list' ? 'active' : ''}">결제 내역</a>
                            <a th:href="@{/admin/payment/refund/list}" th:classappend="${currentURI == '/admin/payment/refund/list' ? 'active' : ''}">환불 접수 내역</a>                            
                        </div>
                    </li>
                    <li class="menu-item has-submenu" th:classappend="${currentURI == '/admin/point/list' or currentURI == '/admin/point/userhistorylist' ? 'active' : ''}">
                        <a class="menu-link" th:href="@{/admin/point/list}">
                            <i class="fa-solid fa-coins"></i>
                            <span class="text">포인트 관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/point/list}" th:classappend="${currentURI == '/admin/point/list' ? 'active' : ''}">포인트 상품 관리</a>
                            <a th:href="@{/admin/point/userhistorylist}" th:classappend="${currentURI == '/admin/point/userhistorylist' ? 'active' : ''}">회원별 사용 내역</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu" th:classappend="${currentURI == '/admin/declare/list' or currentURI == '/admin/declare/userlist' ? 'active' : ''}">
                        <a class="menu-link" th:href="@{/admin/declare/list}">
                            <i class="fa-solid fa-handcuffs"></i>
                            <span class="text">신고관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/declare/list}" th:classappend="${currentURI == '/admin/declare/list' ? 'active' : ''}">신고접수</a>                    
                            <a th:href="@{/admin/declare/userlist}" th:classappend="${currentURI == '/admin/declare/userlist' ? 'active' : ''}">부정회원관리</a>                    
                        </div>
                    </li>                    
                </ul>
                <hr />                
                <br />
                <br />
            </nav>
        </aside>

</html>