<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside class="navbar-aside" id="offcanvas_aside"  th:fragment="asideFragment">
            <div class="aside-top">
                <a href="#" class="brand-wrap">
                    <img src="https://velog.velcdn.com/images/mekite/post/3958812c-a50f-426c-a9ca-363b12b9bd4a/image.PNG" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="../../star_travel_bootstrap/star-3-1/Static HTML/mainpage.html">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">doSelf</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" th:href="@{/admin}">
                            <i class="fa-solid fa-user-gear"></i>
                            <span class="text">회원관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/member/list}">회원 관리</a>
                            <a th:href="@{/admin/member/loglist}">로그 관리</a>                               
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" th:href="@{/admin/challenge/list}">
                            <i class="fa-solid fa-users-gear"></i>
                            <span class="text">챌린지 관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/challenge/list}" >챌린지 관리</a>
                            <a th:href="@{/admin/challenge/personalstatlist}">챌린지내 개인</a>
                            <a th:href="@{/admin/challenge/statlist}">챌린지 별 기록</a>
                            <a th:href="@{/admin/challenge/personalscorelist}">챌린지 개인 점수</a>
                            <a th:href="@{/admin/challenge/scorelist}">챌린지 점수</a>
                            <a th:href="@{/admin/challenge/warninglist}">경고내역</a>
                            <a th:href="@{/admin/challenge/rewardlist}">보상 지급 기록</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" th:href="@{/admin/nutrition/list}">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            <span class="text">등록 요청 관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/nutrition/list}">등록 요청 관리</a>                        
                            <a th:href="@{/admin/nutrition/createList}">영양 정보 등록</a>                        
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" th:href="@{/admin/payment/list}">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                            <span class="text">결제 관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/payment/list}">결제 내역</a>
                            <a th:href="@{/admin/payment/refund/list}">환불 내역</a>                            
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" th:href="@{/admin/point/list}">
                            <i class="fa-solid fa-coins"></i>
                            <span class="text">포인트 관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/point/list}">포인트 상품 관리</a>
                            <a th:href="@{/admin/point/userhistorylist}">회원별 사용 내역</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" th:href="@{/admin/declare/list}">
                            <i class="fa-solid fa-handcuffs"></i>
                            <span class="text">신고관리</span>
                        </a>
                        <div class="submenu">
                            <a th:href="@{/admin/declare/list}">신고접수</a>                    
                            <a th:href="@{/admin/declare/userlist}">부정회원관리</a>                    
                        </div>
                    </li>                    
                </ul>
                <hr />                
                <br />
                <br />
            </nav>
        </aside>

</html>