<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.admin.nutrition.mapper.NutritionMapper">    
  		
  		<resultMap type="Nutrition" id="NutritionResultMap">
  			<id column="nirr_num" property="nirrNum" />
  			<result column="mbr_id" property="mbrId" />  		
  			<result column="nirr_content" property="nirrContent" />
  			<result column="nirr_date" property="nirrDate" />
  			<result column="nirr_category" property="nirrCategory" />
  			<result column="sc_code" property="scCode" />
  			<result column="prr_admin" property="prrAdmin" />
  			<result column="nirr_processing_date" property="nirrProcessingDate" />
  			<result column="nirr_reason_content" property="nirrReasonContent" />
  			
  			<!-- 멤버 관계 -->
	  		<association property="memberInfo" javaType="Member">
	  			<id 	column="mbr_id" property="mbrId" />	  			
	  			<result column="mbr_name" property="mbrName" />	  				  				  			  			  			
	  		</association> 	
	  		  			 	
  			<!-- 처리상태카테고리 관계 -->
	  		<association property="statusCategoryInfo" javaType="StatusCategory">
	  			<id 	column="sc_code" property="scCode" />	  			
	  			<result column="sc_status" property="scStatus" />	  				  				  			  			  			
	  		</association> 	  			 	
  		</resultMap>
  		
  		<!-- 영양정보 등록 요청 조회 -->
		<select id="getNutritionList" resultMap="NutritionResultMap">
			/* 영양정보 등록 요청 조회 */
			
			SELECT
				nirr_num,
				m.mbr_name,
				nirr_content,
				nirr_date,
				nirr.nirr_category,
				sc.sc_status,
				prr_admin,
				nirr_processing_date,
				nirr_reason_content
			FROM nutrition_info_registration_request nirr INNER JOIN `member` m
				ON nirr.mbr_id = m.mbr_id
				INNER JOIN status_category sc
				ON nirr.sc_code = sc.sc_code
			WHERE 1=1
			<if test="searchType != null and searchKeyword != null and searchType != '' and searchKeyword != ''">
		        AND ${searchType} = '${searchKeyword}'
		    </if>
		    <if test="startDate != null and startDate != ''">
		        AND nirr_processing_date > #{startDate}
		    </if>
		    <if test="endDate != null and endDate != ''">
		        AND #{endDate} > nirr_processing_date
		    </if>
		    ORDER BY
		    	nirr.nirr_num
		</select>
  </mapper>