<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.admin.nutrition.mapper.NutritionMapper">
    	
  		<!-- 영양정보 등록요청 조회 -->
		<select id="getNutritionList" resultType="Nutrition">
			/* 영양정보 등록요청 조회 */
					
			SELECT
				nirr_num 				AS nirrNum,
				mbr_id 					AS mbrId,
				nirr_content 			AS nirrContent,
				nirr_date 				AS nirrDate,
				nirr_category 			AS nirrCategory,
				sc_code 				AS scCode,
				prr_admin 				AS prrAdmin,
				nirr_processing_date 	AS nirrProcessingDate,
				nirr_reason_content 	AS nirrReasonContent
			FROM nutrition_info_registration_request	
		</select>
  </mapper>