<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.admin.point.mapper.PointMapper">
    	   	
  		<resultMap type="Point" id="pointResultMap">
  			<id column="pepl_num" property="peplNum" />
  			<result column="pepl_name" property="peplName" />  		
  			<result column="pepl_price" property="peplPrice" />
  			<result column="pepl_img" property="peplImg" />
  			<result column="pepl_expl" property="peplExpl" />  			  				  		  		  			 	   	
  		</resultMap>
		
  		<!-- 포인트 상품내역 조회 -->
		<select id="getPointList" resultMap="pointResultMap">
			/* 포인트 상품내역 조회 */
					
			SELECT
				pepl_num,
				pepl_name,
				pepl_price,
				pepl_img,
				pepl_expl
			FROM point_exchange_product_list
		</select>
		
		
		
		
		<resultMap type="PointUserHistory" id="PointUserHistoryResultMap">
  			<id column="pumh_num" property="pumhNum" />
  			<result column="pepl_num" property="peplNum" />  		
  			<result column="mbr_id" property="mbrId" />
  			<result column="pumh_date" property="pumhDate" />
  			
  			<!-- 멤버 관계 -->
	  		<association property="memberInfo" javaType="Member">
	  			<id 	column="mbr_id" property="mbrId" />	  			
	  			<result column="mbr_name" property="mbrName" />	  				  				  			  			  			
	  		</association>	  		  		  			 	   		
  		</resultMap>
  		<!-- 포인트 사용내역 조회 -->
		<select id="getPointUserHistoryList" resultMap="PointUserHistoryResultMap">
			/* 포인트 사용내역 조회 */
					
			SELECT
				pumh_num,
				pepl_num,
				m.mbr_name,
				pumh_date
			FROM point_use_management_history pumh INNER JOIN `member` m
				ON pumh.mbr_id = m.mbr_id
			WHERE 1=1
		    <if test="startDate != null and startDate != ''">
		        AND pumh_date > #{startDate}
		    </if>
		    <if test="endDate != null and endDate != ''">
		        AND #{endDate} > pumh_date
		    </if>
		</select>
		
		<!-- 특정 포인트상품 조회 -->
		<select id="getPointInfoByPeplNum" parameterType="String" resultMap="pointResultMap">
  		SELECT
			pepl_num,
			pepl_name,
			pepl_price,
			pepl_img,
			pepl_expl
		FROM point_exchange_product_list
		WHERE
			pepl_num = #{peplNum};
  		</select>
  		
  		<!-- 특정 포인트상품 수정 -->
  		<update id="modifyPoint" parameterType="Point">
  			UPDATE point_exchange_product_list
  			<set>  	
  				pepl_num = #{peplNum};		
				<if test="peplName != null and peplName != ''">
					pepl_name = #{peplName},
				</if>  			
				<if test="peplPrice != null and peplPrice != ''">
					pepl_price = #{peplPrice},
				</if>  			
				<if test="peplImg != null and peplImg != ''">
					pepl_img = #{peplImg},
				</if>  			
				<if test="peplExpl != null and peplExpl != ''">
					pepl_expl = #{peplExpl}
				</if>  			
  			</set>
  			WHERE
  				pepl_num = #{peplNum};
  		</update>
  		
  </mapper>