<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="doself.user.login.mapper.LoginMapper">
	<resultMap type="Member" id="memberResultMap">
		<id column="mbr_id" 						property="mbrId" />
		<result column="mbr_pw" 					property="mbrPw" />
		<result column="mbr_name" 					property="mbrName" />
		<result column="mg_code" 					property="mgCode" />
		<result column="mbr_email" 					property="mbrEmail" />
		<result column="mbr_birth_date" 			property="mbrBirthDate" />
		<result column="mbr_phone_num" 				property="mbrPhoneNum" />
		<result column="mbr_gender" 				property="mbrGender" />
		<result column="ac_num" 					property="acNum" />
		<result column="file_path" 					property="mbrImage" />
		<result column="opening_ticket_count" 		property="openingTicketCount" />
		<result column="participation_ticket_count" property="participationTicketCount" />
		<result column="mbr_point" 					property="mbrPoint" />
		<result column="is_deleted" 				property="isDeleted" />
		<result column="mbr_file_idx" 				property="mbrFileIdx" />
	</resultMap>
	
	
	<!-- 특정회원 조회 -->
	<select id="getMemberInfoById" parameterType="string" resultMap="memberResultMap"> 
		SELECT 
			m.mbr_id,
			m.mbr_pw,
			m.mbr_name,
			m.mg_code,
			m.mbr_email,
			m.mbr_birth_date,
			m.mbr_phone_num,
			m.mbr_gender,
			m.ac_num,
			f.file_path,
			m.opening_ticket_count,
			m.participation_ticket_count,
			m.mbr_point,
			m.is_deleted,
			m.mbr_file_idx
		FROM `member` m INNER JOIN	`files` f 
		     ON m.mbr_file_idx = f.file_idx
		WHERE 
			mbr_id = #{mbrId};
		
	</select>
	
	<!-- 생년월일로 나이 받아오기 -->
	<select id="getAgeByBirthDate" parameterType="string" resultType="int">
		SELECT
			TIMESTAMPDIFF(YEAR,#{birthDate},CURDATE())		
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="isMemberById" parameterType="string" resultType="boolean">
		SELECT 
			COUNT(*)
		FROM `member`
		WHERE
			mbr_id = #{mbrId}
	</select>

	<!-- 회원등록 -->
	 <insert id="createMember" parameterType="Member">
		/* 회원등록 */
		INSERT INTO `member` (
		mbr_id, 
		mbr_pw, 
		mbr_name, 
		mg_code, 
		mbr_email, 
		mbr_birth_date, 
		mbr_phone_num, 
		mbr_gender, 
		ac_num, 
		opening_ticket_count, 
		participation_ticket_count, 
		mbr_point,  
		is_deleted,
		mbr_file_idx
		) VALUES (
		#{mbrId}, 
		#{mbrPw}, 
		#{mbrName}, 
		'mg_002', 
		#{mbrEmail}, 
		#{mbrBirthDate}, 
		#{mbrPhoneNum}, 
		#{mbrGender}, 
		#{acNum}, 
		0, 
		0, 
		0, 
		'active',
		'file_014'
		)
	</insert>

	<!-- 멤버로그인이력 추가 -->
	<insert id="createMemberLoginLog" parameterType="String">
		INSERT INTO member_login_log (
			mll_num, 
			mbr_id, 
			mll_ip, 
			mll_date
		) VALUES (
			#{keyValue}, 
			#{memberId}, 
			#{memberIp}, 
			NOW())
	</insert>		
	
</mapper>