<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.user.community.mapper.CommunityMapper">
  
  	<resultMap type="Article" id="ArticleResultMap">
  		<id 	column="fb_num" 				property="articleKeyNum"/>
  		<id 	column="mbr_id" 				property="articleAuthorId"/>
  		<id 	column="fbctg_name"				property="articleCategory"/>
  		<result column="fb_title" 				property="articleTitle"/>
  		<result column="fb_content" 			property="articleContent"/>
  		<result column="fb_date" 				property="articleCreationDate"/>
 		<result column="fb_attachment_file" 	property="articleAttachmentFile"/>
  		<result column="fb_views" 				property="articleViewCnt"/>
  		<result column="fb_like" 				property="articleLike"/>
  	</resultMap>
  	
  	<!-- 게시글 목록 조회 -->
  	<select id="getArticleList" resultMap="ArticleResultMap" >
		SELECT CAST(SUBSTRING_INDEX(fb.fb_num, '_', -1) AS UNSIGNED) AS fb_num, fb.mbr_id, fbc.fbctg_name, fb.fb_title, fb.fb_content, fb.fb_date, fb.fb_views, fb.fb_attachment_file, fb.fb_like
		FROM free_board fb INNER JOIN free_board_category fbc
		USING(fbctg_code)
		ORDER BY fb_num DESC;

  	</select>
  	
  	<select id="getArticleCategoryList" resultType="Map">
  		SELECT 
  			CAST(SUBSTRING_INDEX(fbctg_code, '_', -1) AS UNSIGNED) AS categoryCode, 
  			fbctg_name  AS categoryName
		FROM free_board_category
  	</select>
  	
  	<select id="getArticleListByCategory" resultMap="ArticleResultMap" parameterType="String">
  		SELECT CAST(SUBSTRING_INDEX(fb.fb_num, '_', -1) AS UNSIGNED) AS fb_num, fb.mbr_id, fbc.fbctg_name, fb.fb_title, fb.fb_content, fb.fb_date, fb.fb_views, fb.fb_attachment_file, fb.fb_like
		FROM free_board fb INNER JOIN free_board_category fbc
		USING(fbctg_code)
		WHERE fbc.fbctg_code = CONCAT('fbcate_00', #{categoryCode})
		ORDER BY fb_num DESC;
  	</select>
  	
  	<select id="getArticleDetail" resultMap="ArticleResultMap" parameterType="String">
  	
	  	SELECT CAST(SUBSTRING_INDEX(fb.fb_num, '_', -1) AS UNSIGNED) AS fb_num, fb.mbr_id, fbc.fbctg_name, fb.fb_title, fb.fb_content, fb.fb_date, fb.fb_views, fb.fb_attachment_file, fb.fb_like
		FROM free_board fb INNER JOIN free_board_category fbc
		USING(fbctg_code)
		WHERE fb.fb_num = CONCAT('fb_00', #{articleKeyNum});
	  		
  	</select>
  	
  	
</mapper>