<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	
		
		<th:block layout:fragment="content-header">
          <div class="content-header">
              <div>
              	<h2 class="content-title card-title">포인트 상품</h2>
              </div>
              
              <div>                       
                  <a th:href="@{/admin/point/create}" class="btn btn-primary btn-sm rounded">상품추가</a>
              </div>             
          </div>                                 
		</th:block>
		
		<th:block layout:fragment="content-body">
			<div class="card mb-4">                                      
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">포인트 상품 번호</th>
                                        <th scope="col">상품명</th>                                        
                                        <th scope="col">상품가격</th>                                        
                                        <!-- <th scope="col">이미지</th>  -->                                                                  
                                        <th scope="col">상품설명</th>                                                                   
                                        <th scope="col">비고</th>                                                                   
                                    </tr>
                                </thead>
                                <tbody>
                                	<th:block th:if="${pointList != null}">
                                		<tr th:each="l : ${pointList}" class="text-center">
                                			<td th:text="${l.peplNum}"></td>
                                			<td th:text="${l.peplName}"></td>
                                			<td th:text="${l.peplPrice}"></td>
                                			<!-- <td th:text="${l.peplImg}"></td>    -->                             			
                                			<td th:text="${l.peplExpl}"></td>  
                                			<td>
	                                			<a th:href="@{/admin/point/modify}" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> 수정 </a>
		                                    	<a href="#" class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> 삭제 </a>
                                			</td>                              			
                                		</tr>                                
                                	</th:block>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
		</th:block> 

		<!--/* 사용자 추가 js file */-->
        <th:block layout:fragment="customJsResource">        	
        </th:block>
         
        <!--/* 사용자 추가 js script */-->
        <th:block layout:fragment="customJs">
        	<script>
        	
        	</script>
        </th:block> 
</html>