<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	
		
		<th:block layout:fragment="content-header">
          <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">상품추가</h2>
                        <div>
                            <a class="btn btn-light rounded font-sm mr-5 text-body hover-up" th:href="#">추가하기</a>
                            <a class="btn btn-md rounded font-sm hover-up" th:href="@{/admin/point/list}">취소</a>
                        </div>
                    </div>
                </div>
            </div>    
		</th:block>
		
		<th:block layout:fragment="content-body">
			          <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">1. 상품명</label>
                                        <input type="text" placeholder="Type here" class="form-control">
                                    </div>                
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->

                            <hr class="mb-4 mt-0">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">2. 상품 가격</label>
                                        <input type="text" placeholder="0p" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->                            
                            
                            <hr class="mb-4 mt-0">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">3. 이미지</label>
                                        <input class="form-control" type="file">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>             
		</th:block> 

		<!--/* 사용자 추가 js file */-->
        <th:block layout:fragment="customJsResource">        	
        </th:block>
         
        <!--/* 사용자 추가 js script */-->
        <th:block layout:fragment="customJs">
        	<script>
        	
        	</script>
        </th:block> 
</html>