<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	
		
		<th:block layout:fragment="content-header">
          <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">상품추가</h2>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>    
		</th:block>
		
		<th:block layout:fragment="content-body">
		<form id="addProductForm" th:action="@{/admin/point/create}" method="post">
			   <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">1. 상품명</label>
                                        <input type="hidden" id="peplNum" name="peplNum" th:value="${newKey}"/>
                                        <input type="text" id="peplName" name="peplName" placeholder="상품명을 입력해주세요" class="form-control">
                                    </div>                
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->

                            <hr class="mb-4 mt-0">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">2. 상품 가격</label>
                                        <input type="text"  id="peplPrice" name="peplPrice" placeholder="0p" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->                            
                            
                            <hr class="mb-4 mt-0">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">3. 이미지</label>
                                        <input id="peplImg" name="peplImg" class="form-control" type="text">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                            
                            <hr class="mb-4 mt-0">
                            <div class="row">                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">4. 상품설명</label>
                                        <input id="peplExpl" name="peplExpl" class="form-control" type="text">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                            
                            <div class="row">                                
                                <div class="col-md-9 addBtn">
                                    <button id="addProductBtn" class="btn btn-light rounded font-sm mr-5 text-body hover-up" disabled="disabled">추가하기</button>
                            		<a id="cancelBtn" class="btn btn-md rounded font-sm hover-up" th:href="@{/admin/point/list}">취소</a>
                                </div> <!-- col.// -->
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 
            </form>            
		</th:block> 

		<!--/* 사용자 추가 js file */-->
        <th:block layout:fragment="customJsResource">        	
        </th:block>
         
        <!--/* 사용자 추가 js script */-->
        <th:block layout:fragment="customJs">
        	<script>
        	$(document).ready(function () {               
                $('#addProductForm input').on('input', function () {
                    
                	let isAllFilled = true;
                    $('#addProductForm input[type="text"]').each(function () {
                        if ($(this).val().trim() === '') {
                            isAllFilled = false;
                        }
                    });
                    $('#addProductBtn').prop('disabled', !isAllFilled);
                });
      
                $('#addProductBtn').click(function (e) {
                    e.preventDefault();
                    let isSubmit = true;
       
                    
	               
                    $('#addProductForm input[type="text"]').each(function () {
	                   
                    	if ($(this).val().trim() === '') {
                    		isSubmit = false;
                    		$(this).focus();
	                        return false;
                    	}                  
	                });
                    if (isSubmit) {
                    	$('#addProductForm').submit();
                    }
                });
            });
        	</script>
        </th:block> 
</html>