/* 스타일 초기화 */
* {
margin: 0;
box-sizing: border-box;
}

/* 전체 화면 높이 설정 */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.parent-container {
    overflow: visible !important; /* 숨김 제거 */
}

/* feed-container */
.feed-container {
    flex: 1;
    display: grid;
    grid-template-columns: 230px 469px 314px;
    height: 100%;
    gap: 45px;
    max-width: 1280px;
    width: 100%;
    margin: 80px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: calc(100vh - 80px);
    overflow: hidden;
    min-height: 100%;
}

/* Sidebar */
.sidebar-container {
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: 3px 0 4px rgba(51, 24, 24, 0.1);
    width: 230px;
    /* transition: width 0.5s ease, opacity 0.5s ease; */
}

.sidebar img {
    /* display: block; */
    /* margin: 0 auto;
    margin-top: 17px;
    width: 20px; */
    width: 22px;
    opacity: 0.9;
}

.sidebar ul {
    list-style: none;
    display: flex;
    padding: 11px 30px;
    opacity: 0.9;
}

.sidebar ul:hover {
    background-color: #f4f4f4;
}

.sidebar ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li a {
    display: flex;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding-left: 0;
    margin-left: 15px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar ul li button {
    padding-left: 0;
    margin-left: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sidebar ul li a:hover {
    background-color: transparent;
}
/* 
    .sidebar.shrink {
        width: 80px;
        opacity: 0.8;
        display: inline-block;
        margin-right: -145px;
    }

    .sidebar.shrink ul li a {
        opacity: 0;
        pointer-events: none;
    }
*/

/* 모달 오버레이 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
}
    
/* 메인 콘텐츠 이동 */
.feed-sidebar-container {
    height: 100%;
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    /* max-height: calc(100vh - 100px); */
    padding: 32px 30px;
    justify-content: flex-start;
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
    display: none;
}

.container {
    margin: 0;
    margin-top: -21px;
    display: flex;
    flex: 1;
    width: 1280px;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.feed {
    background: #ffffff;
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(51, 24, 24, 0.1);
    border-style: solid;
    border-width: 0.5px;
    border-color: #f2f2f2;
    margin-bottom: 20px;
	scroll-margin-top: 100px; /* 스크롤 중 요소가 뷰포트에 적절히 위치하도록 설정 */
}

.feed a {
    text-decoration: none;
    color: #515151;
}

.feed-upload-img {
	max-width: 100%;
    max-height: 100%;
    height: 310px;
    width: auto;
}

.feed img {
    width: 100%;
	height: 350px;
}

.feed-header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-header img {
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    border-radius: 100px;
    margin-top: 5px;
}

.feed-header .user-name {
    font-weight: bold;
    font-size: 15px;
    padding: 0px 17px;
    position: relative;
    margin-right: auto;
}

.feed-header .feed-option {
    position: relative;
    float: right;
    display: block;
    width: 24px;
    height: 20px;
    margin-right: -2px;
}

.feed-header .feed-option .option-button {
    border: none;
    background-color: #fff;
}

.feed-header .feed-option img {
    width: 19px;
    height: auto;
    opacity: 0.7;
}
	
.feed .feed-main-img {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지의 잘린 부분을 커버 */
    max-height: 400px; /* 최대 높이 설정 (필요한 경우) */
}

.feed .feed-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 18px 7px 18px;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.action-btn img {
    width: auto;
    height: 25px;
    margin-top: 4px;
}
	
.feed .action-icons {
    display: flex;
    gap: 11px;
}

.feed .feed-time {
    color: #777;
    font-size: 12px;
    padding-bottom: 16px;
    display: flex;
    margin-right: 2px;
    float: inline-end;
}

.feed .feed-description {
    margin-left: 11px;
    margin-bottom: 12px;
}

.feed .feed-description #feed-likes {
    font-size: 13px;
}
	
.likeImg {
    display: block; /* 이미지를 항상 표시 */
    width: 50px; /* 원하는 너비로 설정 */
    height: 50px; /* 원하는 높이로 설정 */
    transition: all 0.1s ease; /* 변경 시 부드러운 애니메이션 */
    object-fit: cover; /* 이미지 비율 유지 */
}

.feed-description p {
    padding: 6.5px 7px;
    font-size: 15px;
}

.feed-upload-date {
    font-size: 13px;
    opacity: 0.3;
}

.feed hr {
    opacity: 0.2;
}

.feed .add-comment {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 18px;
    margin-top: 20px;
    width: 90%;
    margin-bottom: 20px;
}

.feed .comments-link {
    color: #aaa; /* 댓글 링크 색상 */
    font-size: 14px;
    cursor: pointer;
}

.feed .add-comment img {
    width: 20px;
	height: auto;
    opacity: 0.7;
}

.feed .add-comment input {
    flex: 1;
    padding: 11px 10px 4px 6px;
    font-size: 14px;
    border-style: none;
    outline: none;
}

.feed .comment-submit {
    background: none;
    border: none;
    color: #9EB92A;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.feed .input[type="text"] {
    border: none;
    width: 73%;
}

button#loadMore {
    background-color: #ffffff !important;
    color: #9cb331 !important;
    border-color: #d2dba7 !important;
    padding: 6px 15px 5px 18px !important;
}

.feed-comment-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.feed-comment-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 845px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.feed-comment-modal-container hr {
    opacity: 0.3;
    margin-top: 14px;
}

.feed-comment-modal-container .feed-modify-modal-header h2 {
    font-size: 17px;
    color: #333;
}

.feed-comment-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 10px 5px;
}

.feed-comment-modal-header img {
    cursor: pointer;
    width: 18px;
    height: 100%;
    opacity: 0.7;
}

.feed-comment-modal-header h2 {
    font-size: 18px;
    color: #333;
}

.feed-comment-modal-header #feedCommentModalCloseBtn {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
}

.feed-comment-modal-header img {
    cursor: pointer;
    width: 18px;
    height: 100%;
    opacity: 0.7;
}

.feed-comment-modal-body {
    padding: 10px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 480px 310px;
    gap: 20px;
    margin-top: -11.5px;
}

img#modifyFeedPreviewImage {
    opacity: 1;
    margin: 0px;
    padding: 0px;
    margin-top: 57px;
    position: absolute;
    max-width: 480px;
    min-width: 480px;
    width: 100%;
    left: 19px;
    top: 0;
    height: 230px;
    max-height: 100%;
    border-radius: 0px 0px 0px 10px;
    z-index: 1;
    display: block;
}

.feed-comment-modal-image-upload {
    flex: 1;
    text-align: center;
    /* max-width: 480px;
    max-height: 429px; */
    min-width: 480px;
    min-height: 429px;
}

.feed-comment-modal-image-upload img#image-preview {
    width: 100%;
    height: 100%;
}



/* 정보 입력 영역 */
.feed-comment-feed-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 305px;
    width: 84%;
    justify-content: space-between;
    padding: 6px 0px;
}

.feed-comment-feed-info .comment-section {
    width: 98%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    opacity: 0.7;
}

.feed-comment-feed-info span {
    font-size: 13px;
    font-weight: 100;
    color: rgb(89, 89, 89);
    padding-left: 5px;
}

.feed-comment-feed-info img.emoji-btn-img {
    width: 25px;
    height: 25px;
    opacity: 0.7;
}

.feed-comment-feed-info .feed-comment-under-input {
    display: flex;
    gap: 10px;
    height: auto;
}

.feed-comment-user-block {
    display: flex;
    align-items: center;
    margin-top: 9px;
    justify-content: space-between;
    padding-right: 5px;
}

.feed-comment-content-block {
    display: flex;
    align-items: center;
}

.feed-comment-feed-info .comment-profile {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin-top: 5px;
}

a#feedCommentAuthorId {
    margin-top: 3px;
}

input.comment-edit-input {
    position: absolute;
    left: 71.8%;
    top: 16%;
    width: 137px;
    border-style: none;
    background-color: #f1f1f1;
}

input.comment-edit-input {
    font-size: 14px;
    color: #515151;
}

.feed-mofify-comment-feed-comment {
    width: 0px;
    height: 0px;
}

button.edit-btn {
    border: none;
    outline: none;
    background-color: inherit;
    color: #b9cd64;
    font-size: 14px;
    padding: 0px 1px;
}

button.save-btn {
	border: none;
    outline: none;
    background-color: inherit;
    color: #657c00;
    font-size: 14px;
    padding: 0px 1px;
}

button.cancel-btn {
    border: none;
    outline: none;
    background-color: inherit;
    color: #fe7322;
    font-size: 14px;
    padding: 0px 1px 0px 5px;
}

button.delete-btn {
    border: none;
    outline: none;
    background-color: inherit;
    color: #d92d2d;
    font-size: 14px;
    padding: 0px 1px 0px 5px;
}

.feed-comment-feed-info .emoji-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: contents;
}

.feed-comment-user-link {
    font-size: 14px;
    margin-left: 9px;
    color: #515151;
    text-decoration: none;
}

.feed-comment-user-link:hover {
    text-decoration: underline;
}

.feed-comment-feed-info .feed-comment-feed-info-under {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.feed-comment-feed-info .feed-comment-feed-info-under .comment-section-under {
    width: 98%;
    height: auto;
    margin-top: 14px;
    margin-bottom: 15px;
    opacity: 0.7;
}

.feed-comment-feed-info .action-icons {
    display: flex;
    gap: 11px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.feed-comment-feed-info .action-icons span {
    padding: 0;
}

.feed-comment-feed-info .feed-comment-feed-info-under input[type="text"] {
    padding-left: 5px;
    font-size: 14px;
    border-style: none;
    outline: none;
    width: 204px;
}

button.cf-comment-comment-btn {
    background-color: #fff;
    color: #9EB92A;
    border: none;
    cursor: pointer;
    height: 25px;
    font-weight: 700;
    margin-left: 15px;
    white-space: nowrap;
}

img#createFeedPreviewImage {
    opacity: 1;
    margin: 0px;
    padding: 0px;
    margin-top: 57px;
    position: absolute;
    max-width: 480px;
    width: 100%;
    left: 19px;
    top: 0;
    height: 100%;
    max-height: 429px;
    border-radius: 0px 0px 0px 10px;
    z-index: 1100;
    display: block;
}

input#files {
    display: inline-block;
    padding: 10px 20px;
    background-color: #CACACA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

/* myfeed modal */
.popup-wrap {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    z-index: 1000;
}

.popup {
    width: 90%;
    max-width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.popup-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-body li {
    padding: 20px 15px;
    text-align: center;
    cursor: pointer;
    border-bottom: 0.5px solid #e9e9e9;
    font-size: 14px;
    color: #515151;
}

.popup-body li:last-child {
    border-bottom: none;
    /* margin-bottom: 7px; */
}

.popup-body li:hover {
    font-weight: bold;
    background-color: #f5f5f5;
}

.close:hover {
    cursor: pointer;
    color: red;
}

/* other members feed modal */
.other-members-option-modal-wrap {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    z-index: 1000;
}

.other-members-feed-popup {
    width: 90%;
    max-width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.other-members-feed-popup-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.other-members-feed-popup-body li {
    padding: 20px 15px;
    text-align: center;
    cursor: pointer;
    border-bottom: 0.5px solid #e9e9e9;
    font-size: 14px;
    color: #515151;
}

.other-members-feed-popup-body li:last-child {
    border-bottom: none;
    /* margin-bottom: 7px; */
}

.other-members-feed-popup-body li:hover {
    font-weight: bold;
    background-color: #f5f5f5;
}

li#feed-declaration-modal {
    color: red;
}

.close:hover {
    cursor: pointer;
    color: red;
}

/* feed-declaration modal */
.feed-declaration-popup-wrap {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    z-index: 1005;
}

.feed-declaration-popup {
    width: 90%;
    max-width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.popup-container .popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: -1px;
    padding: 0px 5px 10px 5px;
}

.popup-container .popup-header img {
    width: 18px;
    height: 100%;
    opacity: 0.7;
}


.popup-container .popup-header h2 {
    font-size: 17px;
    color: #333;
    font-weight: bold;
}

.feed-declaration-popup-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feed-declaration-popup-body li {
    padding: 20px 15px;
    text-align: center;
    cursor: pointer;
    border-bottom: 0.5px solid #e9e9e9;
    font-size: 14px;
    color: #515151;
}

.feed-declaration-popup-body li:last-child {
    border-bottom: none;
    /* margin-bottom: 7px; */
}

.feed-declaration-popup-body li:hover {
    font-weight: bold;
    background-color: #f5f5f5;
}

.close:hover {
    cursor: pointer;
    color: red;
} 
	
/* 정보 입력 영역 */
.feed-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 98%;
    gap: 15px;
}

.feed-info .feed-create-info {
    margin-top: 20px;
    display: grid;
    position: relative;
    gap: 10px;
}

.feed-info .feed-create-info .input-block {
    position: relative;
}



.feed-info #emoji-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: contents;
}

.user-link {
    font-size: 14px;
    margin-left: 7px;
    color: #515151;
    text-decoration: none;
}

.user-link:hover {
    text-decoration: underline;
}

textarea {
	width: 270px;
    max-width: 310px;
    min-height: 180px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    border-style: none;
    background-color: #f3f3f3;
    opacity: 0.8;
    resize: none;
}

/* 텍스트 박스 크기 조절 핸들 투명도 적용 */
textarea::-webkit-resizer {
    opacity: 1;
}

.text-box-under {
    display: flex;
    text-align: right;
    font-size: 0.9rem;
    color: #999;
    align-items: center;
    justify-content: space-between;
}

.text-counter {
    display: inline-block;
    font-size: 14px;
    color: #999;
    text-align: right;
}

.text-counter #text-count {
    margin-right: -3px;
}

.text-box-under img {
    width: 25px;
    height: auto;
    opacity: 0.7;
}

.text-box-under span {
    text-align: right;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}

.input-group label {
    font-size: 14px;
    color: #515151;
}

input[type="number"] {
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 6px 12px;
}

select {
	/* width: 24%;
	padding: 5px;
	border: 0.7px solid #ccc;
	border-radius: 5px; */
	width: 35%;
	padding: 6px 12px; /* 내부 여백 */
	font-size: 14px; /* 글꼴 크기 */
	border: 1px solid #ccc; /* 테두리 */
	border-radius: 5px; /* 둥근 모서리 */
	background-color: #fff; /* 배경색 */
	color: #515151; /* 글자색 */
	appearance: none; /* 기본 브라우저 화살표 제거 */
	-moz-appearance: none;
	-webkit-appearance: none;
	position: relative;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M7%2010l5%205%205-5z%27%20fill%3D%27%23333%27/%3E%3C/svg%3E'); /* 화살표 아이콘 */
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 16px;
}

select:focus {
    border-color: #ccc;
    outline: none; /* 포커스 시 기본 윤곽선 제거 */
}

select option {
    padding: 10px;
    font-size: 14px;
    color: #515151;
    background-color: #fff;
}

select option:checked {
    background-color: #ccc; /* 선택된 옵션 배경색 */
 color: #333; /* 선택된 옵션 글자색 */
}

.radio-group {
    display: flex;
    gap: 13px;
    margin-top: -6px;
    align-items: center;    
}

.radio-group label {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group span {
    margin-left: -5px;
    color: #515151;
}

.submit-btn {
    background-color: #D7E790;
    color: #4C6B33;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    width: 67px;
    height: 31px;
    font-weight: 700;
    margin-right: -4px;
    align-self: self-end;
}

.submit-btn p {
    margin-top: -4px;
}

.submit-btn:hover {
    background-color: #D7E790;
}

/* food search dropdown */
.dropdown-menu {
	display: block;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* feed create modal */
/* 모달 전체 배경 (오버레이) */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* 모달 창 */
.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001; /* 오버레이 위 */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* 모달 헤더 */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px !important;
    font-weight: bold !important;
    border-bottom: none !important;
}

.modal-header h2 {
    font-size: 18px !important;
    color: #333 !important;
}

#modalCloseBtn {
    background: none;
    border: none;
    font-size: 24px;
    color: #666;
    cursor: pointer;
}

.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.upload-box {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D7E790;
    color: #4C6B33;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #C6DA70;
}

/* create feed modal */
.feed-create-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.feed-create-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.feed-create-modal-container hr {
    opacity: 0.3;
    margin-top: 14px;
}

.feed-create-modal-container .feed-create-modal-header h2 {
    font-size: 17px;
    color: #333;
}

.feed-create-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: -1px;
    padding: 0px 5px;
}

.\.feed-create-modal-header img {
    cursor: pointer;
    width: 18px;
    height: 100%;
    opacity: 0.7;
}

.\.feed-create-modal-header h2 {
    font-size: 18px;
    color: #333;
}

.feed-create-modal-header #feed-create-modalCloseBtn {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
}

.feed-create-modal-header img {
    cursor: pointer;
    width: 18px;
    height: 100%;
    opacity: 0.7;
}

.feed-create-modal-body{
	padding: 10px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 480px 310px;
    gap: 20px;
    margin-top: -11.5px;
}

.feed-create-image-upload {
    flex: 1;
    text-align: center;
}

.feed-create-upload-box {
	background-color: #f3f3f3;
    border-radius: 0px 0px 0px 10px;
    height: 73%;
    padding: 20px;
    cursor: pointer;
    align-content: center;
}

.feed-create-upload-box img {
    width: 63px;
    opacity: 0.7;
    margin-left: -2px;
    margin-bottom: 11px;
}

img#feed-create-image-preview {
    opacity: 1;
    margin: 0px;
    padding: 0px;
    position: absolute;
    min-width: auto;
    max-width: 480px;
    width: 100%;
    left: 20px;
    top: 54px;
    max-height: 440px;
    height: auto;
    min-height: 0;
    border-radius: 0px 0px 0px 10px;
    z-index: 1100;
}

img#feed-create-image-preview {
    height: 600px;
}

.feed-create-upload-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 3px;
}

.feed-create-upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #CACACA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
.feed-create-upload-btn:hover {
    background-color: #C6DA70;
}

.feed-create-preview-box img {
    width: 100%;
    border-radius: 10px;
    display: none;
}

/* 정보 입력 영역 */
.feed-create-feed-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 84%;
    gap: 3px;
}

.form-control {
	padding: 0px !important;
}

.feed-create-user-block {
    display: flex;
    align-items: center;
    margin-top: 9px;
}

.feed-create-feed-info img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin-top: 5px;
}

.feed-create-feed-info #emoji-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: contents;
}

.feed-create-user-link {
    font-size: 14px;
    margin-left: 7px;
    color: #515151;
    text-decoration: none;
}

.feed-create-user-link:hover {
    text-decoration: underline;
}

textarea#feed-create-content {
    max-width: 260px;
    min-width: 260px;
    min-height: 210px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    border-style: none;
    background-color: #f3f3f3;
    opacity: 0.8;
    resize: none;
}

.feed-create-text-box-under {
    display: flex;
    text-align: right;
    font-size: 0.9rem;
    color: #999;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.text-counter {
    display: inline-block;
    font-size: 14px;
    color: #999;
    text-align: right;
}

.text-counter #text-count {
    margin-right: -3px;
}

.feed-create-text-box-under img {
    width: 25px;
    height: auto;
    opacity: 0.7;
}

.feed-create-text-box-under span {
    text-align: right;
}

#intakeDateTime {
	pointer-events: auto !important; /* 포커스를 허용 */
    z-index: auto !important; /* 다른 요소와의 충돌 방지 */
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}

.input-group label {
    font-size: 14px;
    color: #515151;
}

input[type="number"] {
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 6px 12px;
}

select #meal-type {
    /* width: 24%;
    padding: 5px;
    border: 0.7px solid #ccc;
    border-radius: 5px; */
    width: 27%;
    padding: 6px 12px; /* 내부 여백 */
    font-size: 14px; /* 글꼴 크기 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 둥근 모서리 */
    background-color: #fff; /* 배경색 */
    color: #515151; /* 글자색 */
    appearance: none; /* 기본 브라우저 화살표 제거 */
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M7%2010l5%205%205-5z%27%20fill%3D%27%23333%27/%3E%3C/svg%3E'); /* 화살표 아이콘 */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

select #meal-type:focus {
    border-color: #ccc;
    outline: none; /* 포커스 시 기본 윤곽선 제거 */
}

select #meal-type option {
    padding: 10px;
    font-size: 14px;
    color: #515151;
    background-color: #fff;
}

select #meal-type option:checked {
    background-color: #ccc; /* 선택된 옵션 배경색 */
    color: #333; /* 선택된 옵션 글자색 */
}

.submit-grop {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

button#feedCreateSubmitBtn {
	background-color: #D7E790;
    color: #5cb85c;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button.btn.btn-secondary {
	background-color: #ffdddd;
    color: #d9534f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.feed-create-submit-btn {
    background-color: #D7E790;
    color: #4C6B33;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    width: 63px;
    height: 31px;
    font-weight: 700;
    margin-left: auto;
}


/* modify feed modal */
.feed-modify-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.feed-modify-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.feed-modify-modal-container hr {
    opacity: 0.3;
    margin-top: 14px;
}

.feed-modify-modal-container .feed-modify-modal-header h2 {
    font-size: 17px;
    color: #333;
}

.feed-modify-modal-header.feed-modify-header-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: -1px;
    padding: 0px 5px;
}

.feed-modify-modal-header #feed-modify-modal-closeBtn {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
}

.feed-modify-modal-header img {
    cursor: pointer;
    width: 18px;
    height: 100%;
    opacity: 0.7;
}

.feed-modify-modal-body{
	padding: 10px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 480px 310px;
    gap: 20px;
    margin-top: -11.5px;
}

.feed-modify-image-upload {
    flex: 1;
    text-align: center;
}

.feed-modify-upload-box {
	background-color: #f3f3f3;
    border-radius: 0px 0px 0px 10px;
    height: 73%;
    padding: 20px;
    cursor: pointer;
    align-content: center;
}

.feed-modify-upload-box img {
    width: 63px;
    opacity: 0.7;
    margin-left: -2px;
    margin-bottom: 11px;
    left: 11.5px;
    bottom: 4px;
}

img#feed-modify-image-preview {
    opacity: 1;
    margin: 0px;
    padding: 0px;
    position: absolute;
    min-width: auto;
    max-width: 480px;
    width: 100%;
    left: 20px;
    top: 54px;
    max-height: 440px;
    height: auto;
    min-height: 0;
    border-radius: 0px 0px 0px 10px;
    z-index: 1;
}

.feed-modify-upload-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 3px;
}

.feed-modify-upload-btn {
	position: relative;
    display: flex;
    background-color: #CACACA;
    color: #fff;
    border: none;
    border-radius: 5px 0px 0px 0px;
    cursor: pointer;
    z-index: 1010;
    mix-blend-mode: hard-light;
    left: 386px;
    bottom:-189px;
}
.feed-modify-upload-btn:hover {
    background-color: #C6DA70;
}

.feed-modify-preview-box img {
    width: 100%;
    border-radius: 10px;
    display: none;
}

#feed-modify-upload-btn {
	position: relative;
    display: flex;
    background-color: #acacac;
    color: #c7c7c7;
    border: none;
    border-radius: 5px 0px 0px 0px;
    cursor: pointer;
    width: 72.5px;
    height: 63px;
    mix-blend-mode: multiply;
    z-index: 1010;
    left: 406px;
    top: 14px;
}

/* 정보 입력 영역 */
.feed-modify-feed-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 84%;
    gap: 18px;
}

.feed-modify-user-block {
    display: flex;
    align-items: center;
    margin-top: 9px;
}

.feed-modify-feed-info img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin-top: 5px;
}

.feed-modify-feed-info #emoji-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: contents;
}

.feed-modify-user-link {
    font-size: 14px;
    margin-left: 7px;
    color: #515151;
    text-decoration: none;
}

.feed-modify-user-link:hover {
    text-decoration: underline;
}

textarea#feed-modify-content {
    max-width: 310px;
    min-height: 280px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    border-style: none;
    background-color: #f3f3f3;
    opacity: 0.8;
    resize: none;
    margin-top: 10px;
}

.feed-modify-text-box-under {
    display: flex;
    text-align: right;
    font-size: 0.9rem;
    color: #999;
    align-items: center;
    justify-content: space-between;
}

.text-counter {
    display: inline-block;
    font-size: 14px;
    color: #999;
    text-align: right;
}

.text-counter #text-count {
    margin-right: -3px;
}

.feed-modify-text-box-under img {
    width: 25px;
    height: auto;
    opacity: 0.7;
}

.feed-modify-text-box-under span {
    text-align: right;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}

.input-group label {
    font-size: 14px;
    color: #515151;
}

input[type="number"] {
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 6px 12px;
}

select #meal-type {
    /* width: 24%;
    padding: 5px;
    border: 0.7px solid #ccc;
    border-radius: 5px; */
    width: 27%;
    padding: 6px 12px; /* 내부 여백 */
    font-size: 14px; /* 글꼴 크기 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 둥근 모서리 */
    background-color: #fff; /* 배경색 */
    color: #515151; /* 글자색 */
    appearance: none; /* 기본 브라우저 화살표 제거 */
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M7%2010l5%205%205-5z%27%20fill%3D%27%23333%27/%3E%3C/svg%3E'); /* 화살표 아이콘 */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

select #meal-type:focus {
    border-color: #ccc;
    outline: none; /* 포커스 시 기본 윤곽선 제거 */
}

select #meal-type option {
    padding: 10px;
    font-size: 14px;
    color: #515151;
    background-color: #fff;
}

select #meal-type option:checked {
    background-color: #ccc; /* 선택된 옵션 배경색 */
    color: #333; /* 선택된 옵션 글자색 */
}

.fm-submit-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

.feed-modify-cancel-submit-btn {
	background-color: #ffdddd;
    color: #d9534f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.feed-modify-submit-btn {
	background-color: #dff0d8;
    color: #5cb85c;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.feed-modify-submit-btn:hover {
    background-color: #D7E790;
}

/* Right Sidebar */
.progress-container {
    background-color: #fff;
    border-radius: 10px;
    width: 320px;
    height: 500px;
    margin-top: 32px;
    max-width: 270px;
    position: sticky;
    top: 10px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    margin-left: -25px;
    box-shadow: 0 4px 10px rgba(51, 24, 24, 0.1);
}

.analysis-title {
    font-weight: bold;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    margin-right: auto;
    border-radius: 12px;
    background-color: #ddd;
}

.info-table td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd;
	transition: all 0.3s ease; /* 텍스트 변경 시 부드럽게 표시 */
}

.analysis-table .analysis-title {
    font-weight: bold;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    position: relative;
    margin-right: auto;
    border-radius: 12px;
    background-color: #ddd;
}

.analysis-table a {
    text-decoration-line: none;
}

.analysis-table .food-name {
    font-weight: bold;
    font-size: 15px;
    padding: 5px 10px;
    position: relative;
    margin-right: auto;
}

.analysis-table .img {
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
}

#analysis-img img {
    width: 100%;
	height: 200px;
	padding: 5px 5px;
	border-radius: 20px;
	transition: all 0.3s ease; /* 이미지가 부드럽게 변경되도록 설정 */
}

.progress-container .analysis-info {
    width: 100%;
    border-collapse: collapse;
}
.info-table,
.info-table table th,
.info-table table td {
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.info-table {
    width: 100%;
    height: 150px;
}

.analysis-caution {
    margin-top: 10px;
    color: #777;
    font-size: 11px;
}

/* 상세 피드 */
.df-container {
    margin: 0;
    margin-top: -21px;
    display: flex;
    flex: 1;
    width: 1280px;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.df-feed-container {
	flex: 1;
    display: grid;
    grid-template-columns: 272px 800px;
    height: 100%;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 0px;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.df-feed {
    background: #ffffff;
    width: 100%;
    max-width: 740px;
    height: 100%;
    max-height: 710px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(51, 24, 24, 0.1);
}

.df-feed a {
    text-decoration: none;
    color: #515151;
}

.df-feed-header .df-feed-option {
    position: relative;
    float: right;
    display: block;
    width: 30px;
    height: 20px;
    margin-right: -2px;
}

.df-feed-header .df-feed-option .df-option-button {
    border: none;
    background-color: #fff;
}

.df-feed-header .df-feed-option img {
    width: 19px;
    height: auto;
    opacity: 0.7;
}

.df-feed img {
    width: 100%;
    height: auto;
}

.df-feed-header {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.df-feed-header img {
    width: auto;
    height: 40px;
    border-radius: 100px;
    margin-top: 5px;
}

.df-feed-header .df-user-name {
    font-weight: bold;
    font-size: 15px;
    padding: 0px 17px;
    position: relative;
    margin-right: auto;
}

.df-feed-header .df-feed-option {
    position: relative;
    float: right;
    color: #EAEAEA;
}

.df-feed-header .df-feed-option img {
    width: 19px;
    height: auto;
    opacity: 0.7;
    padding-left: 5px;
}

.df-feed-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.df-feed-main-img {
    width: 360px;
    height: auto;
    margin-top: 20px;
}

.df-analysis-table .img {
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
}

#df-analysis-img img {
	width: 100%;
	height: auto;
	padding: 5px 5px;
	border-radius: 5px;
}

.df-feed .df-feed-img-chart {
    display: flex;
}

.df-feed .df-feed-img-chart .df-feed-chart {
    display: grid;
}

.df-feed .df-feed-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 18px 7px 18px;
}

.df-feed .df-action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.df-feed .df-action-btn img {
    width: auto;
    height: 25px;
    margin-top: 4px;
}

.df-feed .df-action-icons {
    display: flex;
    gap: 13px;
}

.df-feed .df-feed-time {
    color: #777;
    font-size: 12px;
    padding-bottom: 16px;
    display: flex;
    margin-right: 2px;
    float: inline-end;
}

.df-feed .df-feed-description {
    margin-left: 11px;
    margin-bottom: 12px;
}

.df-feed .df-feed-description #df-feed-likes {
    font-size: 13px;
}

.df-feed-description p {
    padding: 6.5px 7px;
    font-size: 15px;
}

.df-feed hr {
    opacity: 0.2;
}

.df-feed .df-comments-link {
    color: #aaa; /* 댓글 링크 색상 */
    font-size: 14px;
    cursor: pointer;
}

.df-feed .df-add-comment img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.df-feed .df-add-comment input {
    flex: 1;
    padding: 11px 10px 4px 6px;
    font-size: 14px;
    border-style: none;
    outline: none;
}

.df-feed .df-comment-submit {
    background: none;
    border: none;
    color: #9EB92A;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.df-feed .df-input[type="text"] {
    border: none;
    width: 73%;
}

.df-nutrition-info {
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 2%;
    align-items: center;
    justify-content: space-evenly;
}

.df-nutrition-info .df-p {
    margin-bottom: 10%;

}

.df-nutrition-info .df-list-group {
    margin-top: 20px;
    width: 70%;
    transform: scale(1.05);
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px 25px;
}

/* Right Sidebar */
.df-progress-container {
    background-color: #fff;
    border-radius: 10px;
    width: 320px;
    height: 500px;
}

.df-progress-container {
    flex: 1;
    width: 600px;
    position: sticky;
    top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
} 

.df-analysis-table .df-analysis-title {
    font-weight: bold;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px;
    position: relative;
    margin-right: auto;
    border-radius: 15px;
    background-color: #ddd;
}

.df-analysis-table .df-food-name {
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    position: relative;
    margin-right: auto;
    margin-top: 0 10px;
}

#df-analysis-img {
    width: 220px;
    padding: 1px 0px;
}

.df-analysis-table .img {
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
}

#df-analysis-img img {
    width: 100%;
	height: 200px;
	padding: 5px 5px;
	border-radius: 20px;
}

.info-table,
.info-table table th,
.info-table table td {
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.df-info-table td {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    align-content: center;
    text-align: center;
    max-width: 65px;
    width: 65px;
}

.info-table {
    width: 100%;
    height: 150px;
}

.analysis-caution {
    margin-top: 10px;
    color: #777;
    font-size: 11px;
}

.df-progress-container .df-analysis-info {
    width: 100%;
    border-collapse: collapse;
}

.df-info-table,
.df-info-table table th,
.df-info-table table td {
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.df-info-table {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

.df-analysis-caution {
    margin-top: 10px;
    color: #777;
    font-size: 12px;
}

.df-feed-description {
    margin-left: 11px;
    margin-bottom: 12px;
}

.df-feed-description #feed-likes {
    font-size: 13px;
}
	
.likeImg {
    display: block; /* 이미지를 항상 표시 */
    width: 50px; /* 원하는 너비로 설정 */
    height: 50px; /* 원하는 높이로 설정 */
    transition: all 0.1s ease; /* 변경 시 부드러운 애니메이션 */
    object-fit: cover; /* 이미지 비율 유지 */
}

.feed-description p {
    padding: 6.5px 7px;
    font-size: 15px;
}

.feed-upload-date {
    font-size: 13px;
    opacity: 0.3;
}

.feed hr {
    opacity: 0.2;
}

.df-add-comment {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 18px;
    margin-top: 20px;
    width: 90%;
    margin-bottom: 20px;
}
	
.df-comments-link {
    color: #aaa; /* 댓글 링크 색상 */
    font-size: 14px;
    cursor: pointer;
}

.df-add-comment img {
    width: 20px;
    opacity: 0.7;
}

.df-add-comment input {
    flex: 1;
    padding: 11px 10px 4px 6px;
    font-size: 14px;
    border-style: none;
    outline: none;
}

.df-comment-submit {
    background: none;
    border: none;
    color: #9EB92A;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}


.nutrition-summary {
    display: flex;
    /* width: 100%; */
    height: 520px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 15px rgba(51, 24, 24, 0.1);
    border-radius: 20px;
    width: 280px;
}

/* 영양정보 캘린더 */
.calendar-container {
    width: 320px;
    margin: 20px auto;
    text-align: center;
}

.calendar-container .p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10px;
}

.calendar {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px 20px;
    background-color: #f9f9f9;
}

.calendar .cal-button {
    margin-bottom: 30px;
}

.calendar .current-month {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
    width: 14%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
}

.calendar-table td {
    cursor: pointer;
}

.calendar-table td:hover {
    background-color: #d2d89c;
}

.calendar-table .today {
    background-color: #fff;
    font-weight: bold;
}

/* 영양 정보 그래프   */
.nutrition-summary {
    padding: 0;
    margin: auto;
}

.nutrition-summary .nutrition-summary-p {
    padding: 10px 30px;
    border: 2px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.feed .nutrition-info-chart {
    display: grid;
}

.nutrition-info-chart .feed-img-chart {
    display: flex;
}

.nutrition-info-chart .feed-img-chart .feed-chart {
    display: grid;
}

.nutrition-details {
    text-align: center;
    margin-top: 20px;
}

.nutrition-details .nutrition-details-p {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
}

.nutrition-details .nutrition-list-group {
    background-color: #ddd;
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 25%;
    /* margin: 0px 20px; */
}

.nutrition-list-group .list-group-item {
    text-align: left;
    padding: auto;
}

.nutrition-list-group .list-group-button {
    position: relative;
    float: left;
    border-style: none;
    background-color: unset;
}

.nutrition-details .nutrition-button {
    padding: 5%;
}

.nutrition-details .prev-button,
.nutrition-details .next-button {
    border-style: none;
    background-color: unset;
}

.footer {
    flex-shrink: 0;
}