<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
      
<head>
	<link th:href="@{/assets/css/community/view.css}" rel="stylesheet" type="text/css" />
</head>
	
	<th:block layout:fragment="content-body">
  
  	<div class="container">

        <main id="main-content">
  		<th:block th:object="${articleDetail}" th:with="test=${session.SID}">
            <div id="main-container-contents">
                <div id="main-container-title">community</div>
                <!-- 게시글 전체 영역 -->
                <div id="post">
                    <!-- 게시글 상단 정보 (작성자, 작성일, 제목 등) -->
                    <div id="header-title">
                        <div id="article-category" th:text="*{articleCategory}"></div>
                        <span id="article-title" th:text="*{articleTitle}"></span>
                    </div>
                    <div id="header-author">
                        <span id="author-name">name</span>
                        <span id="author-userId" th:text="*{articleAuthorId}"></span>
                    </div>
                    <div id="header-info">
                        <span id="write-date">date</span>
                        <span  th:text="*{articleCreationDate}"></span>
                        <span id="post-like">like</span>
                        <span id="likeCnt"  th:text="*{articleLike}"></span>
                        
                    </div>
					<th:block th:with="imgSrc=*{articleAttachmentFile}" >
					    <img th:src="${imgSrc != '' ? imgSrc : ''}" width="300" height="300" th:if="${imgSrc != ''}">
					</th:block>

                    <!-- 게시글 본문 내용 -->
                    <div id="post-content" th:text="*{articleContent}">
                    						        
                    </div>

                    <!-- 글 버튼 -->
                    <div class="article-button-container">
                    	<th:block th:if="${test != null and test eq articleDetail.articleAuthorId}">
	                        <a href="#">
	                            <button id="article-like__button">like</button>
	                        </a>
                        </th:block>
                        
						<th:block th:if="${test != null and test eq articleDetail.articleAuthorId}">
						    <a href="#">
						        <button id="article-modify__button">modify</button>
						    </a>
						    <form id="deleteForm" th:action="@{/community/delete}" method="POST">
							    <input type="hidden" name="articleNum" th:value="*{articleKeyNum}">
							    <button id="article-delete__button" type="submit">delete</button>
							</form>
						</th:block>


                        <a th:href="@{/community/list}">
                        
                            <button id="article-list__button">list</button>
                        </a>
                    </div>

                    <!-- 댓글 영역 -->
                    <div id="comments-container">
                        <!-- 댓글 목록 -->
                        <ul id="comment-list">
                            <li class="comment">
                                <div class="comment-info__left">
                                    <p class="comment-author" >id001</p>
                                    <p class="comment-content">이 글에 대한 댓글 내용입니다.</p>
                                </div>
                                <div class="comment-info__right">
                                    <p class="comment-date">2024.11.18 09:32</p>
                                    <button class="comment-button">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                </div>
                            </li>
                            <li class="comment">
                                <div class="comment-info__left">
                                    <p class="comment-author">id001</p>
                                    <p class="comment-content">이 글에 대한 댓글 내용입니다.</p>
                                </div>
                                <div class="comment-info__right">
                                    <p class="comment-date">2024.11.18 09:32</p>
                                    <button class="comment-button">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>

                        <!-- 댓글 작성 폼 -->
                        <form id="comment-form" action="#">
                            <div id="comment-userId" th:text="${test}"></div>
                            <textarea id="comment-text" placeholder="댓글을 남겨보세요"></textarea>
                            <button type="submit" id="comment-submit">등록</button>
                        </form>
                    </div>
                </div>
            </div>
         </th:block>
        </main>
        <div id="main-container-advertise">
            <div id="main-container-advertise__adBlock">
                <a th:href="@{https://www.tesla.com/ko_kr/cybertruck}" target="_blank">
                    <img id="mcaa__img" src="https://i.pinimg.com/1200x/de/35/56/de355692714024d48880cb98db8f9d4b.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource">
    	<script th:src="@{/assets/js/layout.js}"></script>
    	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    		$('#comment-submit').click(event => {
    			event.preventDefault();
    		})
    		
    		$('#article-delete__button').click(event => {
    			event.preventDefault();
    		 	const isDelete = confirm('게시글을 삭제하시겠습니까?');
    			if(isDelete) $('#deleteForm').submit();
    		})
    	</script>
    </th:block> 
</html>