<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
      
<head>
	<link th:href="@{/assets/css/community/view.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/community/request-modal.css}" rel="stylesheet" type="text/css" />
	<script src="https://kit.fontawesome.com/cc1c733a97.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
	
	<th:block layout:fragment="content-body">
  
  	<div class="container">

        <main id="main-content">
  		<th:block th:object="${articleDetail}" th:with="test=${session.SID}">
            <div id="main-container-contents">
                <div id="main-container-title">community</div>
                <!-- 게시글 전체 영역 -->
                <div id="post">
                    <!-- 게시글 상단 정보 (작성자, 작성일, 제목 등) -->
                    <div id="header-title">
                        <div id="article-category" th:text="*{articleCategory}"></div>
                        <span id="article-title" th:text="*{articleTitle}"></span>
                    </div>
                    <div id="header-author">
                        <span id="author-name">name</span>
                        <span id="author-userId" th:text="*{articleAuthorId}"></span>
                    </div>
                    <div id="header-info">
                        <span id="write-date">date</span>
                        <span  th:text="*{articleCreationDate}"></span>
                        <span id="post-like">like</span>
                        <span id="likeCnt"  th:text="*{articleLike}"></span>
                        <input type="hidden" id="currentArticleLikeCnt" name="currentArticleLikeCnt" th:value="*{articleLike}">
                    </div>
                    	<th:block th:with="imgSrc=*{articleAttachmentFile}">
						    <img th:src="${imgSrc != '' ? imgSrc : ''}" width="300" height="300" th:if="${imgSrc != ''}">
                    	</th:block>

                    <!-- 게시글 본문 내용 -->
                    <div id="post-content" th:utext="*{articleContent}">
                    						        
                    </div>

                    <!-- 글 버튼 -->
                    <div class="article-button-container">
                    	<th:block th:if="${test != null and test != articleDetail.articleAuthorId}">
                            <button id="article-like__button">like</button>
                            <button id="article-report__button" data-occurType="1">신고</button>
                            <input type="hidden" id="articleNum" name="articleNum" th:value="*{articleKeyNum}">
                        </th:block>
                        
						<th:block th:if="${test != null and test eq articleDetail.articleAuthorId}">
						    <a href="#">
						        <button id="article-modify__button">modify</button>
						    </a>
						    <form id="deleteForm" th:action="@{/community/delete}" method="POST">
							    <input type="hidden" id="articleNum" name="articleNum" th:value="*{articleKeyNum}">
							    <button id="article-delete__button" type="submit">delete</button>
							</form>
						</th:block>


                        <a th:href="@{/community/list}">
                        
                            <button id="article-list__button">list</button>
                        </a>
                    </div>

                    <!-- 댓글 영역 -->
                    <div id="comments-container">
                        <!-- 댓글 목록 -->
                        <th:block th:if="${articleDetail.commentList != null}">
	                        <ul id="comment-list">
	                            <li class="comment" th:each="l : ${articleDetail.commentList}" th:with="commentAuhorId=${l.commentAuthorId}">
	                                <div class="comment-info__left">
	                                    <input type="hidden" name="commentKeyNum" th:value="${l.commentKeyNum}">
	                                    <p class="comment-author" th:text="${l.commentAuthorId}"></p>
	                                    <p class="comment-content" th:text="${l.commentContent}"></p>
	                                </div>
	                                <div class="comment-info__right">
	                                    <p class="comment-date" th:text="${l.commentDate}"></p>
	                                    <div class="dropup">
		                                    <button type="button" class="comment-button " data-toggle="dropdown">
		                                        <i class="fa-solid fa-ellipsis-vertical"></i>
		                                    </button>
	                                        <div class="dropdown-menu">
												<a class="dropdown-item" href="#" id="report-comment-btn" th:if="${test != null and test != commentAuhorId}" data-occurType="2">신고</a>
										        <th:block th:if="${test != null and test == commentAuhorId}">
											      <a class="dropdown-item" href="#" id="modify-comment-btn">수정</a>
					      						    <form id="deleteForm" th:action="@{/community/deletecomment}" method="POST">
							                        	<input type="hidden" id="articleNum" name="articleNum" th:value="*{articleKeyNum}">
					                                    <input type="hidden" name="commentKeyNum" th:value="${l.commentKeyNum}">
											      		<button type="submit" class="dropdown-item" th:href="@{/community/deletecomment}" id="delete-comment-btn">삭제</button>
													</form>
										        </th:block>
										    </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
                        </th:block>

                        <!-- 댓글 작성 폼 -->
                        <form id="comment-form" th:action="@{/community/createcomment}" method="post">
                        	<input type="hidden" id="articleNum" name="articleNum" th:value="*{articleKeyNum}">
                            <div id="comment-userId" th:text="${test}"></div>
                            <textarea id="comment-text" name="commentContent" placeholder="댓글을 남겨보세요"></textarea>
                            <button type="submit" id="comment-submit">등록</button>
                        </form>
                    </div>
                </div>
            </div>
         </th:block>
        </main>
        <div id="main-container-advertise">
            <div id="main-container-advertise__adBlock">
                <a th:href="@{https://www.tesla.com/ko_kr/cybertruck}" target="_blank">
                    <img id="mcaa__img" src="https://i.pinimg.com/1200x/de/35/56/de355692714024d48880cb98db8f9d4b.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    
        <div class="modal-container">
        <div class="popup-wrap" style="display: none;">
            <div class="popup">
                <div class="popup-body">
                    <div class="body-content">
                        <div class="body-titlebox">
                            <div id="modal-request-title">신고 요청</div>
                            <form id="modal-request-form" th:action="@{community/createreport}" method="post">
							    <select id="reports-code" name="reports-code">
							        <option value="1">불법 컨텐츠</option>
							        <option value="2">사기 및 사칭</option>
							        <option value="3">폭력적 및 유해 콘텐츠</option>
							        <option value="4">욕설 및 비방</option>
							        <option value="5">스팸 및 광고</option>
							        <option value="6">허위 사실 유포</option>
							    </select>
							    <input type="text" id="reportContent" name="reportContent" placeholder="신고 사유를 입력해주세요" />
                            </form>
                            <div id="modal-request-form__buttons">
                                <button type="button" id="modal-request-form__submitButton" data-target="confirm-message.html">접수</button>
                                <button type="button" id="modal-request-form__cancelButton">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            <!-- 모달창 여기부터 복사 -->
        <div class="modal-confirm-container">
            <div class="confirm-popup-wrap" style="display: none;">
                <div class="confirm-popup">
                    <div class="confirm-popup-body">
                        <div class="confirm-body-content">
                            <div class="confirm-body-titlebox">
                                <div id="modal-request-title">DoSelf</div>
                                <div id="confirm-message">
                                    성공적으로 제출 되었습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource">
    	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    	<script th:src="@{/assets/js/layout.js}"></script>
    	<script th:src="@{/assets/js/community/view.js}"></script>
    </th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script type="text/javascript">
    	

		</script>
    </th:block> 
</html>