<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/market/item-list.css}" rel="stylesheet" type="text/css" />
</head>
	
	<th:block layout:fragment="content-body">
        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <ul>
                <li>
                    <a th:href="@{/market/itemlist}" class="menu-item">
                        <i class="fa-solid fa-store"></i>
                        <div>아이템 리스트</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/market/purchaselist}" class="menu-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div>구매한 상품</div>
                    </a>
                </li>
            </ul>
        </div>
    
        <!-- 메인 콘텐츠 -->
        <main id="main-content">
            <div id="main-container-contents">
                <div id="main-container-itemList">
                    <div id="main-container-title">market</div>
                    <ul class="main-container-itemList__items">
                        <li class="main-container-itemList__item">
                            <a href="#" class="item-details-link" data-target="market-item-details.html">
                                <img class="mcii__image" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAyMTBfMTcy%2FMDAxNjQ0NDkyNDkxNTU0.67xlDyWaIRKpUPeqxkBsS0t0cJzmAKhXeMpBYQ5e8eEg.NbK_R_RU6W7cwBm7XsB-cwM-B9PYXsc7JwLGTcl-N6Yg.JPEG.blob78%2FNAVER%25A3%25DFCI.jpg&type=sc960_832" alt="">
                                <div class="mcii__name">네이버페이 포인트 10,000</div>
                                <div class="mcii__price">10,000 point</div>
                            </a>
                        </li>
                        <li class="main-container-itemList__item">
                            <a href="#" class="item-details-link" data-target="market-item-details.html">
                                <img class="mcii__image" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAyMTBfMTcy%2FMDAxNjQ0NDkyNDkxNTU0.67xlDyWaIRKpUPeqxkBsS0t0cJzmAKhXeMpBYQ5e8eEg.NbK_R_RU6W7cwBm7XsB-cwM-B9PYXsc7JwLGTcl-N6Yg.JPEG.blob78%2FNAVER%25A3%25DFCI.jpg&type=sc960_832" alt="">
                                <div class="mcii__name">네이버페이 포인트 5,000</div>
                                <div class="mcii__price">5,000 point</div>
                            </a>
                        </li>
                        <li class="main-container-itemList__item">
                            <a href="#" class="item-details-link" data-target="market-item-details.html">
                                <img class="mcii__image" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAyMTBfMTcy%2FMDAxNjQ0NDkyNDkxNTU0.67xlDyWaIRKpUPeqxkBsS0t0cJzmAKhXeMpBYQ5e8eEg.NbK_R_RU6W7cwBm7XsB-cwM-B9PYXsc7JwLGTcl-N6Yg.JPEG.blob78%2FNAVER%25A3%25DFCI.jpg&type=sc960_832" alt="">
                                <div class="mcii__name">네이버페이 포인트 1,000</div>
                                <div class="mcii__price">1,000 point</div>
                            </a>
                        </li>
                        <li class="main-container-itemList__item">
                            <a href="#" class="item-details-link" data-target="market-item-details.html">
                                <img class="mcii__image" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTA0MjJfMTYx%2FMDAxNTU1OTAyODY5NTUw.XlczDfZ3PLcZLhKO2LWJl_pGiQk32TKRse2McIfYHg8g.UD5_ts8LTZ2WhEFOAda_k6tMdoGwtokytGrpwtEHnv4g.JPEG.hmm0914%2F7.jpg&type=sc960_832" alt="">
                                <div class="mcii__name">배민 상품권 10,000</div>
                                <div class="mcii__price">10,000 point</div>
                            </a>
                        </li>
                        <li class="main-container-itemList__item">
                            <a href="#" class="item-details-link" data-target="market-item-details.html">
                                <img class="mcii__image" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTA0MjJfMTYx%2FMDAxNTU1OTAyODY5NTUw.XlczDfZ3PLcZLhKO2LWJl_pGiQk32TKRse2McIfYHg8g.UD5_ts8LTZ2WhEFOAda_k6tMdoGwtokytGrpwtEHnv4g.JPEG.hmm0914%2F7.jpg&type=sc960_832" alt="">
                                <div class="mcii__name">배민 상품권 5,000</div>
                                <div class="mcii__price">5,000 point</div>
                            </a>
                        </li>
                        <li class="main-container-itemList__item">
                            <a href="#" class="item-details-link" data-target="market-item-details.html">
                                <img class="mcii__image" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTA0MjJfMTYx%2FMDAxNTU1OTAyODY5NTUw.XlczDfZ3PLcZLhKO2LWJl_pGiQk32TKRse2McIfYHg8g.UD5_ts8LTZ2WhEFOAda_k6tMdoGwtokytGrpwtEHnv4g.JPEG.hmm0914%2F7.jpg&type=sc960_832" alt="">
                                <div class="mcii__name">배민 상품권 1,000</div>
                                <div class="mcii__price">1,000 point</div>
                            </a>
                        </li>
                        <li class="main-container-itemList__item">
                            <a href="#" class="item-details-link" data-target="market-item-details.html">
                                <img class="mcii__image" src="https://thumbs.dreamstime.com/b/doodle-single-hand-drawn-ticket-isolated-drawing-clipart-white-background-vector-illustration-325520880.jpg" alt="">
                                <div class="mcii__name">챌린지 참여 티켓</div>
                                <div class="mcii__price">3,900 point</div>
                            </a>
                        </li>
                        <li class="main-container-itemList__item">
                            <a href="#" class="item-details-link" data-target="market-item-details.html">
                                <img class="mcii__image" src="https://thumbs.dreamstime.com/b/doodle-single-hand-drawn-ticket-isolated-drawing-clipart-white-background-vector-illustration-325520880.jpg" alt="">
                                <div class="mcii__name">챌린지 개설 티켓</div>
                                <div class="mcii__price">9,800 point</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="main-container-advertise">
                <div id="main-container-advertise__adBlock">
                    <a href="#">
                        <img id="mcaa__img" src="https://i.pinimg.com/1200x/de/35/56/de355692714024d48880cb98db8f9d4b.jpg" alt="">
                    </a>
                </div>
            </div>
            
        </main>
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    </th:block> 
</html>