<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/market/item-list.css}" rel="stylesheet" type="text/css" />
	<title>market</title>
</head>
	
	<th:block layout:fragment="content-body">
        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <ul>
                <li>
                    <a th:href="@{/market/itemlist}" class="menu-item">
                        <i class="fa-solid fa-store"></i>
                        <div>아이템 리스트</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/market/purchaselist}" class="menu-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div>구매한 상품</div>
                    </a>
                </li>
            </ul>
        </div>
    
        <!-- 메인 콘텐츠 -->
        <main id="main-content">
            <div id="main-container-contents">
                <div id="main-container-itemList">
                    <div id="main-container-title">market</div>
                    <th:block th:if="${itemList !=null}">
	                    <ul class="main-container-itemList__items" >
	                        <li class="main-container-itemList__item" th:each="l : ${itemList}">
	                            <a th:href="@{/market/view(pointItemKeyNum=${l.pointItemKeyNum})}" class="item-details-link info-link" >
	                                <img class="mcii__image" th:src="${l.pointItemImg}" alt="">
	                                <div class="mcii__name" th:text="${l.pointItemName}"></div>
	                                <div class="mcii__price" th:text="${l.pointItemPrice + 'point'}"></div>
	                            </a>
	                        </li>
	                    </ul>
                    </th:block>
                </div>
            </div>
            <div id="main-container-advertise">
                <div id="main-container-advertise__adBlock">
                    <a th:href="@{https://www.tesla.com/ko_kr/cybertruck}" target="_blank">
                        <img id="mcaa__img" src="https://i.pinimg.com/1200x/de/35/56/de355692714024d48880cb98db8f9d4b.jpg" alt="">
                    </a>
                </div>
            </div>
            
        </main>
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource">
	    <script th:src="@{/assets/js/layout.js}"></script>
	    <script th:src="@{/assets/js/medicine/list.js}"></script>
    </th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    
    </th:block> 
</html>