<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
	<title>market</title>
	<link th:href="@{/assets/css/market/purchase-list.css}" rel="stylesheet" type="text/css" />
	<script src="https://kit.fontawesome.com/cc1c733a97.js" crossorigin="anonymous"></script>
</head>
	
	<th:block layout:fragment="content-body">
        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <ul>
                <li>
                    <a th:href="@{/market/itemlist}" class="menu-item">
                        <i class="fa-solid fa-store"></i>
                        <div>아이템 리스트</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/market/purchaselist}" class="menu-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div>구매한 상품</div>
                    </a>
                </li>
            </ul>
        </div>
    
        <!-- 메인 콘텐츠 -->
        <main id="main-content">
            <div id="main-container-title">purchase list</div>
			<div id="main-container-listTable">
			    <table id="main-container__purchase">
			        <thead>
			            <tr>
			                <th>상품명</th>
			                <th>상품 코드</th>
			                <th>가격</th>
			                <th>구매 일자</th>
			            </tr>
			        </thead>
			        <tbody>
  		                <th:block th:if="${purchaseList !=null}" >
							<tr class="mcp__tr" th:each="l : ${purchaseList}">
								<td th:text="${l.itemName}"></td>
								<td th:text="${l.itemCode}"></td>
								<td th:text="${#numbers.formatInteger(l.itemPrice, 3, 'COMMA') + ' point'}"></td>
								<td th:text="${l.itemPurchaseDate}"></td>
							</tr>
	                   </th:block>
	                   <th:block th:unless="${not #lists.isEmpty(purchaseList)}">
							<tr>
								<td colspan="6">구매한 내역이 없습니다.</td>
							</tr>
						</th:block>
			        </tbody>
			    </table>
			</div>
        </main>
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource">
    	<script th:src="@{/assets/js/layout.js}"></script>
    </th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    </th:block> 
</html>