<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/assets/css/market/purchase-item.css}" rel="stylesheet" type="text/css" />
    <title>item purchase</title>
</head>
<body>
    <div id="container">
        <div id="main-title">마켓 상품 결제</div>
        <form id="purchaseItemForm" th:action="@{/market/purchaseitem}" method="post">
        <div id="main-content" th:object="${itemInfo}">
            <div class="main-item-header">
                <div id="item-title">
                    <img class="miit__image" th:src="*{pointItemImg}" alt="">
                    <span th:text="*{pointItemName}"></span>
                </div>
            </div>
            <div class="main-items">
                <div class="item-info">
                    결제 상품명
                </div>
                <div id="item-name" name="purchaseItemName" th:text="*{pointItemName}"></div>
                <input type="hidden" id="pointItemKeyNum" name="pointItemKeyNum" th:value="*{pointItemKeyNum}">
            </div>
            <div class="main-items">
                <div class="item-info">
                    결제 가격
                </div>
                <div id="item-price" th:text="*{pointItemPrice} + ' point'"></div>
                <input type="hidden" id="itemPrice" name="itemPrice" th:value="*{pointItemPrice}">

            </div>
            <div class="main-items">
                <div class="item-info">
                    보유 포인트
                </div>
                <div id="user-point" th:text="*{memberPoint} + ' point'">
                </div>
            </div>
            
        </div>
        <div class="market-item-button-container">
            <div id="pay-agreement">
                <input type="checkbox" id="pay-agree-checkbox">
                <label for="pay-agree-checkbox">[필수] 결제 서비스 이용 약관, 개인정보 처리 동의</label>
            </div>
            <button type="submit" id="item-purchase__button">결제하기</button>
        </div>
        </form>
    </div>
</body>

    <th:block layout:fragment="customJsResource">
   		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
   		<script th:src="@{/assets/js/market/purchase-item.js}"></script>
    </th:block>
    
    <th:block layout:fragment="customJs">
    </th:block> 
</html>