<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/assets/css/market/purchase-item.css}" rel="stylesheet" type="text/css" />
    <title>item purchase</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="main-title">마켓 상품 결제</div>
        <form id="purchaseItemForm" th:action="@{/market/purchaseitem}" method="post">
        <div id="main-content" th:object="${itemInfo}">
            <div class="main-item-header">
                <div id="item-title">
                    <img class="miit__image" th:src="*{pointItemImg}" alt="">
                    <span th:text="*{pointItemName}"></span>
                </div>
            </div>
            <div class="main-items">
                <div class="item-info">
                    결제 상품명
                </div>
                <div id="item-name" name="purchaseItemName" th:text="*{pointItemName}">
                </div>
                <input type="hidden" name="pointItemKeyNum" th:value="*{pointItemKeyNum}">
            </div>
            <div class="main-items">
                <div class="item-info">
                    결제 가격
                </div>
                <div id="item-price" th:text="*{pointItemPrice} + ' point'">
                </div>
            </div>
            <div class="main-items">
                <div class="item-info">
                    보유 포인트
                </div>
                <div id="user-point" th:text="*{memberPoint} + ' point'">
                </div>
            </div>
            <div class="main-items">
                <div class="item-info">
                    사용 포인트
                </div>
                <div id="use-point">
                    <input type="text" name="inputPointValue" id="point-input" th:attr="disabled=*{pointItemPrice} > *{memberPoint} ? 'disabled' : null">
                    <span>&nbsp;point</span>
                    <!-- <button id="use-point__button">전액 사용</button> -->
                </div>
            </div>
        </div>
        <div class="market-item-button-container">
            <div id="pay-agreement">
                <input type="checkbox" id="pay-agree-checkbox">
                <label for="pay-agree-checkbox">[필수] 결제 서비스 이용 약관, 개인정보 처리 동의</label>
            </div>
            <button type="submit" id="item-purchase__button">결제하기</button>
        </div>
        </form>
    </div>
</body>

    <th:block layout:fragment="customJsResource">
   		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </th:block>
    
    <th:block layout:fragment="customJs">
    	<script th:inline="javascript">
	    	$('#item-purchase__button').click(event => {
	    		const itemPrice = /*[[${itemInfo.pointItemPrice}]]*/;
	    		const memberPoint = /*[[${itemInfo.memberPoint}]]*/;
	    		let isValid = true; 
	    		event.preventDefault();
	    		
	    		const inputPointValue = $('#point-input').val();
	    		const isAgreeChecked = $('#pay-agree-checkbox').prop('checked');
	    		
	    		if(!isAgreeChecked) {
	    			alert("결제 서비스 동의 체크를 확인해주세요");
	    			$('#pay-agree-checkbox').focus();
	    			isValid = false;
	    			return;
	    		} else if(memberPoint < inputPointValue && !(inputPointValue === itemPrice)) {
	    			alert("사용 포인트를 확인해주세요");
	    			$('#point-input').focus();
	    			isValid = false;
	    		};
	    		
	    		if(isValid) $('#purchaseItemForm').submit();
	    		
	    	})
    	
    	</script>
    </th:block> 
</html>