<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManagerPage_</title>
    <link rel="stylesheet" href="common.css"> <!-- 외부 CSS 링크 -->
    <script src="https://kit.fontawesome.com/cc1c733a97.js" crossorigin="anonymous"></script> 
</head>
<body>

<header class="header">
    <a href="#" class="logo"><img src="https://velog.velcdn.com/images/mekite/post/3958812c-a50f-426c-a9ca-363b12b9bd4a/image.PNG" alt="top_logo"></a> <!-- 로고 클릭 시 링크 이동 -->
    <nav class="nav-links">
        <a href="#">피드</a>
        <a href="#">음식</a>
        <a href="#">영양제</a>
        <a href="#">챌린지</a>
        <a href="#">티켓</a>
        <a href="#">마켓</a>
        <a href="#">커뮤니티</a>
    </nav>
    <!-- 프로필 사진 (원형) -->
    <div class="profile">
        <a href="#"><img src="https://velog.velcdn.com/images/mekite/post/02c7afae-d297-40ee-81df-ed3da3b7f0ca/image.png" alt="프로필"></a>
    </div> 
</header>

<div class="container">
    <!-- 왼쪽 사이드바 -->
    <div class="sidebar">
        <ul>
            <li>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-user-gear"></i>
                        <div>회원 관리</div> 
                    <span class="toggle-icon">+</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">회원 등록</a></li>
                    <li><a href="#">회원 수정</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-users-gear"></i>
                        <div>챌린지 관리</div>
                    <span class="toggle-icon">+</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">챌린지 검색</a></li>
                    <li><a href="#">챌린지내 개인</a></li>
                    <li><a href="#">챌린지 별 기록</a></li>
                    <li><a href="#">챌린지 개인 점수</a></li>
                    <li><a href="#">챌린지 점수</a></li>
                    <li><a href="#">경고내역</a></li>
                    <li><a href="#">보상 지급 기록</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        <div>등록 요청 관리</div> 
                    <span class="toggle-icon">+</span></a>
                <ul class="sub-menu">
                    <li><a href="#">등록 요청 관리</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                        <div> 결제 관리</div>
                        <span class="toggle-icon">+</span></a>
                <ul class="sub-menu">
                    <li><a href="#">결제 내역</a></li>
                    <li><a href="#">환불 접수 내역</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-coins"></i>
                        <div>포인트 관리</div> 
                    <span class="toggle-icon">+</span></a>
                <ul class="sub-menu">
                    <li><a href="#">포인트 상품 관리</a></li>
                    <li><a href="#">회원별 사용 내역</a></li>
                </ul>

            <li>
                <a href="#" class="menu-item">
                    <i class="fa-solid fa-handcuffs"></i>
                    <div>신고관리 </div>
                    <span class="toggle-icon">+</span></a>
                <ul class="sub-menu">
                    <li><a href="#">신고관리</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- 메인 콘텐츠 -->
    <main id="main-content">
        <h4>main 컨텐츠 영역입니다.</h4>
        
    </main>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="https://velog.velcdn.com/images/mekite/post/552ea3de-e88e-42f5-969e-d7c8051cd272/image.png" alt="footer_logo">
        </div>
        <div class="company-info">
            <span>전주시 덕진구 기린대로 499</span>
            <span>|</span>
            <span>홍길동</span>
            <span>|</span>
            <span>사업자등록번호 418-82-10120</span>
        </div>
        <div class="license-info">
            <span>© 2024 DoSelf, Inc. All rights reserved.</span>
        </div>
    </div>
</footer>

<script src="Common.js"></script>


</body>
</html>
