<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="feed-comment-modal-overlay" id="feedCommentModalOverlay" style="display: none;" th:fragment="feed-comment">
       <div class="feed-comment-modal-container">
           <div class="feed-comment-modal-header">
               <img src="https://velog.velcdn.com/images/mekite/post/cce77b75-c834-4f16-858d-1548946f09f5/image.png" alt="옵션">
               <h2>피드 댓글</h2>
               <img class="feed-comment-modalCloseBtn" src="https://velog.velcdn.com/images/mekite/post/0936bbac-2eab-4353-90f2-0be979df6ea3/image.png" alt="닫기">
           	</div>
           	<hr>
           	<div class="feed-comment-modal-body">
			   <div class="feed-comment-modal-image-upload">
                   <img th:src="@{|${feed.feedFilePath}|}" alt="피드 이미지" id="comment-image-preview">
               </div>
	           	<div class="feed-comment-feed-info">
					<div class="feed-user-comment-container">
		               <!-- 댓글 내용 리스트 -->
					</div>
					<div class="feed-comment-info-under">
						<img src="https://velog.velcdn.com/images/mekite/post/21a70790-1027-41c2-a741-d0cf3859686e/image.png" alt="댓글구분" class="comment-section-under">
						<input type="text" placeholder="댓글 달기...">
		                <button type="button" id="feedCommentModalButton" class="cf-comment-comment-btn">게시</button>
				    </div>
	           </div>
		   </div>
       </div>
   </div>
</html>