<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/feed-default}">

<!-- container -->
<div:block layout:fragment="content-body" class="feed-container">
	<div class="sidebar-container"></div>
	<!-- Main Content -->
	<main class="main">
		<div class="container">
	        <!-- 피드 옵션 모달 -->
	        <div class="popup-wrap feed-option-modal-wrap" style="display: none;">
	            <div class="popup">
	                <div class="popup-body">
	                    <div class="body-content">
	                        <div class="body-titlebox">
	                            <ul>
	                                <li class="pop" id="feed-modify-modal">피드 수정</li>
	                                <li class="pop" id="feed-delete-modal">피드 삭제</li>
	                                <li class="pop" id="feed-link-copy"> 피드 링크 복사</li>
	                                <!-- 위 내용 그냥 복붙하면 자동으로 증가 -->
	                                <li class="pop close">취소</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
			<!-- 챌린지 생성 모달 -->
            <div th:replace="~{user/feed/feed-create :: feed-create}"></div>
			
	        <!-- 피드 수정 모달 -->
            <div th:replace="~{user/feed/feed-modify :: feed-modify}"></div>
                
			<!-- 피드 댓글 모달 -->
			<div th:replace="~{user/feed/feed-comment :: feed-comment}"></div>
		</div>
		<div th:if="${FeedList == null || FeedList.isEmpty()}">
		    <p>피드가 없습니다.</p>
		</div>
		<!-- 피드 리스트 -->
		<section th:if="${FeedList != null && !FeedList.isEmpty()}">
            <div class="feed" th:each="f, iterStat : ${FeedList}"				  
							  th:data-meal-picture="${f.mealPicture}"					  
							  th:data-meal-date="${f.feedDate}"					  
							  th:data-meal-weight="${f.mealWeight}" 
					          th:data-meal-calories="${f.mealCalories}" 
					          th:data-meal-carbohydrates="${f.mealCarbohydrates}" 
					          th:data-meal-protein="${f.mealProtein}" 
					          th:data-meal-fat="${f.mealFat}"
					          th:data-meal-sugar="${f.mealSugar}"
					          th:data-meal-cholesterol="${f.mealCholesterol}"
					          th:data-meal-sodium="${f.mealSodium}"
					          th:data-meal-calcium="${f.mealCalcium}"
					          th:data-meal-iron="${f.mealIron}"
				              th:id="'feed-' + ${iterStat.index}" >
                <div class="feed-header">
                    <a href="#">
                        <img class="profile-img" th:src="${f.memberProfileImage}">
                    </a>
                    <div class="user-name">
                        <a href="#"><p th:text="${f.memberId}"></p></a>
                    </div>
                    <div class="feed-option">
                        <button class="option-button">
                            <img src="https://velog.velcdn.com/images/mekite/post/e1e30329-6765-425a-ad54-42e8df8a27aa/image.png" alt="옵션">
                        </button>
                    </div>
                </div>
				<div class="feed-main-img">  
				    <a th:href="@{'/feed/' + ${f.feedCode}}"> <!-- feedCode를 경로에 전달 -->
				        <img class="meal-img" th:src="${f.feedPicture}" alt="피드 이미지">
				    </a>
				</div>
                <div class="feed-action">
                    <div class="action-icons">
                        <button type="button" class="action-btn likeBtn" data-liked="false">
                            <img class="likeImg" src="https://velog.velcdn.com/images/mekite/post/893c3ae8-05a0-4506-a889-15b8af37a33d/image.png" alt="좋아요">
                        </button>
                        <button type="button" class="action-btn commentBtn">
                            <img src="https://velog.velcdn.com/images/mekite/post/3ca79f86-baf3-4d32-9f07-008c4ff960d2/image.png" alt="댓글">
                        </button>
                    </div>
                    <!-- <p class="feed-upload-date" th:text="${f.feedDate != null ? #dates.format(f.FeedDate, 'yyyy/MM/dd') : '날짜 없음'}"></p> -->
                </div>
                <div class="feed-description">
                    <p id="feed-likes" th:text="|좋아요 ${f.feedLike}개|"></p>
                    <p th:text="${f.feedContent}"></p>
                    <p class="comments-link" th:text="${f.feedCommentContent}"></p>
                </div>
                <hr>
                <div class="add-comment">
                    <img src="https://velog.velcdn.com/images/mekite/post/87802bec-0c39-4cf8-aa23-80ae579a0b37/image.png" alt="댓글 아이콘">
                    <input type="text" placeholder="댓글 달기...">
                    <button class="comment-submit">게시</button>
                </div>
            </div>
		</section>
    </main>
	<!-- Right Sidebar -->
	<div class="progress-container">
		<div class="analysis-table">
			<p class="analysis-title">식단 영양 정보 분석표</p>
			<div id="analysis-img">
	            <img th:src="@{'${f.feedPicture}'}" alt="피드 이미지">
	        </div>
	    </div>
	    <div class="analysis-info">
	        <table class="info-table">
				<tr>
                    <td>구분(1인분)</td>
                    <td id="weight">0 g</td>
                </tr>
				<tr>
			        <td>칼로리</td>
			        <td id="calories">0 kcal</td>
			    </tr>
			    <tr>
			        <td>탄수화물</td>
			        <td id="carb">0 kcal</td>
			    </tr>
			    <tr>
			        <td>단백질</td>
			        <td id="protein">0 g</td>
			    </tr>
			    <tr>
			        <td>지방</td>
			        <td id="fat">0 g</td>
			    </tr>
	        </table>
	    </div>
	    <div class="analysis-caution">
	        <p>※ 표시된 영양성분은 산출근거에 따른 표준 값으로 실제 제품과 차이가 있을 수 있습니다.</p>
	    </div>
	</div>
</div:block>


<!--/* 사용자 추가 js file */-->
<th:block layout:fragment="customJsResource">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/assets/js/feed/feed-list.js}"></script>
</th:block>

<!--/* 사용자 추가 js script */-->
<th:block layout:fragment="customJs">
	<script>
		
	</script>
</th:block>
</html>