<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
     <!-- Header -->
     <header class="header">
        <div class="logo"><a href="#">
            <img src="https://velog.velcdn.com/images/mekite/post/3958812c-a50f-426c-a9ca-363b12b9bd4a/image.PNG" alt="로고" class="logo-img"></a>
        </div>
        <nav class="nav">
            <ul class="nav-links">
                <a href="#">피드</a>
                <a href="#">음식</a>
                <a href="#">영양제</a>
                <a href="#">챌린지</a>
                <a href="#">티켓</a>
                <a href="#">마켓</a>
                <a href="#">커뮤니티</a>
            </ul>
        </nav>
        <div class="profile"><a href="#">
            <img src="https://velog.velcdn.com/images/mekite/post/02c7afae-d297-40ee-81df-ed3da3b7f0ca/image.png" alt="프로필" class="profile-icon"></a>

    </div>
</header>

    <!-- Main Layout -->
    <div class="layout">
        <!-- Sidebar -->
        <aside class="sidebar">
            <ul class="sidebar-menu">
                <li><a href="#">검색</a></li>
                <li><a href="#">피드 추가</a></li>
                <li><a href="#">알림</a></li>
                <li><a href="#">영양 정보</a></li>
                <li><a href="#">영양제</a></li>
                <li><a href="#">음식</a></li>
                <li><a href="#">챌린지</a></li>
            </ul>
        </aside>

        <!-- Content -->
        <main class="main-content">
            <!-- feed list -->
            <div class="peed-list">
                <!-- feed top -->
                <div class="feed-title">
                    <div class="writtenBy-img">
                        <img src="https://velog.velcdn.com/images/mekite/post/02c7afae-d297-40ee-81df-ed3da3b7f0ca/image.png" class="user-img" alt="작성자 프로필 사진">
                    </div>
                    <a href="#" class="writtenBy-id">id001</a>
                    <a href="#" class="view-details">···</a>
                </div>
                <!-- feed content -->
                <section class="feed-imgs">
                    <img src="https://m.ndns.shop/web/product/big/202311/f91335becf58f81edbf07a8f2c932380.jpg" class="feed-img" alt="음식 사진">
                    <div class="interactions">
                        <div class="like">
                            <div class="like-coment-img">
                                <img src="좋아요" src="" class="like-img" >
                                <img src="댓글" src="" class="coment-img">
                            </div>
                        </div>
                        </div>   
                    </section>
                    <!--feed text-->
                    <section class="feed-txt">
                        <p>
                            <a class="text-like">좋아요
                            <a class="like-num">0</a>
                        </p>
                        <span class="feed-txt-span"> 오늘 운동 후 식단</span>
                        <a href="#" class="more">더보기</a>
                    </section>
                    <!--comment-->
                    <div class="comments">
                        <form id="post" class="post_comment">
                            <textarea id="newComment" type="in" placeholder="댓글 달기..."></textarea>
                            <button id="btnPost" type="submit">게시</button>
                        </form> 
                    </div>
                </div>
            <div class="nutritional-analysis">
                <div class="nutritional-analysis-table">
           </div>
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="https://velog.velcdn.com/images/mekite/post/552ea3de-e88e-42f5-969e-d7c8051cd272/image.png" alt="footer_logo">
            </div>
            <div class="company-info">
                <span>전주시 덕진구 기린대로 499</span>
                <span>|</span>
                <span>홍길동</span>
                <span>|</span>
                <span>사업자등록번호 418-82-10120</span>
            </div>
            <div class="license-info">
                <span>© 2024 DoSelf, Inc. All rights reserved.</span>
            </div>
        </div>
    </footer>
</body>
</html>