<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layout/feed-default}">
<!-- container -->
<div:block layout:fragment="content-body" class="df-feed-container">
	<div class="sidebar-container"></div>
	<main class="main">
		<div class="df-container">
			<!-- 특정 피드 상세 정보 -->
			<section>
				<div class="df-feed">
					<div class="df-feed-header">
						<a href="#">
							<img class="df-profile-img" th:src="${feed.memberProfileImage}">
						</a>
						<div class="df-user-name">
							<a href="#"><p th:text="${feed.memberId}"></p></a>
						</div>
					</div>
					<div class="df-feed-content">
						<div class="df-feed-main-img">
							<img class="df-meal-img" th:src="${feed.feedPicture}">
						</div>
						<div class="df-progress-container">
							<div class="df-analysis-table">
								<p class="df-analysis-title">식단 영양 정보 분석표</p>
								<div id="df-analysis-img">
									<img th:src="${feed.mealPicture}" alt="대표 음식 이미지">
								</div>
							</div>
							<div class="df-analysis-info">
								<table class="df-info-table">
									<tr>
										<td>구분(1인분)</td>
										<td th:text="${feed.mealWeight} + ' kcal'"></td>
									</tr>
									<tr>
										<td>칼로리</td>
										<td th:text="${feed.mealCalories} + ' kcal'"></td>
									</tr>
									<tr>
										<td>탄수화물</td>
										<td th:text="${feed.mealCarbohydrates} + ' g'"></td>
									</tr>
									<tr>
										<td>단백질</td>
										<td th:text="${feed.mealProtein} + ' g'"></td>
									</tr>
									<tr>
										<td>지방</td>
										<td th:text="${feed.mealFat} + ' g'"></td>
									</tr>
								</table>
							</div>
							<div class="df-analysis-caution">
								<p>※ 표시된 영양성분은 산출근거에 따른 표준 값으로 실제 제품과 차이가 있을 수 있습니다.</p>
							</div>
						</div>
					</div>
					<div class="df-feed-description">
					    <p id="feed-likes" th:text="|좋아요 ${feed.feedLike != null ? feed.feedLike : 0}개|"></p>
					    <p th:text="${feed.feedContent}"></p>
					    <p class="df-comments-link" th:text="${feed.feedCommentContent}"></p>
					</div>
					<hr>
					<div class="df-add-comment">
					    <img src="https://velog.velcdn.com/images/mekite/post/87802bec-0c39-4cf8-aa23-80ae579a0b37/image.png" alt="댓글 아이콘">
					    <input type="text" placeholder="댓글 달기...">
					    <button class="df-comment-submit">게시</button>
					</div>
				</div>
			</section>
		</div>
	</main>
</div:block>
</html>
    
<!--/* 사용자 추가 js file */-->
<th:block layout:fragment="customJsResource">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/assets/js/feed/feed-list.js}"></script>
</th:block>

<!--/* 사용자 추가 js script */-->
<th:block layout:fragment="customJs">
	<script>
		
	</script>
</th:block>
</html>