<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/feed-default}">

 <!-- container -->
 <div class="feed-container">
     <!-- Main Content -->
     <main class="main">
         <div class="food-calendar">
             <div class="calendar-container">
                 <p class="p">영양정보 캘린더</p>
                 <div class="calendar">
                     <div class="cal-button">
                         <button class="prev-month">&lt;</button>
                         <span class="current-month"> 8월 2024년</span>
                         <button class="next-month">&gt;</button>
                     </div>
                     <table class="calendar-table">
                         <thead>
                             <tr>
                                 <th>일</th>
                                 <th>월</th>
                                 <th>화</th>
                                 <th>수</th>
                                 <th>목</th>
                                 <th>금</th>
                                 <th>토</th>
                             </tr>
                         </thead>
                         <tbody id="calendar-body">
                             <!-- Dates will be dynamically inserted -->
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
         <div class="nutrition-summary">
             <p class="nutrition-summary-p">종합 영양 정보</p>
             <div class="nutrition-info-chart">
                 <div class="feed-img-chart">
                     <div>
                         <canvas id="pieChart" width="150" height="150"></canvas>
                     </div>
                 </div>
             </div>
          <div class="nutrition-details">
              <p class="nutrition-details-p">하루 권장량 비교 (남은양)</p>
              <ul class="nutrition-list-group">
                  <li class="list-group-item">남은 열량: <span id="calories">0</span> kcal</li>
                  <li class="list-group-item">남은 탄수화물: <span id="protein">0</span> kcal</li>
                  <li class="list-group-item">남은 단백질: <span id="fat">0</span> kcal</li>
                  <li class="list-group-item">남은 지방: <span id="fat">0</span> kcal</li>
                  <button class="list-group-button">...</button>
              </ul>
              <div class="nutrition-button">
                  <button class="prev-button">&lt;</button>
                  <button class="next-button">&gt;</button>
              </div>
          </div>
  	</div>
     </main>
 </div>

<!--/* 사용자 추가 js file */-->
<th:block layout:fragment="customJsResource">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>

<!--/* 사용자 추가 js script */-->
<th:block layout:fragment="customJs">
	<script>
	
	</script>
</th:block>
</html>