<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.user.challenge.list.mapper.ChallengeListMapper">
  
  	<resultMap type="ChallengeList"	id="ChallengeListResultMap">
		<id 	column="cg_num" 			   property="ChallengeCode"/>
  		<result	column="mbr_id"	  			   property="memberId"/>
		<result column="cg_name" 			   property="ChallengeName"/>
		<result column="cg_picture" 		   property="ChallengePicture"/>
		<result column="cg_start_date"	       property="ChallengeStartDate"/>
		<result column="cg_end_date" 		   property="ChallengeEndDate"/>
		<result column="cg_current_mbr_count"  property="ChallengeCurrentMember"/>
		<result column="cg_max_mbr_count" 	   property="ChallengeMaxMember"/>
		<result column="ctl_level" 			   property="ChallengeTopicLevel"/>
		<result column="ct_num" 			   property="ChallengeTopicCode"/>
		<result column="ct_name" 			   property="ChallengeTopicName"/>
		<result column="cs_status" 	 		   property="ChallengeStatus"/>
  	</resultMap>
  	<!-- 특정 챌린지 리스트 조회 -->
  	<select id="getChallengeList" resultType="ChallengeList" resultMap="ChallengeListResultMap">
	  	SELECT
			cg_num,
			mbr_id,
			cg_name,
			cg_picture,
			cg_start_date,
			cg_end_date,
			cg_current_mbr_count,
			cg_max_mbr_count,
			ctl_level,
			ct_num,
			ct_name,
			cs_status
		FROM
			`member` mbr
			INNER JOIN challenge_group cg USING(mbr_id)
			INNER JOIN challenge_topic_level stl USING(ctl_num)
			INNER JOIN challenge_status cs USING(cs_num)
			INNER JOIN challenge_topic ct USING(ct_num)
		WHERE
			cg_num = #{ChallengeCode};
  	</select>
  </mapper>