<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<aside class="aside" th:fragment="feedAsideFragment">
		<div class="sidebar-container">
			<!-- left sidebar -->
			<div class="sidebar">
			    <ul id="feed-create">
			       <li><img src="https://velog.velcdn.com/images/wlsgus4296/post/b686331f-57cd-4151-a977-5dccac86ba5f/image.png" alt="피드 추가 아이콘" /></li>
			       <li><button id="feed-create">피드 추가</button></li>
				</ul>
			    <ul id="feed_nutritioninfo">
			        <li><img src="https://velog.velcdn.com/images/wlsgus4296/post/55cd2fc1-6375-4982-a9b3-5887ca9e14cb/image.png" alt="영양 정보 아이콘" /></li>
					<li><a th:href="@{/feed/nutritioninfo}">영양 정보</a></li>
				</ul>
				<ul id="feed_challenge">
					<li><img src="https://velog.velcdn.com/images/wlsgus4296/post/6796c6f7-cca3-45ab-bda3-5fb850420929/image.png" alt="챌린지 아이콘" /></li>
					<li><a th:href="@{/challenge/feed/list}">챌린지</a></li>
				</ul>
			</div>
		</div>
	</aside>
</html>