<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="header" th:fragment="headerFragment">
   	<script th:src="@{/assets/js/layout.js}"></script>
   	<script th:src="@{/assets/js/community/view.js}"></script>
   	<script th:src="@{/assets/js/community/comment-modify.js}"></script>
    <a href="/" class="logo">
        <img src="https://velog.velcdn.com/images/mekite/post/3958812c-a50f-426c-a9ca-363b12b9bd4a/image.PNG" alt="top_logo">
    </a>
    <nav class="nav-links">
        <a th:href="@{/feed/list}">피드</a>
        <a th:href="@{/food/list}">음식</a>
        <a th:href="@{/medicine/list}">영양제</a>
        <a th:href="@{/challenge/list}">챌린지</a>
        <a th:href="@{/ticket/itemlist}">티켓</a>
        <a th:href="@{/market/itemlist}">마켓</a>
        <a th:href="@{/community/list}">커뮤니티</a>
    </nav>
	    <div class="profile">
	        <a th:href="@{/mypage/feedlist(memberId=${session.SID})}"><img th:src="${session.IMAGE}" alt="프로필"></a>
	        <a th:if="${session.SID == null}" class="dropdown-item text-primary" th:href="@{/login}">
				<i class="material-icons md-perm_identity"></i>Login
			</a>
			<a th:unless="${session.SID == null}" class="dropdown-item text-danger" id="logout-btn" th:href="@{/logout}">
				<i class="fa-solid fa-person-running"></i>
			</a>
	    </div>
</header>
</html>