<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="header" th:fragment="headerFragment">
    <a href="/" class="logo">
        <img src="https://velog.velcdn.com/images/mekite/post/3958812c-a50f-426c-a9ca-363b12b9bd4a/image.PNG" alt="top_logo">
    </a>
    <nav class="nav-links">
        <a th:href="@{/feed/list}">피드</a>
        <a th:href="@{/food/list}">음식</a>
        <a th:href="@{/medicine/list}">영양제</a>
        <a th:href="@{/challenge/list}">챌린지</a>
        <a th:href="@{/ticket/itemlist}">티켓</a>
        <a th:href="@{/market/itemlist}">마켓</a>
        <a th:href="@{/community/list}">커뮤니티</a>
    </nav>
    <div class="profile">
        <a th:href="@{/mypage/member/info(memberId=${session.SID})}"><img src="https://velog.velcdn.com/images/mekite/post/02c7afae-d297-40ee-81df-ed3da3b7f0ca/image.png" alt="프로필"></a>
    </div>
</header>
</html>