<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="doself.user.feed.mapper.FeedMapper">
  	<resultMap type="Feed" id="FeedResultMap">
	    <id column="feed_num" property="feedCode" />
	    <id column="mbr_id" property="memberId" />
	    <id column="mni_num" property="mealNutritionInfoCode" />
	    <id column="mc_num" property="mealCategoryCode" />
	    <result column="feed_food_intake" property="feedFoodIntake" />
	    <result column="feed_content" property="feedContent" />
	    <result column="feed_picture" property="feedPicture" />
	    <result column="feed_date" property="feedDate" />
	    <result column="feed_intake_date" property="feedIntakeDate" />
	    <result column="feed_like" property="feedLike" />
	    <result column="feed_open_status" property="feedOpenStatus" />
	    <result column="mbr_image" property="memberProfileImage" />
	    <result column="fc_content" property="feedCommentContent" />
	    <result column="mni_name" property="mealName" />
	    <result column="mni_picture" property="mealPicture" />
	    <result column="mni_weight" property="mealWeight" />
	    <result column="mni_kcal" property="mealCalories" />
	    <result column="mni_carbo" property="mealCarbohydrates" />
	    <result column="mni_protein" property="mealProtein" />
	    <result column="mni_fat" property="mealFat" />
	    <result column="mni_sugar" property="mealSugar" />
	    <result column="mni_cholesterol" property="mealCholesterol" />
	    <result column="mni_sodium" property="mealSodium" />
	    <result column="mni_calcium" property="mealCalcium" />
	    <result column="mni_iron" property="mealIron" />
	</resultMap>
	
	<!-- 피드 조회 -->
	<select id="getFeedList" resultMap="FeedResultMap">
	    SELECT
	        f.feed_num,
	        f.mbr_id,
	        f.mni_num,
	        f.feed_food_intake,
	        f.feed_content,
	        f.feed_picture,
	        f.mc_num,
	        f.feed_date,
	        f.feed_intake_date,
	        f.feed_like,
	        f.feed_open_status,
	        m.mbr_image,
	        mll.mni_name,
	        mll.mni_picture,
	        mll.mni_weight,
	        mll.mni_kcal,
	        mll.mni_carbo,
	        mll.mni_protein,
	        mll.mni_fat,
	        mll.mni_sugar,
	        mll.mni_cholesterol,
	        mll.mni_sodium,
	        mll.mni_calcium,
	        mll.mni_iron,
	        fc.fc_content
	    FROM
	        feed f
	    INNER JOIN
	        meal_nutrition_info mll ON f.mni_num = mll.mni_num
	    INNER JOIN
	        member m ON f.mbr_id = m.mbr_id
	    LEFT JOIN
    		feed_comments fc ON f.feed_num = fc.feed_num;;
	</select>
	
	<!-- 피드 영양 정보 조회 -->
	<select id="getFeedNutritionInfo" resultMap="FeedResultMap">
		SELECT
		    f.mni_num,
		    mll.mni_name,
		    mll.mni_weight,
		    mll.mni_kcal,
		    mll.mni_carbo,
		    mll.mni_protein,
		    mll.mni_fat,
		    mll.mni_picture,
		    mll.mni_sugar,
	        mll.mni_cholesterol,
	        mll.mni_sodium,
	        mll.mni_calcium,
	        mll.mni_iron
		FROM
		    meal_nutrition_info mll INNER JOIN feed f
		    ON mll.mni_num = f.mni_num
	</select>
	
	<!-- 특정 피드 상세 조회 -->
	<select id="getFeedDetail" parameterType="String" resultMap="FeedResultMap">
	    SELECT
	        f.feed_num,
	        f.mbr_id,
	        f.mni_num,
	        f.feed_food_intake,
	        f.feed_content,
	        f.feed_picture,
	        f.mc_num,
	        f.feed_date,
	        f.feed_intake_date,
	        f.feed_like,
	        f.feed_open_status,
	        m.mbr_image,
	        fc.fc_content,
	        mll.mni_name,
	        mll.mni_picture,
	        mll.mni_weight,
	        mll.mni_kcal,
	        mll.mni_carbo,
	        mll.mni_protein,
	        mll.mni_fat,
	        mll.mni_sugar,
	        mll.mni_cholesterol,
	        mll.mni_sodium,
	        mll.mni_calcium,
	        mll.mni_iron
	    FROM
	        feed f
	    INNER JOIN
	        meal_nutrition_info mll ON f.mni_num = mll.mni_num
	    INNER JOIN
	        member m ON f.mbr_id = m.mbr_id
	    LEFT JOIN
	        feed_comments fc ON f.feed_num = fc.feed_num
	    WHERE
	        f.feed_num = #{feedCode};
	</select>
	
	<!-- 피드 추가 -->
	<insert id="addFeed" parameterType="Feed">
		INSERT INTO feed (
	        feed_num,
	        mbr_id,
	        mni_num,
	        feed_food_intake,
	        feed_content,
	        feed_picture,
	        mc_num,
	        feed_date,
	        feed_intake_date,
	        feed_like,
	        feed_open_status
	    )
	    VALUES (
	        #{feedCode},
	        #{memberId},
	        #{mealNutritionInfoCode},
	        #{feedFoodIntake},
	        #{feedContent},
	        #{feedPicture},
	        #{mealCategoryCode},
	        NOW(),
	        #{feedIntakeDate},
	        0,
	        #{feedOpenStatus}
	    )
	</insert>
 </mapper>
  