<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.user.members.mapper.MembersMapper">
    <resultMap type="Members" id="membersResultMap">
		<id 	column="mbr_id" 			         property="memberId"/>
		<result column="mbr_pw" 			         property="oldMemberPw" />
		<result column="mbr_name" 			         property="memberName" />
		<result column="mg_code" 			         property="memberGrdCode" />
		<result column="mbr_email"			         property="memberEmail" />
		<result column="mbr_birth_date" 	         property="memberBrith" />
		<result column="mbr_phone_num" 		         property="memberPhoneNum" />
		<result column="mbr_gender" 		         property="memberGender" />
		<result column="ac_num" 			         property="memberAgeRange" />
		<result column="opening_ticket_count" 	   	 property="openTicketCnt" />
		<result column="participation_ticket_count"  property="partTicketCnt" />
		<result column="mbr_point" 	                 property="memberPoint" />
		<result column="mbr_image" 	                 property="memberImage" />
	</resultMap>
	
	<!-- 티켓리스트 -->
	<resultMap type="TicketList" id="TicketListResultMap">
		<id 	column="mbr_id" 			         property="memberId"/>
		<result column="ctph_date" 			         property="ticketBuyDate" />
		<result column="ctc_category" 			     property="ticketName" />
		<result column="pmc_name" 			         property="ticketPaymentMethod" />
		<result column="ctm_date" 			         property="ticketUseChk" />
		<result column="ctm_return_status" 			 property="ticketReturnChk" />
		<result column="ticketUsedCnt" 			     property="ticketUsedCnt" />
		<result column="ticketNotUsedCnt" 			 property="ticketNotUsedCnt" />
		
	</resultMap>
	
	<!-- 회원탈퇴 -->
	<update id="removeMemberById" parameterType="String">
		UPDATE member
		SET
			is_deleted = 'delete'
		WHERE
			mbr_id = #{memberId};
	</update>
  		
  	<!-- 회원정보 -->	
    <select id="getMemberInfoById" parameterType="String" resultMap="membersResultMap">
        SELECT 
            mbr_id, 
            mbr_pw,
            mbr_name,
            mg_code,
            mbr_email, 
            mbr_birth_date, 
            mbr_phone_num,
            mbr_gender,
            ac_num,
            opening_ticket_count,
            participation_ticket_count,
            mbr_point,
            mbr_image
        FROM 
            member
        WHERE
            mbr_id = #{memberId};
    </select>
    
	<!-- 현재 비밀번호 확인 -->
	<select id="passwordChk" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM member
	    WHERE 
	    mbr_id = #{memberId} AND mbr_pw = #{oldMemberPw}
	</select>
	
	<!-- 새 비밀번호 업데이트 -->
	<update id="updatePassword" parameterType="map">
	    UPDATE member
	    SET mbr_pw = #{newMemberPw}
	    WHERE mbr_id = #{memberId}
	</update>
	
	<update id="modifyMember" parameterType="Members">
       UPDATE member 
    <set>
        <if test="oldMemberPw != null and oldMemberPw !='' and newMemberPw != null and newMemberPw">
         mbr_pw = #{newMemberPw},</if>
        <if test="memberPhoneNum != null">
         mbr_phone_num = #{memberPhoneNum},</if>
        <if test="memberEmail != null">
         mbr_email = #{memberEmail}</if>
    </set>
       WHERE mbr_id = #{memberId};
</update>    

    <!-- 회원 티켓정보 조회 -->
    <!-- /* <![CDATA[<= ]]> 꺽쇠 텍스트인식 */ -->
    <select id="getTicketListById" parameterType="map" resultMap="TicketListResultMap" >
		SELECT 
			ctph.mbr_id, 
			ctph.ctph_date, 
			ctc.ctc_category, 
			pmc.pmc_name, 
			ctm.ctm_date, 
			ctm.ctm_return_status,
			COUNT(ctm.ctm_date) OVER () AS ticketUsedCnt, 
			COUNT(*) OVER () - COUNT(ctm.ctm_date) OVER () AS ticketNotUsedCnt
		FROM 
		    challenge_ticket_payment_history ctph INNER JOIN challenge_ticket_price ctp
		    USING(ctp_code) INNER JOIN challenge_ticket_category ctc
		    USING(ctc_code) INNER JOIN ticket_payment_method tpm
		    USING(tpm_num) INNER JOIN payment_method_category pmc
		    USING(pmc_code) INNER JOIN challenge_ticket_management ctm
		    USING(ctph_num)
		WHERE 
			ctph.mbr_id = #{memberId}
			<if test="startDate != null">
			AND ctph.ctph_date >= #{startDate} 
			</if>
			<if test="endDate != null">
			AND ctph.ctph_date <![CDATA[ <= ]]> #{endDate} 
			</if>
		ORDER BY ctph_date DESC
		LIMIT #{rowPerPage}	OFFSET #{offset};
    </select>
    
    <!-- 회원 티켓이력 총 행의 갯수 -->
   	<select id="getCntTicketHistory" resultType="int">
   		SELECT
			COUNT(*)
		FROM
			challenge_ticket_payment_history
		where
			mbr_id = #{memberId}
			<if test="startDate != null">
			AND ctph_date >= #{startDate} 
			</if>
			<if test="endDate != null">
			AND ctph_date <![CDATA[ <= ]]> #{endDate} 
			</if>
   	</select>
    
    
    
  </mapper>