<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="doself.user.members.mapper.MembersMapper">
    <resultMap type="Members" id="membersResultMap">
		<id 	column="mbr_id" 			         property="memberId"/>
		<result column="mbr_pw" 			         property="memberPw" />
		<result column="mbr_name" 			         property="memberName" />
		<result column="mg_code" 			         property="memberGrdCode" />
		<result column="mbr_email"			         property="memberEmail" />
		<result column="mbr_birth_date" 	         property="memberBrith" />
		<result column="mbr_phone_num" 		         property="memberPhoneNum" />
		<result column="mbr_gender" 		         property="memberGender" />
		<result column="ac_num" 			         property="memberAgeRange" />
		<result column="opening_ticket_count" 	   	 property="openTicketCnt" />
		<result column="participation_ticket_count"  property="partTicketCnt" />
		<result column="mbr_point" 	                 property="memberPoint" />
		<result column="mbr_image" 	                 property="memberImage" />
	</resultMap>
  		
        
    <!-- <select id="getMemberInfoById" parameterType="String" resultMap="membersResultMap"> -->
    <select id="getMemberInfoById" parameterType="String" resultMap="membersResultMap">
        SELECT 
            mbr_id, 
            mbr_pw, 
            mbr_email, 
            mbr_birth_date, 
            mbr_phone_num
        FROM 
            member
        WHERE
            mbr_id = #{memberId};
    </select>
  	
  		
  </mapper>