<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
    <link th:href="@{/assets/css/medicine/list.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/medicine/request-modal.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/medicine/confirm-modal.css}" rel="stylesheet" type="text/css" />
    <title>medicine info</title>
</head>
		
	<th:block layout:fragment="content-body">
   <div class="view-container">
        <section class="tag">
            <div class="filters">
                <input class="text" type="text" placeholder="영양제 이름을 입력해주세요">
                <button class="search"></button>
            </div>
            <div class="create-button">
                <button>등록 요청</button>
            </div>
        </section>
        <!-- 카드 목록 -->
        <th:block th:if="${medicineList !=null}">
	        <section class="card-grid" th:each="l : ${medicineList}">
	            <!-- 카드 1 -->
	            <a th:href="@{/medicine/view(medicineKeyNum=${l.medicineKeyNum})}" class="info-link" >
	                <div class="card">
	                    <img th:src="${l.medicineImg}" alt="카드 이미지">
	                    <div class="card-content">
	                        <span th:text="${l.medicineName}"></span>
	                        <p th:text="${l.medicineBrand}"></p>
	                    </div>
	                </div>
	            </a>
	
	        </section>
        </th:block>
    </div>
    
        <!-- 모달창 여기부터 복사 -->
    <div class="modal-container">
        <div class="popup-wrap" style="display: none;">
            <div class="popup">
                <div class="popup-body">
                    <div class="body-content">
                        <div class="body-titlebox">
                            <div id="modal-request-title">등록 요청</div>
                            <form id="modal-request-form">
                                <div>
                                    <span>분류</span>
                                    <div id="request-cate-container">
                                        <input type='radio' name='request-cate' value='food' />음식
                                        <input type='radio' name='request-cate' value='nutritionalSupplements' />영양제
                                    </div>
                                </div>
                                <div>
                                    <span>이름</span>
                                    <input id="modal-request-form__input" type="text" />
                                </div>
                            </form>
                            <div id="modal-request-form__buttons">
                                <button type="submit" id="modal-request-form__submitButton" data-target="confirm-message.html">요청</button>
                                <button type="button" id="modal-request-form__cancelButton">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 모달창 여기까지 복사 -->

        <!-- 모달창 여기부터 복사 -->
        <div class="modal-confirm-container">
            <div class="confirm-popup-wrap" style="display: none;">
                <div class="confirm-popup">
                    <div class="confirm-popup-body">
                        <div class="confirm-body-content">
                            <div class="confirm-body-titlebox">
                                <div id="modal-request-title">DoSelf</div>
                                <div id="confirm-message">
                                    성공적으로 제출 되었습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 모달창 여기까지 복사 -->
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/assets/js/medicine/modal.js}"></script>
    <script th:src="@{/assets/js/medicine/list.js}"></script>
    </th:block> 
</html>