<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/assets/css/food/view.css}" rel="stylesheet" type="text/css" />
    <title>food details</title>
</head>
<body>
    <div id="container">
        <div id="main-title">영양제 상세 정보</div>
        <div id="main-content" th:object="${medicineInfo}">
            <div class="main-item-header">
                <div id="item-title">
                    <img class="miit__image" th:src="*{medicineImg}" alt="">
                    <span th:text="*{medicineName}"></span>
                </div>
            </div>
            <div class="main-items">
                <div class="item-info">
                    영양제 명
                </div>
                <div id="item-name" th:text="*{medicineName}">
                </div>
            </div>
            <div class="main-items">
                <div class="item-info">
                   영양제 브랜드
                </div>
                <div id="item-price" th:text="*{medicineBrand}">
                </div>
            </div>
            <div class="main-items">
                <div class="item-info">
                   영양제 효능
                </div>
                <div id="item-price" th:text="*{medicineEfficacy}">
                </div>
            </div>
            <div class="main-items">
                <div class="item-info">
                   일일 권장 섭취량
                </div>
                <div id="item-price" th:text="*{medicineRecommendIntake}">
                </div>
            </div>
        </div>
        <div class="market-item-button-container">
            <a href="#">
                <button id="item-close__button">닫기</button>
            </a>
        </div>
    </div>

    <th:block layout:fragment="customJsResource">
	    <script>

	         $("#item-close__button").on("click", function() {
	             window.close();
	         });
	
	    </script>
    </th:block>

</body>
</html>