<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
	
		
	<th:block layout:fragment="content-header">
         <div class="content-header">
             <div>
             	<h2 class="content-title card-title">챌린지내 개인 기록</h2>
             </div>             
         </div>               	
	</th:block>
	
	<th:block layout:fragment="content-body">
		<div class="row">
			<div class="col">
				<div class="h5">인덱스화면</div>
			</div>
		</div>
	</th:block> 

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    <script th:src="@{/assets/js/layout.js}"></script>
    </th:block> 
</html>