<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입페이지</title>
	<link th:href="@{/manage/assets/css/admin.css?v=1.1}" rel="stylesheet" type="text/css" />
</head>
<body>
<main>
            <header class="main-header style-2 navbar">
                <div class="col-brand">
                    <a href="#" class="brand-wrap">
                        <img src="https://velog.velcdn.com/images/mekite/post/3958812c-a50f-426c-a9ca-363b12b9bd4a/image.PNG" class="logo" />
                    </a>
                </div>
                <div class="col-nav">
                    <ul class="nav">
                        
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        
                        
                    </ul>
                </div>
            </header>
            <section class="content-main mt-80 mb-80">
                <div class="card mx-auto card-login">
                    <div class="card-body">
                        <h4 class="card-title mb-4">회원가입</h4>
                        <form id="registerForm" th:action="@{/register}" method="post">
                            <div class="mb-3">
                                <label class="form-label">아이디</label>
                                <input id="mbrId" name="mbrId" class="form-control w-100" placeholder="아이디를 입력해주세요" type="text" />
                                <p id="checkId" style="color:red;">아이디를 입력해주세요.</p>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">비밀번호</label>
                                <input id="mbrPw" name="mbrPw" class="form-control w-100" placeholder="비밀번호를 입력해주세요" type="password" disabled="disabled"/>
                                <p id="checkPw" class="hide white-space" style="color:red;">비밀번호는 영문,숫자 포함 최소 8글자 ~최대 16글자를 입력해야합니다.</p>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">비밀번호 확인</label>
                                <input id="mbrCheckPw" name="mbrCheckPw" class="form-control w-100" placeholder="비밀번호를 한번 더 입력해주세요" type="password" disabled="disabled"/>
                                <p id="checkPw2" class="hide white-space" style="color:red;">비밀번호가 같지 않습니다. 다시 입력해주세요</p>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">이름</label>
                                <input id="mbrName" name="mbrName" class="form-control w-100" placeholder="이름을 입력해주세요" type="text" disabled="disabled"/>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">이메일</label>
                                <!-- <input id="mbrEmail" name="mbrEmail" class="form-control w-100" placeholder="이메일을 입력해주세요" type="text" disabled="disabled"/> -->
                                <div class="row gx-2 phone-input">
                                <input type="text" name="mbrEmail" id="mbrEmail" class="form-control" maxlength="20" placeholder="이메일을 입력해주세요" style="width: 175px;" disabled="disabled">
	                            <input type="text" name="mbrEmail" value="@" readonly="readonly" style="border:none; width: 35px; ">
	                            <select name="mbrEmail" class="form-control" style="width: 100px;" disabled="disabled"> 
	                                <option value="gmail.com">gmail.com</option>
	                                <option value="naver.com">naver.com</option>
	                                <option value="daum.net">daum.net</option>
	                            </select>
	                            </div>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">전화번호</label>
                                <div class="row gx-2 phone-input">       
			                        <input type="text" id="phone-number1" name="mbrPhoneNum" maxlength="3" class="form-control pSize" 
			                        	   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" disabled="disabled"> -
			                        <input type="text" id="phone-number2" name="mbrPhoneNum" maxlength="4" class="form-control pSize"
			                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" disabled="disabled"> -
			                        <input type="text" id="phone-number3" name="mbrPhoneNum" maxlength="4" class="form-control pSize"
			                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" disabled="disabled">
                                </div>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">생년월일</label>
                                <input id="mbrBirthDate" name="mbrBirthDate" class="form-control w-100" placeholder="생년월일을 입력해주세요" type="date" disabled="disabled"/>
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <label class="form-label">성별</label>
                                <select class="form-control w-100" id="mbrGender" name="mbrGender" disabled="disabled">
                                    <option value="남">남자</option>
                                    <option value="여">여자</option>
                                </select>

                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <p class="small text-center text-muted text-wrap">가입함으로써 귀하는 당사의 사용자 공지 및 개인정보 보호정책을 읽고 동의했음을 확인하게 됩니다.</p>
                            </div>
                            <!-- form-group  .// -->
                            <div class="mb-4">
                                <button type="submit" id="registerBtn" class="btn btn-primary w-100" disabled="disabled">회원가입</button>
                            </div>
                            <!-- form-group// -->
                        </form>                       
                        
                        <p class="text-center mb-2">계정이 있으신가요? <a th:href="@{/login}">로그인하기</a></p>
                    </div>
                </div>
            </section>
            <footer class="main-footer text-center">
                <p class="font-xs">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; DoSelf, Inc.
                </p>
                <p class="font-xs mb-30">All rights reserved</p>
            </footer>
        </main>
</body>
	<!--/* 사용자 추가 js file */-->
	<th:block layout:fragment="customJsResource">
		<script th:src="@{/manage/assets/js/vendors/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/manage/assets/js/vendors/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/manage/assets/js/vendors/jquery.fullscreen.min.js}"></script>
		<script th:src="@{/manage/assets/js/main.js?v=1.1}" type="text/javascript"></script>
	</th:block>
        
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script th:inline="javascript">
    		const msg = /*[[${msg}]]*/ "msg";
    		if(msg) alert(msg);
    		//const message = /*[[${message}]]*/ "message";
    		//if(message) alert(message);
    		
    		// 아이디 영어, 숫자만 입력가능
    		function onlyNumberAndEnglish(id) {
    			
    			return /^[A-Za-z0-9][A-Za-z0-9]{1,20}$/.test(id);
			}
    		// 비밀번호 8~16자 입력가능
    		function strongPassword(pw) {
    			
    			return /^(?=.*\d)[0-9a-zA-Z]{8,16}$/.test(pw);
			}
    		
    		
    		
    		// 아이디 입력할시 실행
    		$('#mbrId').on('change',function(){
	    		const checkMbrId = $('#mbrId').val();
	    		
	    		// 아이디 영어,숫자가 아닌 값이 들어갔을경우
	    		if(onlyNumberAndEnglish(checkMbrId) == false){
	    			// 출력 텍스트변경
    				$('#checkId').text('아이디는 총 20자 영어와 숫자만 입력가능합니다.')
					 .css({'color': 'red'});
    				
	    			// 활성화 됬던 인풋태그들 비활성화
    				$('#registerForm').find('input, select')
					  .not('#mbrId')
					  .prop('disabled',true);
	    			
	    			// 함수종료;
	    			return;
	    		}
	    		
	    		
	    		// 입력했던 아이디 지웠을때
	    		if(checkMbrId == ''){
	    			// 출력 텍스트변경
    				$('#checkId').text('아이디를 입력해주세요.')
					 .css({'color': 'red'});
    				// 활성화 됬던 인풋태그들 비활성화
    				$('#registerForm').find('input, select')
					  .not('#mbrId')
					  .prop('disabled',true);
    				//함수 종료
    				return;
    			}
	    		//ajax 요청
	    		const request = $.ajax({
	    			url : '/register/idCheck',
	    			method : 'POST',
	    			data : {'mbrId' : checkMbrId},
	    			dataType : 'json'
	    		});
	    		// ajax 요청 성공
	    		request.done(function(data){
	    			const isDuplicate = data;
	    			// 중복아이디가 존재하면 비밀번호입렵 비활성화, 존재하지 않으면 비밀번호입력 활성화
	    			$('#registerForm').find('#mbrPw')
	    							  .prop('disabled',isDuplicate);
	    			// 비밀번호 조건문구 보여주기
	    			$('#checkPw').removeClass('hide');
	    			
	    			// 중복아이디 존재할시 출력메시지
	    			if(isDuplicate){
	    				$('#checkId').text('이미 사용중인 아이디 입니다.')
	    							 .css({'color': 'red'});
	    			}
	    			// 중복아이디 존재하지 않을 시 출력메시지
	    			else{
	    				$('#checkId').text('사용가능한 아이디 입니다.')
	    							 .css({'color': 'skyblue'});	    				
	    			}
	    		});
	    		
	    		request.fail(function(jQXHR, textStatus, error){
    				console.log(error);
    			});	
	    		
	    		
    		});    			    	
    		
    		$('#mbrPw').on('change',function(){
    			const mbrPw = $('#mbrPw').val();
    			//비밀번호 8자~16 판별 아닐경우
    			if(strongPassword(mbrPw) == false){
    				//비밀번호 조건문구 보여주기
    				$('#checkPw').removeClass('hide');
    				$('#checkPw').text('비밀번호는 영문,숫자 포함 최소 8글자 ~최대 16글자를 입력해야합니다.')
					 .css({'color': 'red'});
    			}
    			// 비밀번호가 조건에 맞게 입력되면
    			else{
    				//비밀번호 조건문구 보여주기
    				$('#checkPw').text('비밀번호가 조건에 맞습니다.')
    							 .css({'color':'skyblue'});
    				$('#registerForm').find('#mbrCheckPw')					  
					  				  .prop('disabled',false);
    				// 비밀번호확인 조건문구 보여주기
	    			$('#checkPw2').removeClass('hide');
    			}
    			
    			if(mbrPw == ''){
	    			// 출력 텍스트변경
    				$('#checkPw').text('비밀번호를 입력해주세요.')
					 .css({'color': 'red'});
    				// 활성화 됬던 인풋태그들 비활성화
    				$('#registerForm').find('input, select')
					  .not('#mbrId, #mbrPw')
					  .prop('disabled',true);
    				
    				$('#checkPw2').addClass('hide');
    				//함수 종료
    				return;
    			}
    		});
    		$('#mbrCheckPw').on('change',function(){
    			const mbrPw = $('#mbrPw').val();
    			const mbrCheckPw = $(this).val();
    			// 비밀번호와 비밀번호 확인이 같지 않으면
    			if(mbrPw != mbrCheckPw){
    				
    				// 다른인풋 비활성화
	    			$('#registerForm').find('input, select')
					  .not('#mbrId, #mbrPw, #mbrCheckPw')
					  .prop('disabled',true);
    			}
    			else{
    				// 비밀번호확인 문구보여주기
	    			$('#checkPw2').text('비밀번호가 일치합니다.')
    							 .css({'color':'skyblue'});
    				// 비밀번호 확인이 일치하면 나머지 인풋태그 활성화
	    			$('#registerForm').find('input, select')
					  .not('#mbrId, #mbrPw, #mbrCheckPw')
					  .prop('disabled',false);
    			}
    		});
    		
    		
    		$(document).ready(function () {
    			// 인풋에 값을 입력하면 실행
                $('#registerForm input').on('input', function () {
                    
                	let isAllFilled = true;
                	
                	//인풋에 값이 다 입력되있는지 조회하는데
                    $('#registerForm input').each(function () {
                    	//입력한값이 비어있는 값이 있으면 조건값 false설정
                        if ($(this).val().trim() === '') {
                            isAllFilled = false;
                        }
                    });
                	// 입력한값이 비어있는 값이 있으면 회원가입버튼 비활성화
                	// 모든인풋태그에 값이 입력되었으면 회원가입버튼 활성화
                    $('#registerBtn').prop('disabled', !isAllFilled);
                });
      			
    			//회원가입 버튼 클릭시 실행
                $('#registerBtn').click(function (e) {
                    e.preventDefault();
                    let isSubmit = true;
       				// 입력값을 다 입력해놓고 다시 지우는 경우도 있어서 회원가입버튼 누를때 한번더 판별
                    // 인풋태그들을 조회
                    $('#registerForm input[type="text"]').each(function () {
						// 인풋태그들에 입력한값이 빈값이면
                    	if ($(this).val().trim() === '') {
                    		//조건값 false
                    		isSubmit = false;
                    		//입력되지않은 인풋태그로 포커스이동
                    		$(this).focus();
                    		//함수 종료
	                        return false;
                    	}                  
	                });
       				// 모든값이 입력되어 있으면 전송
                    if (isSubmit) {
                    	$('#registerForm').submit();
                    }
                });
            });
    		
    	</script>
    </th:block>
</html>