<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	
		
		<th:block layout:fragment="content-header">
          <div class="content-header">
              <div>
              	<h2 class="content-title card-title">결제 내역</h2>
              </div>             
          </div>                                 
		</th:block>
		
		<th:block layout:fragment="content-body">
			<div class="card mb-4">                    
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-6 col-6 col-md-3">
                              <select class="form-select" id="searchType" onchange="updateSearchSuggestions()">                                
                                <option value="mbrName">이름</option>
                                <option value="ctcCategory">상품명</option>
                              </select>
                            </div>
                            <!-- 검색어 입력 -->
                            <div class="col-lg-4 col-md-6 me-auto searchInput">
                                <input list="searchSuggestions" type="text" placeholder="검색어를 입력하세요" class="form-control" id="searchKeyword" autocomplete=off />
                                <datalist id="searchSuggestions"></datalist>                               
                                
                                <p class="searchLeft align-content">날짜</p>
                                <input type="date" class="date date-container searchLeft" id="startDate" />
                                <p class="searchLeft">~</p> 
                                <input type="date" class="date date-container searchLeft" id="endDate" />
                                
                                <a id="searchBtn" class="btn btn-sm font-sm rounded btn-brand"><i class="material-icons md-image_search"></i>검색</a>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">결제번호</th>
                                        <th scope="col">아이디</th>                                        
                                        <th scope="col">결제수단번호</th>                                        
                                        <th scope="col">결제일시</th>
                                        <th scope="col">상품명</th>                                        
                                        <th scope="col">상품가격</th>                                        
                                        <th scope="col">결제상태</th>                                        
                                        <th scope="col">환불상태</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                	<th:block th:if="${paymentList != null}">
                                		<tr th:each="l : ${paymentList}" class="text-center">
                                			<td th:text="${l.ctphNum}"></td>
                                			<td th:text="${l.memberInfo.mbrName}"></td>
                                			<td th:text="${l.tpmNum}"></td>
                                			<td th:text="${l.ctphDate}"></td>
                                			<td th:text="${l.ticketPriceInfo.ctcCategory}"></td>
                                			<td th:text="${l.ticketPriceInfo.ctpPrice}"></td>
                                			<td th:text="${l.ctphStatus}"></td>
                                			<td th:text="${l.ctphReturnStatus}"></td>
                                		</tr>                                
                                	</th:block>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
		</th:block> 

		<!--/* 사용자 추가 js file */-->
        <th:block layout:fragment="customJsResource">
        	<script th:src="@{/manage/assets/js/admin/admin-payment-list.js}"></script>
        </th:block>
         
        <!--/* 사용자 추가 js script */-->
        <th:block layout:fragment="customJs">
        	<script>
        	
        	</script>
        </th:block> 
</html>